Repository pydata/xarray, changes with the labels that .github/labeler.yml gives for each.
All labels: Automation, CI, dependencies, topic-arrays, topic-backends, topic-cftime, topic-CF conventions, topic-dask, topic-DataTree, topic-documentation, topic-groupby, topic-html-repr, topic-hypothesis, topic-indexing, topic-NamedArray, topic-performance, topic-plotting, topic-rolling, topic-testing, topic-typing, topic-zarr, io

Mypy fixes
  xarray/core/datatree_render.py
  xarray/core/formatting_html.py
  xarray/core/options.py
Labels: topic-DataTree, topic-documentation, topic-html-repr

Update xarray/tests/test_formatting_html.py
  xarray/tests/test_formatting_html.py
Labels: topic-documentation

sets min version to `pydap==3.5.0`
  ci/requirements/min-all-deps.yml
  xarray/backends/pydap_.py
  xarray/tests/test_backends.py
Labels: CI, dependencies, topic-backends, topic-documentation, io

Fix doctests
  xarray/core/dataarray.py
Labels: topic-documentation

Fix doctests (#10230)
  xarray/core/dataarray.py
Labels: topic-documentation

Fix doctests (#10230)
  xarray/core/dataarray.py
Labels: topic-documentation

Fix mypy
  xarray/computation/fit.py
  xarray/core/utils.py
  xarray/plot/dataarray_plot.py
  xarray/plot/utils.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_datatree.py
  xarray/tests/test_pandas_to_xarray.py
Labels: topic-documentation, topic-plotting

.github/labeler.yml:

Automation:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**

CI:
  - changed-files:
      - any-glob-to-any-file:
          - ci/**

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - ci/requirements/*

topic-arrays:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/core/duck_array_ops.py

topic-backends:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/backends/**

topic-cftime:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/coding/*time*

topic-CF conventions:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/conventions.py

topic-dask:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/compat/dask*
          - xarray/core/parallel.py

topic-DataTree:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/core/datatree*

topic-documentation:
  - changed-files:
      - any-glob-to-any-file:
          - doc/*
          - "!doc/whats-new.rst"
          - doc/**/*

topic-groupby:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/core/groupby.py

topic-html-repr:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/core/formatting_html.py

topic-hypothesis:
  - changed-files:
      - any-glob-to-any-file:
          - properties/**
          - xarray/testing/strategies.py

topic-indexing:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/core/indexes.py
          - xarray/core/indexing.py

topic-NamedArray:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/namedarray/*

topic-performance:
  - changed-files:
      - any-glob-to-any-file:
          - asv_bench/benchmarks/**

topic-plotting:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/plot/*
          - xarray/plot/**/*

topic-rolling:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/computation/rolling.py
          - xarray/computation/rolling_exp.py

topic-testing:
  - changed-files:
      - any-glob-to-any-file:
          - conftest.py
          - xarray/testing/*

topic-typing:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/core/types.py

topic-zarr:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/backends/zarr.py

io:
  - changed-files:
      - any-glob-to-any-file:
          - xarray/backends/**
