Repository pydata/xarray, changes with the labels that .github/labeler.yml gives for each.
All labels: Automation, CI, dependencies, topic-arrays, topic-backends, topic-cftime, topic-CF conventions, topic-combine, topic-dask, topic-DataTree, topic-faq, topic-groupby, topic-html-repr, topic-hypothesis, topic-indexing, topic-NamedArray, topic-performance, topic-plotting, topic-rolling, topic-testing, topic-typing, topic-zarr, io

Fix typos found by codespell
  doc/internals/interoperability.rst
  xarray/core/dataset.py
  xarray/tests/test_duck_array_ops.py
  xarray/util/generate_aggregations.py
Labels: none

Deprecate certain cftime frequency strings following pandas (#8415)
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/frequencies.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/parallel.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_calendar_ops.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_missing.py
  xarray/tests/test_units.py
  xarray/tests/test_weighted.py
Labels: topic-cftime, topic-dask

Deprecate certain cftime frequency strings following pandas (#8415)
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/frequencies.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/parallel.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_calendar_ops.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_missing.py
  xarray/tests/test_units.py
  xarray/tests/test_weighted.py
Labels: topic-cftime, topic-dask

[skip-ci] Small updates to IO docs. (#8452)
  doc/user-guide/io.rst
  doc/whats-new.rst
Labels: none

[skip-ci] Small updates to IO docs. (#8452)
  doc/user-guide/io.rst
  doc/whats-new.rst
Labels: none

Fix typos found by codespell (#8457)
  doc/internals/interoperability.rst
  xarray/core/dataset.py
  xarray/tests/test_duck_array_ops.py
  xarray/util/generate_aggregations.py
Labels: none

Fix typos found by codespell (#8457)
  doc/internals/interoperability.rst
  xarray/core/dataset.py
  xarray/tests/test_duck_array_ops.py
  xarray/util/generate_aggregations.py
Labels: none

Pin mypy < 1.7
  .github/workflows/ci-additional.yaml
Labels: Automation

.github/labeler.yml:

Automation:
  - .github/*
  - .github/**/*

CI:
  - ci/*
  - ci/**/*

dependencies:
  - requirements.txt
  - ci/requirements/*

topic-arrays:
  - xarray/core/duck_array_ops.py

topic-backends:
  - xarray/backends/*
  - xarray/backends/**/*

topic-cftime:
  - xarray/coding/*time*

topic-CF conventions:
  - xarray/conventions.py

topic-combine:
  - xarray/core/combine.py

topic-dask:
  - xarray/core/dask*
  - xarray/core/parallel.py

topic-DataTree:
  - xarray/core/datatree*

# topic-documentation:
#  - ['doc/*', '!doc/whats-new.rst']
#  - doc/**/*

topic-faq:
  - doc/howdoi.rst

topic-groupby:
  - xarray/core/groupby.py

topic-html-repr:
  - xarray/core/formatting_html.py

topic-hypothesis:
  - xarray/properties/*
  - xarray/testing/strategies/*

topic-indexing:
  - xarray/core/indexes.py
  - xarray/core/indexing.py

topic-NamedArray:
  - xarray/namedarray/*

topic-performance:
  - asv_bench/benchmarks/*
  - asv_bench/benchmarks/**/*

topic-plotting:
  - xarray/plot/*
  - xarray/plot/**/*

topic-rolling:
  - xarray/core/rolling.py
  - xarray/core/rolling_exp.py

topic-testing:
  - conftest.py
  - xarray/testing.py
  - xarray/testing/*

topic-typing:
  - xarray/core/types.py

topic-zarr:
  - xarray/backends/zarr.py

io:
  - xarray/backends/*
  - xarray/backends/**/*
