Repository pydata/xarray, pull requests merged in 2018-05, with the labels that each got.

#2092 Plotting upgrades
  doc/plotting.rst
  doc/whats-new.rst
  xarray/plot/plot.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: needs review, plotting

#2168 Fix DataArray.stack() with non-unique coordinates on pandas 0.23
  doc/whats-new.rst
  xarray/core/utils.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_utils.py
Labels: needs review

#2174 Datasets more robust to non-string keys
  doc/whats-new.rst
  setup.cfg
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_utils.py
Labels: needs work

#2169 Fix DataArray.groupby().reduce() mutating input array
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/tests/test_computation.py
  xarray/tests/test_groupby.py
Labels: needs review

#2155 Validate output dimension sizes with apply_ufunc
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/tests/test_computation.py
Labels: needs review
