Repository pydata/xarray, pull requests merged in 2020-11, with the labels that each got.

#4035 Support parallel writes to regions of zarr stores
  doc/io.rst
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Labels: zarr

#4569 pin h5py to v2.10
  ci/requirements/py36.yml
  ci/requirements/py37-windows.yml
  ci/requirements/py37.yml
  ci/requirements/py38-all-but-dask.yml
  ci/requirements/py38.yml
Labels: maintenance, upstream issue

#4510 rolling keep_attrs & default True
  doc/whats-new.rst
  xarray/core/common.py
  xarray/core/rolling.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: metadata

#4568 pd.Index: replace set operations
  doc/whats-new.rst
  xarray/core/alignment.py
Labels: maintenance, upstream issue

#4590 suppress 'ambiguous reference date string' warning
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
Labels: cftime, maintenance

#4592 rolling_exp: keep_attrs and typing
  doc/whats-new.rst
  xarray/core/rolling_exp.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: internals, maintenance, metadata
