Repository pydata/xarray, pull requests merged in 2020-12, with the labels that each got.

#4666 upstream-dev: mention sparse
  ci/install-upstream-wheels.sh
Labels: maintenance, testing

#4577 Backends entrypoints
  setup.cfg
  xarray/backends/__init__.py
  xarray/backends/api.py
  xarray/backends/apiv2.py
  xarray/backends/cfgrib_.py
  xarray/backends/h5netcdf_.py
  xarray/backends/plugins.py
  xarray/backends/zarr.py
  xarray/tests/test_plugins.py
Labels: CZI Grant, backends

#4667 unify zarr chunking with other chunking in apiv2.open_dataset
  xarray/backends/apiv2.py
Labels: CZI Grant, backends

#4633 change default in ds.chunk and datarray.chunk variable.chunk
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
Labels: CZI Grant, backends

#4664 rasterio no geotransform: update warning message
  xarray/tests/test_backends.py
Labels: backends, maintenance, testing

#4669 add encodings["preferred_chunks"], used in open_dataset instead of en…
  xarray/backends/zarr.py
  xarray/core/dataset.py
Labels: CZI Grant, backends

#4673 Port all the engines to apiv2
  setup.cfg
  xarray/backends/api.py
  xarray/backends/apiv2.py
  xarray/backends/cfgrib_.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/pseudonetcdf_.py
  xarray/backends/pydap_.py
  xarray/backends/pynio_.py
  xarray/backends/scipy_.py
  xarray/backends/store.py
  xarray/backends/zarr.py
Labels: CZI Grant, backends

#4694 CI: run tests in parallel (pytest-xdist)
  ci/azure/install.yml
  ci/azure/unit-tests.yml
  ci/min_deps_check.py
  ci/requirements/py36-bare-minimum.yml
  ci/requirements/py36-min-all-deps.yml
  ci/requirements/py36-min-nep18.yml
  ci/requirements/py36.yml
  ci/requirements/py37-windows.yml
  ci/requirements/py37.yml
  ci/requirements/py38-all-but-dask.yml
  ci/requirements/py38.yml
  doc/whats-new.rst
  xarray/tests/test_plot.py
  xarray/tests/test_sparse.py
Labels: CI

#4701 Allow pathlib.Path to be passed to all engines
  xarray/backends/netCDF4_.py
  xarray/backends/zarr.py
Labels: CZI Grant, backends

#4707 APIv2: pass user defined `filename_or_obj` to backends as is
  xarray/backends/api.py
  xarray/backends/apiv2.py
Labels: CZI Grant, backends

#4719 Remove close_on_error store.py
  xarray/backends/cfgrib_.py
  xarray/backends/netCDF4_.py
  xarray/backends/pseudonetcdf_.py
  xarray/backends/pydap_.py
  xarray/backends/pynio_.py
  xarray/backends/scipy_.py
  xarray/backends/store.py
  xarray/backends/zarr.py
Labels: CZI Grant, backends

#4709 APIv2: move all _autodetect_engine logic to the plugins
  xarray/backends/api.py
  xarray/backends/apiv2.py
  xarray/backends/cfgrib_.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/plugins.py
  xarray/backends/pydap_.py
  xarray/backends/scipy_.py
  xarray/backends/store.py
  xarray/core/utils.py
  xarray/tests/test_backends.py
Labels: CZI Grant, backends

#4721 APIv2 internal cleanups
  xarray/backends/api.py
  xarray/backends/apiv2.py
  xarray/backends/plugins.py
Labels: CZI Grant, backends

#4728 Remove unexpected warnings in tests
  xarray/backends/plugins.py
  xarray/tests/test_backends.py
  xarray/tests/test_plugins.py
Labels: CZI Grant, backends

#4725 remove autoclose in open_dataset and related warning test
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/apiv2.py
  xarray/tests/test_backends.py
Labels: CZI Grant, backends

#4724 Remove entrypoints in setup for internal backends
  setup.cfg
  xarray/backends/cfgrib_.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/plugins.py
  xarray/backends/pseudonetcdf_.py
  xarray/backends/pydap_.py
  xarray/backends/pynio_.py
  xarray/backends/scipy_.py
  xarray/backends/store.py
  xarray/backends/zarr.py
  xarray/tests/test_plugins.py
Labels: CZI Grant, backends

#4731 Close files in PseudoNetCDF backend to avoid CachingFileManager warnings.
  xarray/tests/test_backends.py
Labels: backends

#4686 fix links in the documentation
  doc/conf.py
  doc/whats-new.rst
  xarray/core/combine.py
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/concat.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/rolling.py
Labels: documentation
