Repository pydata/xarray, pull requests merged in 2021-11, with the labels that each got.

#5845 remove requirement for setuptools.pkg_resources
  ci/min_deps_check.py
  ci/requirements/py37-bare-minimum.yml
  ci/requirements/py37-min-all-deps.yml
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
  setup.cfg
  xarray/__init__.py
  xarray/backends/plugins.py
  xarray/core/formatting_html.py
  xarray/static/__init__.py
  xarray/static/css/__init__.py
  xarray/static/html/__init__.py
Labels: plan to merge

#5903 Explicitly list all reductions in api.rst
  doc/api-hidden.rst
  doc/api.rst
  doc/whats-new.rst
Labels: plan to merge

#5931 fix the detection of backend entrypoints
  ci/requirements/py37-bare-minimum.yml
  ci/requirements/py37-min-all-deps.yml
  doc/whats-new.rst
  xarray/backends/plugins.py
Labels: plan to merge

#5871 Generator for groupby reductions
  .pre-commit-config.yaml
  doc/whats-new.rst
  xarray/core/_reductions.py
  xarray/core/arithmetic.py
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/util/generate_reductions.py
Labels: plan to merge

#5948 Fix plot.line crash for data of shape (1, N) in _title_for_slice on format_item
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/tests/test_plot.py
Labels: plan to merge

#5922 Add groupby & resample benchmarks
  asv_bench/benchmarks/groupby.py
Labels: run-benchmark

#5959 Fix module name retrieval in `backend.plugins.remove_duplicates()`, plugin tests
  doc/whats-new.rst
  xarray/backends/plugins.py
  xarray/tests/test_plugins.py
Labels: needs review

#5986 Use set_options for asv bottleneck tests
  asv_bench/asv.conf.json
  asv_bench/benchmarks/dataarray_missing.py
  asv_bench/benchmarks/rolling.py
Labels: run-benchmark

#6025 Simplify missing value handling in xarray.corr
  xarray/core/computation.py
Labels: plan to merge

#6019 Use complex nan by default when interpolating out of bounds
  doc/whats-new.rst
  xarray/core/missing.py
  xarray/tests/test_interp.py
  xarray/tests/test_missing.py
Labels: plan to merge

#6007 Use condas dask-core in ci instead of dask to speedup ci and reduce dependencies
  ci/requirements/doc.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/py37-min-all-deps.yml
Labels: plan to merge
