Repository pydata/xarray, pull requests merged in 2021-05, with the labels that each got.

#5149 Convert attribute and dimension names to strings when generating HTML repr
  xarray/core/formatting_html.py
  xarray/tests/test_formatting_html.py
Labels: html-repr

#4740 Faster interp
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/missing.py
Labels: performance

#5289 Explained what a deprecation cycle is
  doc/contributing.rst
  doc/whats-new.rst
Labels: documentation

#5288 Raise error for invalid reference date for encoding time units
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Labels: ready to merge

#5296 More robust guess_can_open for netCDF4/scipy/h5netcdf entrypoints
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/scipy_.py
  xarray/core/utils.py
  xarray/tests/test_backends.py
Labels: ready to merge

#5311 Remove version checks for older versions than the min deps
  xarray/core/dataset.py
  xarray/core/variable.py
Labels: ready to merge

#5239 Add drop_duplicates for dims
  doc/api.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/tests/test_dataarray.py
Labels: ready to merge

#5314 Add version variable for optional imports in pycompat
  xarray/core/dask_array_compat.py
  xarray/core/indexing.py
  xarray/core/pycompat.py
  xarray/core/utils.py
Labels: ready to merge

#4753 Replace SortedKeysDict with dict
  doc/whats-new.rst
  xarray/core/combine.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/utils.py
  xarray/tests/test_dataset.py
  xarray/tests/test_utils.py
Labels: ready to merge

#5347 Use dask fixture in DataArray tests
  xarray/tests/test_dataarray.py
Labels: ready to merge

#5350 Add dask stack tests
  xarray/tests/test_dataarray.py
Labels: ready to merge

#5362 Check dimensions before applying weighted operations
  doc/whats-new.rst
  xarray/core/weighted.py
  xarray/tests/test_weighted.py
Labels: ready to merge

#5352 prefer the objects _repr_inline_ over xarray's custom reprs
  xarray/core/formatting.py
Labels: ready to merge

#5284 Dask-friendly nan check in xr.corr() and xr.cov()
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/tests/test_computation.py
Labels: ready to merge
