Repository pydata/xarray, pull requests merged in 2021-09, with the labels that each got.

#5716 Added get_options method
  doc/api.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/core/options.py
  xarray/tests/test_options.py
Labels: plan to merge

#5759 update development roadmap
  doc/roadmap.rst
Labels: plan to merge

#5761 Fix pyi / py issue in mypy
  setup.cfg
  xarray/core/_typed_ops.pyi
  xarray/core/types.py
  xarray/util/generate_ops.py
Labels: plan to merge

#5793 MAINT: IOError -> OSError
  xarray/tests/test_backends.py
Labels: plan to merge

#5789 fix float formatting in a plot's title
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/tests/test_plot.py
Labels: plan to merge

#5765 BUG: Fix the incorrect tags in the OG's meta data
  doc/conf.py
Labels: plan to merge

#5640 Fix performance bug from cftime import
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/core/common.py
  xarray/plot/utils.py
Labels: topic-performance, topic-cftime, plan to merge

#5571 Rely on NEP-18 to dispatch to dask in duck_array_ops
  doc/whats-new.rst
  xarray/core/duck_array_ops.py
  xarray/core/nanops.py
  xarray/tests/test_units.py
  xarray/ufuncs.py
Labels: needs review

#5519 Type hints for combine functions
  xarray/core/combine.py
Labels: plan to merge
