Repository pydata/xarray, pull requests merged in 2021-01, with the labels that each got.

#4737 Declare only BASIC indexing for cfgrib. Fixes #4733 and ecmwf/cfgrib#157
  doc/whats-new.rst
  xarray/backends/cfgrib_.py
  xarray/tests/test_backends.py
Labels: backends

#4744 Speed up Dataset._construct_dataarray
  doc/whats-new.rst
  xarray/core/dataset.py
Labels: performance

#4742 speedup attribute style access and tab completion
  doc/whats-new.rst
  xarray/core/common.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/utils.py
Labels: performance

#4729 Trigger upstream CI on cron schedule (by default)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/upstream-dev-ci.yaml
Labels: CI

#4777 Remove special case in guess_engines
  xarray/backends/plugins.py
  xarray/core/utils.py
  xarray/tests/test_backends.py
Labels: CZI Grant, backends

#4730 Migrate CI from azure pipelines to GitHub Actions
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/stale.yml
  .github/workflows/ci-additional.yaml
  .github/workflows/ci-pre-commit.yml
  .github/workflows/ci.yaml
  .github/workflows/upstream-dev-ci.yaml
  .pre-commit-config.yaml
  README.rst
  azure-pipelines.yml
  ci/azure/add-conda-to-path.yml
  ci/azure/install.yml
  ci/azure/unit-tests.yml
  ci/min_deps_check.py
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/py38-all-but-dask.yml
  ci/requirements/py38.yml
  doc/_templates/autosummary/base.rst
  doc/contributing.rst
  doc/gallery/README.txt
  doc/groupby.rst
  doc/howdoi.rst
  doc/indexing.rst
  doc/installing.rst
  doc/internals.rst
  doc/interpolation.rst
  doc/io.rst
  doc/plotting.rst
  doc/quick-overview.rst
  doc/reshaping.rst
  doc/weather-climate.rst
  doc/whats-new.rst
  licenses/PYTHON_LICENSE
  xarray/tests/data/example.ict
  xarray/tests/test_plot.py
Labels: CI

#4723 scatter plot by order of the first appearance of hue
  doc/whats-new.rst
  xarray/plot/dataset_plot.py
  xarray/tests/test_plot.py
Labels: plotting

#4795 Expand user dir paths (~) in open_mfdataset.
  doc/whats-new.rst
  xarray/backends/api.py
Labels: backends
