Repository pydata/xarray, pull requests merged in 2021-06, with the labels that each got.

#5410 Promote backend test fixture to conftest
  xarray/tests/conftest.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: ready to merge

#5412 Add junit test results to CI
  .github/workflows/ci.yaml
Labels: ready to merge

#5433 Run tests only on python 3.7 & 3.9
  .github/workflows/ci.yaml
  doc/whats-new.rst
Labels: ready to merge

#5178 Rolling exp sum
  doc/whats-new.rst
  xarray/core/rolling_exp.py
  xarray/tests/test_dataarray.py
Labels: ready to merge

#5449 fix dask meta and output_dtypes error
  xarray/tests/test_computation.py
Labels: plan to merge, topic-dask, topic-testing

#5408 `differentiate` should not cast to `numpy.array`
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_units.py
Labels: plan to merge

#5456 Use checks from .pycompat in more places
  xarray/core/computation.py
  xarray/core/duck_array_ops.py
Labels: plan to merge

#5411 Use backend in ds fixture
  xarray/tests/test_dataset.py
Labels: plan to merge

#5394 Allow selecting variables using a list with mixed data types
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#5393 Don't drop unreduced variables
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#5378 Dataset subset assignments in doc
  doc/user-guide/indexing.rst
Labels: plan to merge

#5345 Remove npcompat.moveaxis
  xarray/core/duck_array_ops.py
  xarray/core/npcompat.py
  xarray/core/variable.py
Labels: needs review

#5502 Use integer type hints in chunk functions
  xarray/core/dataarray.py
  xarray/core/dataset.py
Labels: plan to merge

#5464 Allow plotting categorical data
  doc/whats-new.rst
  xarray/plot/plot.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: plan to merge

#5427 DOC: zarr note on encoding
  xarray/core/dataset.py
Labels: needs review

#5476 Add coarsen.construct
  doc/api-hidden.rst
  doc/howdoi.rst
  doc/whats-new.rst
  xarray/core/rolling.py
  xarray/core/variable.py
  xarray/tests/test_coarsen.py
Labels: plan to merge

#5548 Fix 2 type annotations in dataarray.py
  xarray/core/dataarray.py
Labels: plan to merge
