Repository pydata/xarray, pull requests merged in 2021-03, with the labels that each got.

#4810 WIP: add new backend api documentation
  doc/api-hidden.rst
  doc/internals.rst
  xarray/backends/cfgrib_.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/pseudonetcdf_.py
  xarray/backends/pydap_.py
  xarray/backends/pynio_.py
  xarray/backends/rasterio_.py
  xarray/backends/scipy_.py
  xarray/backends/store.py
  xarray/backends/zarr.py
  xarray/conventions.py
  xarray/core/indexing.py
  xarray/core/variable.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexing.py
  xarray/tests/test_variable.py
Labels: CZI Grant, backends, documentation

#4989 Switch backend API to v2
  .github/workflows/ci-additional.yaml
  doc/internals.rst
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/apiv2.py
  xarray/backends/pynio_.py
  xarray/core/utils.py
  xarray/tests/test_backends_api.py
  xarray/tests/test_utils.py
Labels: CZI Grant, backends

#4835 📚 New theme & rearrangement of the docs
  .gitignore
  ci/requirements/doc.yml
  doc/Makefile
  doc/_static/style.css
  doc/_static/thumbnails/ERA5-GRIB-example.png
  doc/_static/thumbnails/ROMS_ocean_model.png
  doc/_static/thumbnails/area_weighted_temperature.png
  doc/_static/thumbnails/monthly-means.png
  doc/_static/thumbnails/multidimensional-coords.png
  doc/_static/thumbnails/toy-weather-data.png
  doc/_static/thumbnails/visualization_gallery.png
  doc/_templates/autosummary/base.rst
  doc/_templates/layout.html
  doc/conf.py
  doc/contributing.rst
  doc/ecosystem.rst
  doc/examples.rst
  doc/gallery.rst
  doc/getting-started-guide/faq.rst
  doc/getting-started-guide/index.rst
  doc/getting-started-guide/installing.rst
  doc/getting-started-guide/quick-overview.rst
  doc/getting-started-guide/why-xarray.rst
  doc/index.rst
  doc/internals/duck-arrays-integration.rst
  doc/internals/extending-xarray.rst
  doc/internals/how-to-add-new-backend.rst
  doc/internals/index.rst
  doc/internals/variable-objects.rst
  doc/internals/zarr-encoding-spec.rst
  doc/roadmap.rst
  doc/team.rst
  doc/tutorials-and-videos.rst
  doc/user-guide/combining.rst
  doc/user-guide/computation.rst
  doc/user-guide/dask.rst
  doc/user-guide/data-structures.rst
  doc/user-guide/duckarrays.rst
  doc/user-guide/groupby.rst
  doc/user-guide/index.rst
  doc/user-guide/indexing.rst
  doc/user-guide/interpolation.rst
  doc/user-guide/io.rst
  doc/user-guide/pandas.rst
  doc/user-guide/plotting.rst
  doc/user-guide/reshaping.rst
  doc/user-guide/terminology.rst
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
Labels: documentation

#4849 Basic curvefit implementation
  doc/api.rst
  doc/user-guide/computation.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
Labels: enhancement
