Repository pydata/xarray, pull requests merged in 2021-10, with the labels that each got.

#5669 Combine='by_coords' and concat dim deprecation in open_mfdataset
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends.py
Labels: plan to merge

#5653 Roll coords deprecation
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/indexes.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#5808 DEP: Deprecate rasterio backend
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/rasterio_.py
  xarray/tests/test_backends.py
  xarray/tests/test_distributed.py
  xarray/tests/test_tutorial.py
Labels: plan to merge

#5900 Add .chunksizes property
  doc/api.rst
  doc/whats-new.rst
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/tests/test_dask.py
Labels: API design, plan to merge

#5834 Combine by coords dataarray bugfix
  doc/whats-new.rst
  xarray/core/combine.py
  xarray/tests/test_combine.py
Labels: topic-combine

#5847 Display coords' units for slice plots
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/utils.py
  xarray/plot/utils.py
  xarray/tests/test_units.py
Labels: topic-plotting

#5904 Update docstring for apply_ufunc, set_options
  doc/conf.py
  xarray/core/computation.py
  xarray/core/options.py
Labels: needs review
