Repository pydata/xarray, pull requests merged in 2021-12, with the labels that each got.

#5577 Faster unstacking to sparse
  asv_bench/asv.conf.json
  asv_bench/benchmarks/__init__.py
  asv_bench/benchmarks/unstacking.py
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/tests/test_dataset.py
Labels: needs review, topic-arrays, plan to merge, run-benchmark

#6056 add set_options link to FAQ on metadata
  doc/getting-started-guide/faq.rst
Labels: topic-documentation

#6082 cftime: 'gregorian' -> 'standard' [test-upstream]
  xarray/tests/test_cftimeindex.py
Labels: topic-cftime, plan to merge

#5365 Add support for cross product
  doc/api.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/core/computation.py
  xarray/tests/test_computation.py
Labels: plan to merge

#6064 Revert "Single matplotlib import"
  asv_bench/benchmarks/import_xarray.py
  xarray/plot/dataset_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/plot.py
  xarray/plot/utils.py
Labels: plan to merge

#5912 Remove lock kwarg
  doc/whats-new.rst
  xarray/backends/pydap_.py
  xarray/backends/zarr.py
Labels: topic-backends, plan to merge

#6089 Fix dataarray determination in map_blocks
  doc/whats-new.rst
  xarray/core/parallel.py
  xarray/tests/test_dask.py
Labels: plan to merge

#5233 Calendar utilities
  doc/api-hidden.rst
  doc/api.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/coding/calendar_ops.py
  xarray/coding/cftime_offsets.py
  xarray/coding/times.py
  xarray/core/accessor_dt.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_calendar_ops.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_coding_times.py
Labels: topic-cftime, plan to merge

#5264 Numpy string coding
  doc/whats-new.rst
  xarray/coding/strings.py
  xarray/conventions.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_strings.py
Labels: plan to merge
