Repository pydata/xarray, pull requests merged in 2021-02, with the labels that each got.

#4886 Sort backends
  xarray/backends/plugins.py
  xarray/tests/test_plugins.py
Labels: CZI Grant, backends

#4905 replace the ci-trigger action with a external one
  .github/actions/detect-ci-trigger/action.yaml
  .github/actions/detect-ci-trigger/script.sh
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/upstream-dev-ci.yaml
Labels: CI

#4823 Allow fsspec URLs in open_(mf)dataset
  ci/requirements/environment.yml
  ci/requirements/py38-all-but-dask.yml
  doc/io.rst
  doc/whats-new.rst
  setup.cfg
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/core/utils.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Labels: backends

#4711 Adding vectorized indexing docs
  doc/indexing.rst
  xarray/core/dataarray.py
Labels: documentation

#4407 Dataset.plot.quiver
  doc/api.rst
  doc/plotting.rst
  doc/whats-new.rst
  xarray/plot/dataset_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: plotting

#4915 Better rolling reductions
  asv_bench/benchmarks/rolling.py
  doc/whats-new.rst
  xarray/core/dtypes.py
  xarray/core/rolling.py
  xarray/tests/test_dataarray.py
Labels: performance, rolling
