Repository pydata/xarray, pull requests merged in 2021-07, with the labels that each got.

#5556 Test test_missing.py without cftime installed
  xarray/tests/__init__.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_missing.py
Labels: plan to merge

#5514 Allow user to explicitly disable coordinates attribute
  doc/whats-new.rst
  xarray/conventions.py
  xarray/tests/test_conventions.py
Labels: plan to merge

#5334 Properly infer intervals of pcolormesh when plotting on logscale
  doc/whats-new.rst
  xarray/plot/plot.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: plan to merge

#5507 specify typing-extensions version
  doc/getting-started-guide/installing.rst
  setup.cfg
Labels: plan to merge

#4696 combine_by_coordinates to handle unnamed data arrays.
  doc/whats-new.rst
  xarray/core/combine.py
  xarray/core/utils.py
  xarray/tests/test_combine.py
  xarray/tests/test_utils.py
Labels: plan to merge

#5528 Undeprecate dict argument for coords in DataArray (#5527)
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#5586 Accept missing_dims in Variable.transpose and Dataset.transpose
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Labels: plan to merge

#4909 Add dataarray scatter with 3d support
  xarray/plot/plot.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: plan to merge

#5568 Add to_numpy() and as_numpy() methods
  doc/api.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/pycompat.py
  xarray/core/variable.py
  xarray/tests/__init__.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Labels: API design, plan to merge, topic-arrays

#5561 Plots get labels from pint arrays
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/variable.py
  xarray/plot/plot.py
  xarray/plot/utils.py
  xarray/tests/test_units.py
Labels: plan to merge, topic-arrays

#5630 remove deprecations scheduled for 0.19
  doc/api-hidden.rst
  doc/whats-new.rst
  xarray/core/combine.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/rolling.py
  xarray/core/variable.py
  xarray/tests/test_coarsen.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Labels: plan to merge

#5632 v0.19.0 release notes
  doc/whats-new.rst
Labels: Release

#5609 Kwargs to rasterio open
  doc/whats-new.rst
  xarray/backends/rasterio_.py
Labels: plan to merge
