Repository pydata/xarray, pull requests merged in 2022-03, with the labels that each got.

#6237 Enable running sphinx-build on Windows
  .gitignore
  doc/conf.py
  doc/getting-started-guide/quick-overview.rst
  doc/internals/zarr-encoding-spec.rst
  doc/user-guide/dask.rst
  doc/user-guide/io.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
Labels: topic-documentation, plan to merge

#6315 Disable CI runs on forks
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
Labels: Automation

#6314 Add General issue template
  .github/ISSUE_TEMPLATE/misc.yml
Labels: Automation

#6319 v2022.03.0 release notes
  HOW_TO_RELEASE.md
  doc/whats-new.rst
Labels: Release

#5950 Generate reductions for DataArray, Dataset, GroupBy and Resample
  doc/user-guide/computation.rst
  xarray/core/_reductions.py
  xarray/core/arithmetic.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_ops.py
  xarray/util/generate_reductions.py
Labels: plan to merge

#5692 Explicit indexes
  doc/user-guide/plotting.rst
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/combine.py
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/concat.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/formatting.py
  xarray/core/formatting_html.py
  xarray/core/groupby.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/merge.py
  xarray/core/missing.py
  xarray/core/parallel.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/plot/utils.py
  xarray/testing.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_combine.py
  xarray/tests/test_computation.py
  xarray/tests/test_concat.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
  xarray/tests/test_formatting_html.py
  xarray/tests/test_groupby.py
  xarray/tests/test_indexes.py
  xarray/tests/test_indexing.py
  xarray/tests/test_merge.py
  xarray/tests/test_units.py
  xarray/tests/test_utils.py
Labels: topic-internals, topic-indexing, CZI Grant, run-benchmark

#6390 [skip-ci] Add benchmarks for groupby math
  asv_bench/benchmarks/groupby.py
Labels: run-benchmark, NASA grant

#6059 Weighted quantile
  doc/api.rst
  doc/user-guide/computation.rst
  doc/whats-new.rst
  xarray/core/weighted.py
  xarray/tests/test_weighted.py
Labels: enhancement, plan to merge

#6400 Speed-up multi-index html repr + add display_values_threshold option
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/core/indexing.py
  xarray/core/options.py
  xarray/tests/test_formatting.py
Labels: run-benchmark

#6160 Vectorize groupby binary ops
  doc/whats-new.rst
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: plan to merge, run-benchmark
