Repository pydata/xarray, pull requests merged in 2022-01, with the labels that each got.

#6076 Add labels to dataset diagram
  doc/_static/dataset-diagram.png
Labels: topic-documentation, plan to merge

#5662 Limit and format number of displayed dimensions in repr
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/tests/test_formatting.py
Labels: plan to merge

#6118 New algorithm for forward filling
  doc/whats-new.rst
  xarray/core/dask_array_ops.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_missing.py
Labels: plan to merge

#6068 DOC: Add "auto" to dataarray `chunk` method
  xarray/core/dataarray.py
  xarray/core/dataset.py
Labels: plan to merge

#6132 Check for just `...`, rather than `[...]` in `da.stack`
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#6145 Remove pd.Panel checks
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/merge.py
  xarray/core/pdcompat.py
Labels: plan to merge

#6109 Remove registration of pandas datetime converter in plotting
  doc/whats-new.rst
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: plan to merge

#6154 Use base ImportError not MoudleNotFoundError when testing for plugins
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
Labels: plan to merge

#5876 _season_from_months can now handle np.nan
  doc/whats-new.rst
  xarray/core/accessor_dt.py
  xarray/tests/test_accessor_dt.py
Labels: plan to merge

#5892 Drop support for python 3.7
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/py38-bare-minimum.yml
  ci/requirements/py38-min-all-deps.yml
  ci/requirements/py39-all-but-dask.yml
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
  requirements.txt
  setup.cfg
  xarray/core/dataarray.py
  xarray/core/npcompat.py
  xarray/core/options.py
Labels: plan to merge

#6137 Add tests for groupby math
  xarray/tests/test_groupby.py
Labels: needs review

#5984 preserve chunked data when creating DataArray from DataArray
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#6155 typing fixes for mypy 0.931 and numpy 1.22
  .pre-commit-config.yaml
  xarray/backends/file_manager.py
  xarray/core/accessor_str.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/formatting.py
  xarray/core/indexing.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/tests/test_computation.py
  xarray/tests/test_conventions.py
Labels: plan to merge

#6037 Fix wrong typing for tolerance in reindex
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#6144 allow 1 non-null value in interpolate_na with method="nearest"
  doc/whats-new.rst
  xarray/core/missing.py
  xarray/tests/test_missing.py
Labels: plan to merge

#4687 keep attrs in xarray.where
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/tests/test_computation.py
  xarray/tests/test_units.py
Labels: plan to merge

#5142 Trigger CI on push or pull_request but not both
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/publish-test-results.yaml
Labels: needs review, CI

#6175 Update Read the Docs configuration (automatic)
  readthedocs.yml
Labels: topic-documentation

#5844 Add python 3.10 to CI
  .github/workflows/ci.yaml
  .github/workflows/upstream-dev-ci.yaml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Labels: plan to merge

#6177 remove no longer necessary version checks
  xarray/backends/h5netcdf_.py
  xarray/core/_reductions.py
  xarray/core/dask_array_compat.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_plugins.py
  xarray/tests/test_sparse.py
  xarray/util/generate_reductions.py
Labels: plan to merge

#6184 Add seed kwarg to the tutorial scatter dataset
  xarray/tutorial.py
Labels: plan to merge

#6192 fix cftime doctests
  xarray/coding/cftimeindex.py
Labels: topic-documentation, topic-cftime, plan to merge

#6195 MAINT: pandas 1.4: no longer use get_loc with method
  xarray/core/indexes.py
  xarray/core/missing.py
Labels: topic-internals, topic-indexing, dependencies

#5526 Handle empty containers in zarr chunk checks
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: plan to merge

#6200 MNT: prepare h5netcdf backend for (coming) change in dimension handling
  xarray/backends/h5netcdf_.py
Labels: topic-backends, plan to merge

#6210 `GHA` `concurrency`
  .github/workflows/cancel-duplicate-runs.yaml
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/upstream-dev-ci.yaml
Labels: plan to merge

#6214 update HOW_TO_RELEASE.md
  HOW_TO_RELEASE.md
Labels: plan to merge
