Repository pydata/xarray, pull requests merged in 2022-08, with the labels that each got.

#6843 Fix FacetGrid.set_titles #6839
  doc/whats-new.rst
  xarray/plot/facetgrid.py
  xarray/tests/test_plot.py
Labels: plan to merge

#6862 Add typing to some interval functions
  xarray/plot/utils.py
Labels: topic-plotting

#6871 Handle None in assert_valid_xy
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: topic-plotting

#6823 Rely on array backend for string formatting
  doc/whats-new.rst
  xarray/core/common.py
  xarray/tests/test_formatting.py
Labels: plan to merge

#6897 Type xr.tutorial
  xarray/tutorial.py
Labels: plan to merge

#6882 Allow decoding of size-0 datetimes
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Labels: plan to merge

#6912 Automatic PR labeler
  .github/labeler.yml
  .github/workflows/label-all.yml
  .github/workflows/label-prs.yml
Labels: Automation

#6913 Fix core team page
  doc/team.yml
Labels: documentation

#6917 Reuse total width calculation
  xarray/plot/facetgrid.py
Labels: topic-plotting

#6918 Generalize set_(x, y, z)labels in facetgrids
  xarray/plot/facetgrid.py
Labels: topic-plotting

#6925 Update PR labels
  .github/labeler.yml
Labels: Automation

#6937 terminology: fix italics [skip-ci]
  doc/user-guide/terminology.rst
Labels: topic-documentation

#6938 Fix bug where indexes were changed inplace
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/tests/test_variable.py
Labels: topic-documentation

#6923 Add Self in xarray.core.types
  xarray/core/types.py
Labels: plan to merge, topic-typing

#6889 Harmonize returned multi-indexed indexes when applying `concat` along new dimension
  doc/whats-new.rst
  xarray/core/concat.py
  xarray/tests/test_concat.py
Labels: topic-documentation

#6944 Fix step plots with hue
  doc/whats-new.rst
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: topic-documentation, topic-plotting, plan to merge

#6958 [skip-ci] Stop applying topic-documentation label
  .github/labeler.yml
Labels: topic-documentation, Automation
