Repository pydata/xarray, pull requests merged in 2022-02, with the labels that each got.

#6213 fix or suppress test warnings
  xarray/backends/plugins.py
  xarray/coding/cftimeindex.py
  xarray/core/common.py
  xarray/core/groupby.py
  xarray/core/missing.py
  xarray/plot/utils.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_backends.py
  xarray/tests/test_coarsen.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_distributed.py
  xarray/tests/test_groupby.py
  xarray/tests/test_sparse.py
  xarray/tests/test_variable.py
  xarray/tests/test_weighted.py
Labels: plan to merge

#6240 Run pyupgrade on core/utils
  xarray/core/utils.py
Labels: plan to merge

#6108 quantile: rename interpolation arg to method
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/npcompat.py
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_variable.py
Labels: plan to merge

#6262 [docs] update urls throughout documentation
  CONTRIBUTING.md
  README.rst
  asv_bench/asv.conf.json
  ci/install-upstream-wheels.sh
  design_notes/flexible_indexes_notes.md
  doc/README.rst
  doc/conf.py
  doc/contributing.rst
  doc/ecosystem.rst
  doc/gallery.rst
  doc/gallery/plot_rasterio.py
  doc/gallery/plot_rasterio_rgb.py
  doc/getting-started-guide/faq.rst
  doc/getting-started-guide/installing.rst
  doc/getting-started-guide/quick-overview.rst
  doc/index.rst
  doc/internals/how-to-add-new-backend.rst
  doc/internals/zarr-encoding-spec.rst
  doc/roadmap.rst
  doc/tutorials-and-videos.rst
  doc/user-guide/computation.rst
  doc/user-guide/dask.rst
  doc/user-guide/data-structures.rst
  doc/user-guide/groupby.rst
  doc/user-guide/indexing.rst
  doc/user-guide/io.rst
  doc/user-guide/pandas.rst
  doc/user-guide/plotting.rst
  doc/user-guide/reshaping.rst
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  setup.cfg
  xarray/backends/api.py
  xarray/backends/h5netcdf_.py
  xarray/backends/plugins.py
  xarray/backends/rasterio_.py
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/dtypes.py
  xarray/core/indexing.py
  xarray/core/nputils.py
  xarray/tests/test_backends.py
  xarray/tests/test_cupy.py
  xarray/tutorial.py
Labels: topic-documentation

#6249 Fix pickling issue
  doc/whats-new.rst
  xarray/coding/cftimeindex.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_distributed.py
Labels: plan to merge

#6270 Update pyupgrade to py38-plus
  .pre-commit-config.yaml
Labels: plan to merge

#6135 Implement multiplication of cftime Tick offsets by floats
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
Labels: plan to merge

#6307 Drop duplicates over multiple dims, and add Dataset.drop_duplicates
  doc/api.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: enhancement, needs review

#6305 On Windows, enable successful test of opening a dataset containing a cftime index
  doc/whats-new.rst
  xarray/tests/test_distributed.py
Labels: plan to merge
