Repository pydata/xarray, pull requests merged in 2022-09, with the labels that each got.

#6965 no longer install pydap for 'io' extras in py3.10
  setup.cfg
Labels: upstream issue, dependencies

#6966 enable pydap in tests again
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  xarray/tests/test_backends.py
Labels: CI, dependencies

#6212 better warning filter for assert_*
  xarray/testing.py
  xarray/tests/test_testing.py
Labels: topic-testing

#6986 Remove some warnings in tests
  xarray/coding/times.py
  xarray/core/common.py
  xarray/core/merge.py
  xarray/tests/test_array_api.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_weighted.py
Labels: topic-cftime

#6940 Enable taking the mean of dask-backed cftime arrays
  ci/requirements/min-all-deps.yml
  doc/whats-new.rst
  xarray/core/duck_array_ops.py
  xarray/tests/test_duck_array_ops.py
Labels: topic-arrays, CI, plan to merge, dependencies

#6979 Remove unnecessary build dependencies, use build defaults, strict twine check
  .github/workflows/pypi-release.yaml
  .github/workflows/testpypi-release.yaml
  pyproject.toml
Labels: Automation

#7017 Add Ellipsis typehints
  setup.cfg
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataarray.py
Labels: topic-typing

#7023 Remove dask_array_type checks
  xarray/core/arithmetic.py
  xarray/core/dask_array_compat.py
  xarray/core/duck_array_ops.py
  xarray/core/nanops.py
  xarray/core/variable.py
Labels: topic-dask, topic-arrays

#6974 Ensure encoding["source"] is available for a pathlib.Path object
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends.py
Labels: topic-backends, io

#7022 Preserve all attrs with GroupBy by default.
  doc/whats-new.rst
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: topic-groupby

#7044 Self should be Any
  xarray/core/types.py
Labels: topic-typing

#7060 More informative error for non-existent zarr store
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, io

#7040 Writing dimensionless variables to NetCDF
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_distributed.py
Labels: topic-backends, plan to merge, io

#7033 Update merge docstrings
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/merge.py
Labels: plan to merge

#7063 Better dtype preservation for rolling mean on dask array
  doc/whats-new.rst
  xarray/core/rolling.py
  xarray/tests/test_rolling.py
Labels: topic-rolling, plan to merge

#7003 Misc. fixes for Indexes with pd.Index objects
  xarray/core/indexes.py
  xarray/tests/test_indexes.py
Labels: topic-indexing

#6926 Use micromamba in ASV benchmark workflow
  .github/workflows/benchmarks.yml
Labels: plan to merge, Automation

#7046 Add helper for setting axis limits in facetgrid
  xarray/plot/facetgrid.py
Labels: topic-plotting, plan to merge

#7047 Set sharex/sharey to False if using 3d plots
  xarray/plot/facetgrid.py
Labels: topic-plotting

#7082 Clearer variable names in FacetGrid._set_lims
  xarray/plot/facetgrid.py
Labels: topic-plotting

#7090 Fill in missing docstrings for ndarray properties
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/utils.py
  xarray/core/variable.py
Labels: topic-documentation

#6999 Raise UserWarning when rename creates a new dimension coord
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#6992 Review (re)set_index
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/indexes.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
Labels: topic-indexing

#7088 DOC: Added example for a handful of DataArray method docstrings
  doc/whats-new.rst
  xarray/core/dataarray.py
Labels: topic-documentation, plan to merge

#6971 Add set_xindex and drop_indexes methods
  doc/api.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/indexes.py
  xarray/indexes/__init__.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexes.py
Labels: topic-indexing

#7048 Add Ellipsis typehint to reductions
  xarray/core/_reductions.py
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/core/rolling.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_plot.py
  xarray/util/generate_reductions.py
Labels: topic-groupby, topic-rolling, plan to merge, topic-typing

#7080 Fix `utils.get_axis` with kwargs
  doc/whats-new.rst
  xarray/plot/plot.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge

#7085 solve a bug when the units attribute is not a string
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/conventions.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
Labels: topic-CF conventions, topic-cftime, plan to merge

#7102 Exclude typechecking stuff from coverage
  .coveragerc
  pyproject.toml
Labels: CI

#7089 Fix deepcopy of Variables and DataArrays
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/indexes.py
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
Labels: topic-indexing, plan to merge

#7107 2022.09.0 release summary
  doc/whats-new.rst
Labels: Release
