Repository pydata/xarray, pull requests merged in 2022-11, with the labels that each got.

#7123 DOC: Added examples to docstrings of DataArray methods (#7123)
  doc/whats-new.rst
  xarray/core/dataarray.py
Labels: topic-documentation, plan to merge

#7252 Use partial function in open_mfdataset example
  xarray/backends/api.py
Labels: topic-backends, io

#7260 use the moving release tag of `issue-from-pytest-log`
  .github/workflows/upstream-dev-ci.yaml
Labels: Automation

#7269 pin mypy to a known good version
  .github/workflows/ci-additional.yaml
Labels: Automation

#7276 Import nc_time_axis when needed
  doc/whats-new.rst
  xarray/plot/utils.py
  xarray/tests/__init__.py
  xarray/tests/test_plot.py
  xarray/tests/test_plugins.py
Labels: topic-plotting, plan to merge

#7272 Handle division by zero in _Normalize._calc_widths
  xarray/plot/utils.py
Labels: topic-plotting, plan to merge

#7279 Fix typing for to_netcdf's encoding
  xarray/core/dataset.py
Labels: plan to merge, topic-typing

#7283 Fix mypy 0.990 types
  xarray/backends/lru_cache.py
  xarray/core/accessor_str.py
  xarray/core/alignment.py
  xarray/core/combine.py
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/formatting.py
  xarray/core/indexes.py
  xarray/core/merge.py
  xarray/core/missing.py
  xarray/core/parallel.py
  xarray/core/rolling.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/plot/utils.py
Labels: plan to merge, topic-typing

#7300 bump min deps
  ci/min_deps_check.py
  ci/requirements/bare-minimum.yml
  ci/requirements/min-all-deps.yml
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
  requirements.txt
  setup.cfg
Labels: CI, dependencies

#7281 Use a default value for constant dimensions
  xarray/plot/utils.py
Labels: topic-plotting, plan to merge

#7296 Fix some typing errors in DuckArrayModule
  xarray/core/pycompat.py
Labels: plan to merge, topic-typing

#6963 Fixed type errors in `mypy` GitHub Action
  .github/workflows/ci-additional.yaml
  xarray/backends/api.py
  xarray/core/merge.py
  xarray/core/types.py
Labels: topic-backends, plan to merge, Automation, topic-typing, io

#7303 Add mypy version to xr.show_versions
  xarray/util/print_versions.py
Labels: topic-error reporting, plan to merge, topic-typing

#7319 mypy - Remove some ignored packages and modules
  pyproject.toml
  xarray/core/pycompat.py
Labels: plan to merge

#7301 deprecate pynio backend
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/pynio_.py
Labels: topic-backends, CI, plan to merge, dependencies, io

#7315 Fix polyval overloads
  doc/whats-new.rst
  xarray/core/computation.py
Labels: plan to merge, topic-typing

#6475 implement Zarr v3 spec support
  .github/workflows/upstream-dev-ci.yaml
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, plan to merge, Automation, io

#7321 fix flake8 config
  setup.cfg
Labels: plan to merge

#7284 Enable `origin` and `offset` arguments in `resample`
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/resample_cftime.py
  xarray/core/types.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_groupby.py
Labels: topic-pandas-like, topic-cftime, plan to merge, topic-typing

#7331 Fix PR number in what’s new
  doc/whats-new.rst
Labels: needs triage

#7334 Remove code used to support h5py<2.10.0
  xarray/backends/h5netcdf_.py
Labels: topic-backends, plan to merge, io

#7229 Fix coordinate attr handling in `xr.where(..., keep_attrs=True)`
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/tests/test_computation.py
Labels: plan to merge

#7209 Optimize some copying
  asv_bench/benchmarks/renaming.py
  xarray/core/alignment.py
  xarray/core/indexes.py
  xarray/core/variable.py
Labels: topic-indexing, topic-performance, plan to merge, run-benchmark
