Repository pydata/xarray, pull requests merged in 2022-12, with the labels that each got.

#7335 Enable mypy warn unused ignores
  pyproject.toml
  xarray/__init__.py
  xarray/backends/locks.py
  xarray/core/_typed_ops.pyi
  xarray/core/alignment.py
  xarray/core/combine.py
  xarray/core/computation.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/groupby.py
  xarray/core/indexing.py
  xarray/core/variable.py
  xarray/plot/dataarray_plot.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_distributed.py
  xarray/tests/test_extensions.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
  xarray/util/generate_ops.py
Labels: topic-backends, topic-indexing, topic-groupby, topic-plotting, plan to merge, topic-combine, io

#7304 Reset file pointer to 0 when reading file stream
  doc/whats-new.rst
  xarray/core/utils.py
  xarray/tests/test_backends.py
Labels: needs review

#7338 Docs: add example of writing and reading groups to netcdf
  doc/user-guide/io.rst
  doc/whats-new.rst
Labels: topic-documentation, topic-DataTree

#6981 Support the new compression argument in netCDF4 > 1.6.0
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
Labels: topic-backends, enhancement, upstream issue, io

#7345 Whats-new: 2022.12.0
  doc/whats-new.rst
Labels: Release

#7370 absolufy-imports - Only in xarray folder
  .pre-commit-config.yaml
  asv_bench/benchmarks/dataarray_missing.py
  asv_bench/benchmarks/dataset_io.py
  asv_bench/benchmarks/groupby.py
  asv_bench/benchmarks/indexing.py
  asv_bench/benchmarks/interp.py
  asv_bench/benchmarks/pandas.py
  asv_bench/benchmarks/polyfit.py
  asv_bench/benchmarks/reindexing.py
  asv_bench/benchmarks/rolling.py
  asv_bench/benchmarks/unstacking.py
  doc/whats-new.rst
Labels: topic-performance, plan to merge, run-benchmark

#7356 Avoid loading entire dataset by getting the nbytes in an array
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#7361 COMPAT: Adjust CFTimeIndex.get_loc for pandas 2.0 deprecation enforcement
  doc/whats-new.rst
  xarray/coding/cftimeindex.py
Labels: topic-cftime

#7393 Preserve original dtype when accessing MultiIndex levels
  doc/whats-new.rst
  xarray/core/indexing.py
  xarray/tests/test_indexes.py
Labels: topic-indexing, plan to merge
