Repository pydata/xarray, pull requests merged in 2022-05, with the labels that each got.

#6522 Update issue template to include a checklist
  .github/ISSUE_TEMPLATE/bugreport.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/misc.yml
  .github/ISSUE_TEMPLATE/newfeature.yml
  doc/examples/blank_template.ipynb
  doc/gallery.rst
Labels: plan to merge

#6559 Bump min deps
  ci/requirements/min-all-deps.yml
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
  setup.cfg
  xarray/core/dask_array_compat.py
Labels: plan to merge

#6548 polyval: Use Horner's algorithm + support chunked inputs
  asv_bench/benchmarks/polyfit.py
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/tests/test_computation.py
Labels: plan to merge, run-benchmark

#5981 Allow string formatting of scalar DataArrays
  xarray/core/common.py
  xarray/tests/test_formatting.py
Labels: plan to merge

#6569 Add some warnings about rechunking to the docs
  doc/user-guide/dask.rst
Labels: plan to merge

#6579 Fix Dataset/DataArray.isel with drop=True and scalar DataArray indexes
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/indexes.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#6476 Fix zarr append dtype checks
  xarray/backends/api.py
  xarray/tests/test_backends.py
  xarray/tests/test_dataset.py
Labels: topic-zarr

#6558 [docs] add Dataset.assign_coords example (#6336)
  xarray/core/common.py
Labels: plan to merge

#6566 New inline_array kwarg for open_dataset
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/tests/test_backends.py
Labels: enhancement, topic-dask, topic-zarr

#6609 Add setuptools as dependency in ASV benchmark CI
  asv_bench/asv.conf.json
Labels: run-benchmark

#6635 Feature/to dict encoding
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#6637 Improved DataArray typing
  .gitignore
  xarray/core/alignment.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/tests/__init__.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_interp.py
Labels: topic-typing

#6647 Allow all interp methods in typing
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/core/types.py
Labels: run-benchmark

#6556 Support dask arrays in datetime_to_numeric
  xarray/core/duck_array_ops.py
  xarray/tests/test_duck_array_ops.py
Labels: plan to merge

#6624 CFTime support for polyval
  xarray/core/computation.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_computation.py
Labels: plan to merge

#6530 Doc index update
  .gitignore
  ci/requirements/doc.yml
  doc/_static/index_api.svg
  doc/_static/index_contribute.svg
  doc/_static/index_getting_started.svg
  doc/_static/index_user_guide.svg
  doc/_static/style.css
  doc/conf.py
  doc/gallery.rst
  doc/gallery.yml
  doc/index.rst
  doc/team.rst
  doc/team.yml
  doc/tutorials-and-videos.rst
  doc/videos.yml
Labels: topic-documentation
