Repository pydata/xarray, pull requests merged in 2022-10, with the labels that each got.

#7113 Minor tests improvements
  pyproject.toml
  xarray/tests/test_dataset.py
Labels: plan to merge

#7061 Remove team page from docs and link to https://xarray.dev/team
  doc/conf.py
  doc/index.rst
  doc/team.rst
  doc/team.yml
Labels: plan to merge

#7126 Upload mypy coverage report to codecov
  .github/workflows/ci-additional.yaml
  pyproject.toml
  setup.cfg
Labels: plan to merge, Automation

#7114 Fix typing of backends
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/plugins.py
  xarray/core/dataset.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_dataset.py
  xarray/tests/test_distributed.py
  xarray/tests/test_groupby.py
  xarray/tests/test_plugins.py
Labels: topic-backends, plan to merge, topic-typing, io

#7112 Support of repr and deepcopy of recursive arrays
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/formatting.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
  xarray/tests/test_variable.py
Labels: plan to merge

#7140 Fixes deepcopy of Index
  doc/whats-new.rst
  xarray/core/indexes.py
Labels: topic-indexing

#7105 Fix to_index(): return multiindex level as single index
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/dataarray.py
  xarray/core/groupby.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexes.py
  xarray/tests/test_utils.py
  xarray/tests/test_variable.py
Labels: topic-indexing, topic-groupby

#7147 Include variable name in message if `decode_cf_variable` raises an error
  doc/whats-new.rst
  xarray/conventions.py
  xarray/tests/test_conventions.py
Labels: topic-CF conventions, plan to merge

#6795 display the indexes in the string reprs
  xarray/core/dataset.py
  xarray/core/formatting.py
  xarray/core/indexes.py
  xarray/core/options.py
Labels: topic-indexing, plan to merge

#6834 Bump minimum numpy version to 1.20
  ci/requirements/all-but-dask.yml
  ci/requirements/bare-minimum.yml
  ci/requirements/doc.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
  requirements.txt
  setup.cfg
  xarray/core/_typed_ops.pyi
  xarray/core/accessor_dt.py
  xarray/core/accessor_str.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/groupby.py
  xarray/core/indexing.py
  xarray/core/npcompat.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/tests/__init__.py
  xarray/tests/test_coding_times.py
  xarray/util/generate_ops.py
Labels: topic-indexing, topic-groupby, topic-arrays, CI, plan to merge, dependencies, topic-typing

#7150 Update open_dataset backend to ensure compatibility with new explicit index model
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends_api.py
Labels: topic-backends, io

#7052 Add typing to plot methods
  ci/requirements/min-all-deps.yml
  doc/api-hidden.rst
  doc/api.rst
  doc/user-guide/plotting.rst
  doc/whats-new.rst
  pyproject.toml
  setup.cfg
  xarray/core/alignment.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/pycompat.py
  xarray/core/types.py
  xarray/plot/__init__.py
  xarray/plot/accessor.py
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/plot.py
  xarray/plot/utils.py
  xarray/tests/__init__.py
  xarray/tests/test_plot.py
Labels: topic-plotting, CI, plan to merge, dependencies, topic-typing

#7168 Fix broken test that fails CI upstream
  xarray/tests/test_formatting.py
Labels: topic-testing, plan to merge

#7166 Fix doctest warnings, enable errors in CI
  .github/workflows/ci-additional.yaml
  doc/whats-new.rst
  xarray/backends/rasterio_.py
  xarray/core/dataarray.py
Labels: topic-backends, Automation, io

#7167 Fix some scatter plot issues
  xarray/plot/dataarray_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
Labels: topic-plotting, plan to merge

#7176 Add import ASV benchmark
  asv_bench/benchmarks/import.py
Labels: topic-performance, plan to merge, run-benchmark

#7000 list available backends and basic descriptors
  doc/api.rst
  doc/internals/how-to-add-new-backend.rst
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/backends/plugins.py
  xarray/core/types.py
Labels: topic-backends, plan to merge, topic-typing, io

#4879 Cache files for different CachingFileManager objects separately
  doc/whats-new.rst
  xarray/backends/file_manager.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_file_manager.py
Labels: topic-backends, plan to merge, io

#7067 More Array API changes
  xarray/conventions.py
  xarray/core/duck_array_ops.py
  xarray/core/nanops.py
  xarray/core/variable.py
  xarray/tests/test_array_api.py
Labels: topic-CF conventions, topic-arrays, plan to merge

#7172 Lazy import dask.distributed to reduce import time of xarray
  doc/whats-new.rst
  xarray/backends/locks.py
Labels: topic-backends, plan to merge, io

#7185 indexes section in the HTML repr
  doc/whats-new.rst
  xarray/core/formatting_html.py
  xarray/core/options.py
  xarray/static/css/style.css
  xarray/tests/test_formatting_html.py
Labels: topic-html-repr, plan to merge

#7192 Example using Coarsen.construct to split map into regions
  doc/user-guide/computation.rst
  doc/user-guide/reshaping.rst
  doc/whats-new.rst
Labels: topic-documentation, plan to merge

#7196 Remove rasterio tutorial test
  xarray/tests/test_tutorial.py
  xarray/tutorial.py
Labels: plan to merge

#7194 Align naming convention with plt.subplots
  doc/user-guide/plotting.rst
  doc/whats-new.rst
  xarray/plot/facetgrid.py
Labels: topic-plotting, plan to merge

#7213 use the moving release tag of ci-trigger
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/upstream-dev-ci.yaml
Labels: Automation

#7212 use the new action to create an issue from the output of reportlog
  .github/workflows/upstream-dev-ci.yaml
Labels: plan to merge, Automation

#7200 Backends descriptions
  doc/api-hidden.rst
  doc/api.rst
  doc/whats-new.rst
  xarray/backends/__init__.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/pseudonetcdf_.py
  xarray/backends/pydap_.py
  xarray/backends/scipy_.py
  xarray/backends/store.py
  xarray/backends/zarr.py
Labels: topic-backends, topic-zarr, plan to merge, io

#7152 Cumulative examples
  .pre-commit-config.yaml
  doc/api.rst
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/core/arithmetic.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/tests/test_groupby.py
  xarray/util/generate_aggregations.py
Labels: topic-documentation, topic-groupby, plan to merge

#7223 Dataset insertion benchmark
  asv_bench/benchmarks/merge.py
Labels: topic-performance, plan to merge, run-benchmark

#7231 assign_coords docs: see also Dataset.set_coords
  xarray/core/common.py
Labels: topic-documentation

#7218 Rename FacetGrid.axes to FacetGrid.axs in tests
  xarray/tests/test_plot.py
  xarray/tests/test_units.py
Labels: plan to merge

#7221 Remove debugging slow assert statement
  xarray/core/alignment.py
Labels: plan to merge

#7222 Actually make the fast code path return early for Aligner.align
  xarray/core/alignment.py
Labels: plan to merge

#7219 Explicitly remove grids for pcolormesh
  xarray/plot/dataarray_plot.py
Labels: topic-plotting, plan to merge

#7203 Avoid loading any data for reprs
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/tests/test_formatting.py
Labels: plan to merge

#7179 Lazy Imports
  asv_bench/benchmarks/import.py
  doc/whats-new.rst
  xarray/backends/cfgrib_.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/pseudonetcdf_.py
  xarray/backends/pydap_.py
  xarray/backends/pynio_.py
  xarray/backends/scipy_.py
  xarray/backends/zarr.py
  xarray/convert.py
  xarray/core/_aggregations.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/formatting.py
  xarray/core/indexing.py
  xarray/core/missing.py
  xarray/core/parallel.py
  xarray/core/pycompat.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/plot/utils.py
  xarray/tests/test_backends.py
  xarray/tests/test_computation.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_missing.py
  xarray/tests/test_plugins.py
  xarray/tests/test_sparse.py
  xarray/tests/test_variable.py
  xarray/util/generate_aggregations.py
Labels: topic-backends, topic-indexing, topic-dask, topic-plotting, topic-performance, topic-zarr, topic-arrays, plan to merge, run-benchmark, io

#7228 Raise TypeError if plotting empty data
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge

#7233 Ensure Coarsen.construct keeps all coords
  doc/whats-new.rst
  xarray/core/rolling.py
  xarray/tests/test_coarsen.py
Labels: topic-rolling, plan to merge

#7235 Fix type in benchmarks/merge.py
  asv_bench/benchmarks/merge.py
Labels: topic-performance, run-benchmark

#7242 fix the environment setup: actually use the python version
  .github/workflows/ci.yaml
Labels: Automation
