Repository pydata/xarray, pull requests merged in 2023-02, with the labels that each got.

#7373 Add `inclusive` argument to `cftime_range` and `date_range` and deprecate `closed` argument
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/core/pdcompat.py
  xarray/core/types.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex_resample.py
Labels: topic-cftime, topic-typing

#7500 Zarr: drop "source" and "original_shape" from encoding
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, io

#7512 Update HOW_TO_RELEASE.md
  HOW_TO_RELEASE.md
Labels: needs triage

#7318 Use plt.rc_context for default styles
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge, needs discussion

#7277 Require to explicitly defining optional dimensions such as hue and markersize
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: topic-plotting, needs review, plan to merge, needs discussion

#7392 Support complex arrays in xr.corr
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/tests/test_computation.py
Labels: plan to merge

#7475 Update error message when saving multiindex
  xarray/conventions.py
Labels: topic-CF conventions

#7521 use numpys SupportsDtype
  xarray/core/types.py
Labels: plan to merge, topic-typing
