Repository pydata/xarray, pull requests merged in 2023-04, with the labels that each got.

#7693 add to_zarr method to dataarray
  doc/api.rst
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, plan to merge

#7694 How xarray handles missing values
  doc/getting-started-guide/faq.rst
  doc/user-guide/computation.rst
Labels: topic-documentation, Outreachy-2023

#7706 Add: Adds a config.yml file for welcome-bot
  .github/config.yml
  doc/whats-new.rst
Labels: plan to merge, Automation, Outreachy-2023

#7719 Implement more Variable Coders
  doc/whats-new.rst
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/tests/test_conventions.py
Labels: topic-CF conventions

#7738 [skip-ci] Add alignment benchmarks
  asv_bench/asv.conf.json
  asv_bench/benchmarks/alignment.py
Labels: topic-performance, run-benchmark

#7720 preserve boolean dtype in encoding
  doc/whats-new.rst
  xarray/coding/variables.py
  xarray/tests/test_backends.py
Labels: topic-CF conventions, plan to merge

#7746 Fix typo
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/plot/dataset_plot.py
Labels: topic-groupby, topic-plotting

#7735 Avoid recasting a CFTimeIndex
  xarray/core/indexes.py
Labels: topic-indexing, topic-performance, plan to merge, run-benchmark, regression

#7724 `pandas=2.0` support
  doc/whats-new.rst
  xarray/core/accessor_dt.py
  xarray/core/indexes.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_utils.py
Labels: topic-indexing, CI, plan to merge, dependencies

#7736 align: Avoid reindexing when join="exact"
  doc/whats-new.rst
  xarray/core/alignment.py
Labels: topic-performance, topic-cftime, plan to merge, run-benchmark, regression

#7731 Continue to use nanosecond-precision Timestamps in precision-sensitive areas
  ci/requirements/all-but-dask.yml
  ci/requirements/doc.yml
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  doc/api-hidden.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  setup.cfg
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/core/pdcompat.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_concat.py
  xarray/tests/test_conventions.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Labels: topic-cftime, CI, dependencies

#7752 Fix typing errors using mypy 1.2
  .github/workflows/ci-additional.yaml
  xarray/core/combine.py
  xarray/core/concat.py
  xarray/core/rolling.py
  xarray/core/utils.py
  xarray/tests/test_concat.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Labels: topic-rolling, plan to merge, topic-combine, Automation, topic-typing

#7753 Add benchmark against latest release on main.
  .github/workflows/benchmarks-last-release.yml
Labels: plan to merge, Automation

#7669 Docstrings examples for string methods
  doc/whats-new.rst
  xarray/core/accessor_str.py
Labels: topic-documentation, plan to merge

#7769 Fix groupby_bins when labels are specified
  doc/whats-new.rst
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: topic-groupby

#7785 Remove pandas<2 pin
  requirements.txt
Labels: dependencies

#7786 Use canonical name for set_horizonalalignment over alias set_ha
  xarray/plot/dataarray_plot.py
Labels: topic-plotting, plan to merge, topic-typing

#7741 Add lshift and rshift operators
  doc/user-guide/computation.rst
  doc/whats-new.rst
  xarray/core/_typed_ops.py
  xarray/core/_typed_ops.pyi
  xarray/core/ops.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_groupby.py
  xarray/tests/test_variable.py
  xarray/util/generate_ops.py
Labels: enhancement, plan to merge
