Repository pydata/xarray, pull requests merged in 2023-09, with the labels that each got.

#8127 adapted the docstring of xarray.DataArray.differentiate
  xarray/core/dataarray.py
Labels: plan to merge

#8102 Add `Coordinates.assign()` method
  doc/api-hidden.rst
  doc/whats-new.rst
  xarray/core/coordinates.py
  xarray/tests/test_coordinates.py
Labels: plan to merge

#8156 Cut middle version from CI
  .github/workflows/ci.yaml
Labels: Automation

#7991 Docs page on internal design
  doc/conf.py
  doc/internals/duck-arrays-integration.rst
  doc/internals/extending-xarray.rst
  doc/internals/index.rst
  doc/internals/internal-design.rst
  doc/internals/variable-objects.rst
  doc/whats-new.rst
Labels: topic-documentation, plan to merge

#8101 Fix tokenize with empty attrs
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_dask.py
Labels: plan to merge

#8079 Consistently report all dimensions in error messages if invalid dimensions are given
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/core/concat.py
  xarray/core/coordinates.py
  xarray/core/dataset.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/rolling.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/tests/test_coarsen.py
  xarray/tests/test_concat.py
  xarray/tests/test_coordinates.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexes.py
  xarray/tests/test_rolling.py
  xarray/tests/test_weighted.py
Labels: topic-indexing, topic-error reporting, topic-rolling, plan to merge

#8163 Fix typos
  asv_bench/benchmarks/dataset_io.py
  asv_bench/benchmarks/merge.py
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/netCDF4_.py
  xarray/core/dataarray.py
  xarray/core/indexes.py
  xarray/core/rolling.py
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
Labels: topic-backends, topic-indexing, topic-plotting, topic-performance, topic-rolling, io

#8130 to_stacked_array: better error msg & refactor
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#8117 fix miscellaneous `numpy=2.0` errors
  pyproject.toml
  xarray/backends/netCDF4_.py
  xarray/coding/strings.py
  xarray/coding/times.py
  xarray/core/accessor_str.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/dtypes.py
  xarray/core/missing.py
  xarray/core/nputils.py
  xarray/tests/test_accessor_str.py
  xarray/tests/test_backends.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_dtypes.py
  xarray/tests/test_groupby.py
  xarray/tests/test_variable.py
  xarray/tests/test_weighted.py
Labels: topic-backends, topic-cftime, plan to merge, io, run-upstream

#7948 Implement preferred_chunks for netcdf 4 backends
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
Labels: topic-backends, run-benchmark, io

#6746 improve typing of DataArray and Dataset reductions
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/core/computation.py
  xarray/core/rolling.py
  xarray/tests/test_groupby.py
  xarray/util/generate_aggregations.py
Labels: topic-rolling, plan to merge, topic-typing

#8084 FIX: handle NaT values in dt-accessor
  doc/whats-new.rst
  xarray/core/accessor_dt.py
Labels: plan to merge

#8182 Fix `PeriodIndex` deprecation in xarray tests
  asv_bench/benchmarks/pandas.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Labels: topic-performance

#8179 Display data returned in `apply_ufunc` error message
  xarray/core/computation.py
  xarray/core/formatting.py
  xarray/tests/test_computation.py
Labels: plan to merge

#8181 Set dev version above released version
  pyproject.toml
  setup.py
Labels: plan to merge

#8188 fix the failing docs
  ci/requirements/doc.yml
  doc/getting-started-guide/installing.rst
  pyproject.toml
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
Labels: topic-plotting, CI, dependencies

#8184 Fix several warnings in the tests
  xarray/tests/test_backends.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting_html.py
Labels: topic-testing, plan to merge

#8187 FIX: use "krogh" as interpolator method-string instead of "krog"
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/core/types.py
  xarray/tests/test_missing.py
Labels: topic-documentation, plan to merge, topic-typing

#8186 Update contourf call check for mpl 3.8
  xarray/tests/test_plot.py
Labels: plan to merge

#8030 Fix static typing with Matplotlib 3.8
  doc/whats-new.rst
  xarray/core/options.py
  xarray/plot/accessor.py
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge, run-upstream

#8174 Exclude dimensions used in faceting from squeeze
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge

#8196 Remove `requirements.txt`
  requirements.txt
Labels: plan to merge, dependencies

#7827 Preserve nanosecond resolution when encoding/decoding times
  doc/whats-new.rst
  xarray/backends/netcdf3.py
  xarray/coding/times.py
  xarray/coding/variables.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
Labels: topic-backends, topic-cftime, plan to merge, io, run-upstream

#8193 Add some more mypy checks
  pyproject.toml
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/nputils.py
  xarray/plot/dataarray_plot.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: topic-plotting, plan to merge

#8194 remove invalid statement from doc/user-guide/io.rst
  doc/user-guide/io.rst
Labels: plan to merge

#8114 Move `.rolling_exp` functions from `reduce` to `apply_ufunc`
  doc/whats-new.rst
  xarray/core/rolling_exp.py
  xarray/tests/test_rolling.py
Labels: topic-rolling, plan to merge

#8203 Add T_DuckArray type hint to Variable.data
  xarray/core/alignment.py
  xarray/core/dataset.py
  xarray/core/parallelcompat.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/tests/test_parallelcompat.py
  xarray/tests/test_variable.py
Labels: plan to merge, topic-typing

#8212 Add comments on when to use which `TypeVar`
  xarray/core/types.py
Labels: topic-typing

#8198 Start a list of modules which require typing
  pyproject.toml
  xarray/core/rolling_exp.py
Labels: topic-rolling, plan to merge

#7955 Make documentation of DataArray.where clearer
  xarray/core/common.py
Labels: plan to merge

#7578 Removed `.isel` for `DatasetRolling.construct` consistent rolling behavior
  asv_bench/benchmarks/rolling.py
  doc/whats-new.rst
  xarray/core/rolling.py
  xarray/tests/test_rolling.py
Labels: topic-performance, topic-rolling, plan to merge, run-benchmark

#8217 Convert `indexes.py` to use `Self` for typing
  xarray/core/indexes.py
Labels: topic-indexing, plan to merge

#8216 Use `Self` rather than concrete types, remove `cast`s
  pyproject.toml
  xarray/core/accessor_str.py
  xarray/core/common.py
  xarray/core/concat.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#8126 Allow creating DataArrays with nD coordinate variables
  xarray/core/dataarray.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#8226 Add typing to functions related to data_vars
  xarray/core/coordinates.py
  xarray/core/dataset.py
  xarray/core/types.py
Labels: plan to merge, topic-typing

#8201 override `units` for datetime64/timedelta64 variables to preserve integer dtype
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Labels: topic-cftime, plan to merge

#8189 test_interpolate_pd_compat with range of fill_value's
  doc/whats-new.rst
  xarray/tests/test_missing.py
Labels: plan to merge, run-upstream

#8204 Rewrite typed_ops
  doc/whats-new.rst
  xarray/core/_typed_ops.py
  xarray/core/_typed_ops.pyi
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/rolling.py
  xarray/core/types.py
  xarray/core/weighted.py
  xarray/tests/test_groupby.py
  xarray/tests/test_typed_ops.py
  xarray/util/generate_ops.py
Labels: topic-rolling, plan to merge, topic-typing, run-upstream

#8064 adapt to NEP 51
  xarray/core/formatting.py
  xarray/tests/test_dataset.py
Labels: plan to merge, run-upstream

#8195 decode variable with mismatched coordinate attribute
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/conventions.py
  xarray/tests/test_conventions.py
Labels: topic-backends, topic-CF conventions, needs review, plan to merge, io

#8229 Release 2023.09.0
  doc/whats-new.rst
Labels: Release, run-upstream

#8232 [skip-ci] dev whats-new
  doc/whats-new.rst
Labels: plan to merge

#8075 initial refactor for NamedArray
  xarray/core/common.py
  xarray/core/groupby.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/namedarray/__init__.py
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
  xarray/tests/test_namedarray.py
Labels: topic-groupby, needs review, run-benchmark, topic-typing, topic-NamedArray

#8240 Bind T_DuckArray to NamedArray
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Labels: plan to merge

#8247 Fix & normalize typing for chunks
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/types.py
  xarray/core/variable.py
Labels: topic-typing

#8243 Add type hints to maybe_promote in dtypes.py
  xarray/coding/variables.py
  xarray/core/dtypes.py
Labels: plan to merge

#8246 update pytest config and un-xfail some tests
  pyproject.toml
  xarray/tests/test_backends.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_options.py
  xarray/tests/test_rolling.py
  xarray/tests/test_sparse.py
  xarray/tests/test_units.py
  xarray/tests/test_variable.py
Labels: plan to merge
