Repository pydata/xarray, pull requests merged in 2023-05, with the labels that each got.

#7787 Allow the label run-upstream to run upstream CI
  .github/workflows/upstream-dev-ci.yaml
Labels: plan to merge, Automation, run-upstream

#7793 adjust the deprecation policy for python
  ci/min_deps_check.py
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
Labels: CI

#7798 Fix groupby binary ops when grouped array is subset relative to other
  doc/whats-new.rst
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: topic-groupby, plan to merge

#7795 [skip-ci] Add cftime groupby, resample benchmarks
  asv_bench/asv.conf.json
  asv_bench/benchmarks/groupby.py
Labels: topic-performance, run-benchmark, Automation

#7561 Introduce Grouper objects internally
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/tests/test_groupby.py
Labels: topic-groupby, plan to merge, run-benchmark

#7820 Pin pint to 0.20
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Labels: CI, dependencies

#7809 Fix `min_count` behaviour with flox.
  doc/whats-new.rst
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: topic-groupby, plan to merge, run-benchmark, run-upstream

#7825 test: Fix test_write_read_select_write for Zarr V3
  xarray/tests/test_backends.py
Labels: run-upstream

#7836 Fix link to xarray twitter page
  doc/conf.py
Labels: topic-documentation, plan to merge

#7796 Speed up .dt accessor by preserving Index objects.
  asv_bench/benchmarks/accessors.py
  doc/whats-new.rst
  xarray/core/accessor_dt.py
Labels: topic-groupby, topic-performance, plan to merge, run-benchmark

#7788 Fix as_compatible_data for read-only np.ma.MaskedArray
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_variable.py
Labels: plan to merge

#7019 Generalize handling of chunked array types
  doc/whats-new.rst
  pyproject.toml
  setup.cfg
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/plugins.py
  xarray/backends/zarr.py
  xarray/coding/strings.py
  xarray/coding/variables.py
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/dask_array_ops.py
  xarray/core/daskmanager.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/indexing.py
  xarray/core/missing.py
  xarray/core/nanops.py
  xarray/core/parallelcompat.py
  xarray/core/pycompat.py
  xarray/core/rolling.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/tests/test_dask.py
  xarray/tests/test_parallelcompat.py
  xarray/tests/test_plugins.py
Labels: API design, topic-backends, topic-indexing, enhancement, topic-CF conventions, topic-dask, needs review, topic-zarr, topic-arrays, CI, topic-rolling, dependencies, run-benchmark, topic-typing, io

#7843 Improve interp performance
  xarray/core/missing.py
Labels: topic-performance, run-benchmark

#7855 adapt the `pint` + `dask` test to the newest version of `pint`
  xarray/tests/test_units.py
Labels: run-upstream

#7857 Avoid explicit loop when updating OrderedSet
  xarray/core/utils.py
Labels: topic-performance, plan to merge, run-benchmark

#7844 Improve to_dask_dataframe performance
  asv_bench/benchmarks/pandas.py
  xarray/core/dataset.py
Labels: topic-performance, plan to merge, run-benchmark

#7874 Changed duck typing exception to: (ImportError, AttributeError)
  doc/whats-new.rst
  xarray/core/pycompat.py
Labels: plan to merge

#7875 defer to `numpy` for the expected result
  xarray/tests/test_ufuncs.py
Labels: run-upstream

#7867 add `numba` to the py3.11 environment
  ci/requirements/environment-py311.yml
Labels: CI, dependencies

#7876 deprecate the `cdms2` conversion methods
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/tests/test_dataarray.py
Labels: run-upstream

#7821 Implement multidimensional initial guess and bounds for `curvefit`
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
Labels: plan to merge
