Repository pydata/xarray, pull requests merged in 2023-07, with the labels that each got.

#7881 Docstring examples
  doc/whats-new.rst
  xarray/core/dataset.py
Labels: topic-documentation

#7960 Update minimum version of typing extensions in pre-commit
  .pre-commit-config.yaml
Labels: plan to merge

#7951 Chunked array docs
  doc/conf.py
  doc/internals/chunked-arrays.rst
  doc/internals/duck-arrays-integration.rst
  doc/internals/index.rst
  doc/user-guide/duckarrays.rst
  doc/whats-new.rst
  xarray/core/parallelcompat.py
Labels: topic-documentation, topic-chunked-arrays

#7953 ensure no forward slashes in names for HDF5-based backends
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/tests/test_backends.py
Labels: topic-backends, plan to merge, io

#7968 Move absolute path finder from open_mfdataset to own function
  xarray/backends/api.py
  xarray/backends/common.py
Labels: topic-backends, plan to merge, io

#7970 Use another repository for upstream testing
  ci/install-upstream-wheels.sh
Labels: run-upstream

#7925 Remove hue_style from plot1d docstring
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge

#7993 Update whats-new.rst for new release
  doc/whats-new.rst
Labels: Release

#6975 Add documentation on custom indexes
  doc/api-hidden.rst
  doc/api.rst
  doc/internals/how-to-create-custom-index.rst
  doc/internals/index.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/core/indexes.py
Labels: topic-indexing, topic-documentation

#7989 Allow opening datasets with nD dimenson coordinate variables.
  doc/whats-new.rst
  xarray/core/indexes.py
  xarray/core/variable.py
  xarray/testing.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Labels: topic-indexing, topic-testing, plan to merge

#7225 join together duplicate entries in the text `repr`
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/core/indexes.py
  xarray/tests/test_formatting.py
Labels: topic-indexing, plan to merge

#7999 Core team member guide
  CORE_TEAM_GUIDE.md
  doc/whats-new.rst
Labels: community, plan to merge

#7368 Expose "Coordinates" as part of Xarray's public API
  doc/api-hidden.rst
  doc/api.rst
  doc/user-guide/terminology.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/core/alignment.py
  xarray/core/common.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/indexes.py
  xarray/core/merge.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/testing.py
  xarray/tests/test_coordinates.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexes.py
  xarray/tests/test_merge.py
  xarray/tests/test_variable.py
Labels: topic-indexing, topic-testing, run-benchmark, topic-typing

#7947 improved docstring of to_netcdf (issue #7127)
  xarray/core/dataset.py
Labels: topic-documentation, topic-metadata, plan to merge

#8012 Add HDF5 Section to read/write docs page
  doc/user-guide/io.rst
Labels: topic-documentation

#8022 (chore) min versions bump
  ci/min_deps_check.py
  ci/requirements/bare-minimum.yml
  ci/requirements/min-all-deps.yml
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/backends/pydap_.py
  xarray/coding/cftimeindex.py
  xarray/core/combine.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/rolling_exp.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_distributed.py
  xarray/tests/test_rolling.py
  xarray/tests/test_variable.py
Labels: topic-backends, topic-groupby, topic-cftime, CI, topic-rolling, topic-combine, dependencies, topic-typing, io

#7684 Automatically chunk `other` in GroupBy binary ops.
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: topic-groupby, plan to merge
