Repository pydata/xarray, pull requests merged in 2023-12, with the labels that each got.

#8491 Warn on repeated dimension names during construction
  doc/whats-new.rst
  xarray/core/common.py
  xarray/core/variable.py
  xarray/namedarray/core.py
  xarray/tests/test_backends.py
  xarray/tests/test_namedarray.py
Labels: plan to merge, topic-NamedArray

#8472 Avoid duplicate Zarr array read
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, plan to merge, io

#8428 Add mode='a-': Do not overwrite coordinates when appending to Zarr with `append_dim`
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/types.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, plan to merge, topic-typing, io

#8501 Update to mypy1.7
  .github/workflows/ci-additional.yaml
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/dataset.py
Labels: plan to merge, Automation

#8502 change type of curvefit's p0 and bounds to mapping
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
Labels: plan to merge, topic-typing

#8505 roll out the new/refreshed Xarray logo
  doc/_static/dataset-diagram-build.sh
  doc/_static/dataset-diagram-logo.pdf
  doc/_static/dataset-diagram-logo.png
  doc/_static/dataset-diagram-logo.svg
  doc/_static/dataset-diagram-logo.tex
  doc/_static/dataset-diagram-square-logo.png
  doc/_static/dataset-diagram-square-logo.tex
  doc/_static/dataset-diagram.tex
  doc/_static/favicon.ico
  doc/_static/logos/Xarray_Icon_Final.png
  doc/_static/logos/Xarray_Icon_Final.svg
  doc/_static/logos/Xarray_Logo_FullColor_InverseRGB_Final.png
  doc/_static/logos/Xarray_Logo_FullColor_InverseRGB_Final.svg
  doc/_static/logos/Xarray_Logo_RGB_Final.png
  doc/_static/logos/Xarray_Logo_RGB_Final.svg
  doc/conf.py
  doc/gallery.yml
Labels: topic-documentation, plan to merge

#8268 Add extra overload for to_netcdf
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
Labels: topic-backends, plan to merge, topic-typing, io

#8511 Allow callables to `.drop_vars`
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/resample.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#8495 Fix type of `.assign_coords`
  xarray/core/common.py
  xarray/core/coordinates.py
Labels: plan to merge

#8493 Use numbagg for `rolling` methods
  doc/whats-new.rst
  xarray/core/rolling.py
  xarray/tests/test_rolling.py
Labels: needs review, topic-rolling, plan to merge

#8404 Hypothesis strategy for generating Variable objects
  ci/requirements/doc.yml
  doc/api.rst
  doc/conf.py
  doc/internals/duck-arrays-integration.rst
  doc/user-guide/index.rst
  doc/user-guide/testing.rst
  doc/whats-new.rst
  xarray/core/types.py
  xarray/testing/__init__.py
  xarray/testing/assertions.py
  xarray/testing/strategies.py
  xarray/tests/__init__.py
  xarray/tests/test_assertions.py
  xarray/tests/test_strategies.py
Labels: topic-testing, CI, dependencies, topic-typing

#8521 test and fix empty xindexes repr
  xarray/core/formatting.py
  xarray/tests/test_formatting.py
Labels: plan to merge

#8500 Deprecate ds.dims returning dict
  doc/gallery/plot_cartopy_facetgrid.py
  doc/user-guide/interpolation.rst
  doc/user-guide/terminology.rst
  doc/whats-new.rst
  xarray/core/common.py
  xarray/core/concat.py
  xarray/core/dataset.py
  xarray/core/formatting.py
  xarray/core/formatting_html.py
  xarray/core/groupby.py
  xarray/core/utils.py
  xarray/tests/__init__.py
  xarray/tests/test_computation.py
  xarray/tests/test_concat.py
  xarray/tests/test_coordinates.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_missing.py
  xarray/tests/test_rolling.py
  xarray/tests/test_variable.py
Labels: API design, topic-groupby, topic-html-repr, plan to merge

#7163 Add `eval` method to Dataset
  doc/api.rst
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#8526 explicitly skip using `__array_namespace__` for `numpy.ndarray`
  xarray/core/duck_array_ops.py
Labels: plan to merge, run-upstream

#8512 Add Cumulative aggregation
  doc/api.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_rolling.py
Labels: enhancement

#8406 Add getitem to array protocol
  xarray/namedarray/_typing.py
  xarray/tests/test_namedarray.py
Labels: plan to merge, topic-NamedArray

#8538 Check that compat is equal to identical only once in dataset concat
  xarray/core/concat.py
Labels: plan to merge

#8535 Filter null values before plotting
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge

#8019 Generalize cumulative reduction (scan) to non-dask types
  doc/whats-new.rst
  xarray/core/daskmanager.py
  xarray/core/parallelcompat.py
Labels: topic-dask, topic-arrays, topic-chunked-arrays

#8533 Offer a fixture for unifying DataArray & Dataset tests
  xarray/tests/conftest.py
  xarray/tests/test_rolling.py
Labels: topic-testing

#8560 Adapt map_blocks to use new Coordinates API
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/parallel.py
  xarray/tests/test_dask.py
Labels: topic-dask, plan to merge

#7551 Support for the new compression arguments.
  doc/whats-new.rst
  xarray/backends/netCDF4_.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Labels: topic-backends, io
