Repository pydata/xarray, pull requests merged in 2023-03, with the labels that each got.

#7575 fix nczarr when libnetcdf>4.8.1
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, plan to merge, io

#7442 update the docs environment
  ci/requirements/doc.yml
  doc/conf.py
  doc/user-guide/interpolation.rst
Labels: CI, dependencies

#7562 Support first, last with dask arrays
  doc/whats-new.rst
  xarray/core/dask_array_ops.py
  xarray/core/duck_array_ops.py
  xarray/core/nputils.py
  xarray/tests/test_dask.py
  xarray/tests/test_duck_array_ops.py
Labels: topic-dask, topic-arrays, plan to merge

#7494 Update contains_cftime_datetimes to avoid loading entire variable array
  doc/whats-new.rst
  xarray/coding/calendar_ops.py
  xarray/coding/cftime_offsets.py
  xarray/coding/frequencies.py
  xarray/core/accessor_dt.py
  xarray/core/common.py
  xarray/tests/__init__.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_dataarray.py
Labels: topic-cftime, plan to merge, run-benchmark

#7444 Preserve `base` and `loffset` arguments in `resample`
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  xarray/core/common.py
  xarray/core/groupby.py
  xarray/core/pdcompat.py
  xarray/core/resample_cftime.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_groupby.py
Labels: topic-groupby

#7518 State which variables not present in drop vars error message
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#7615 Fixed broken link in Issue 7556
  doc/user-guide/time-series.rst
Labels: topic-documentation

#7595 Clarifications in contributors guide
  ci/requirements/doc.yml
  doc/_static/ci.png
  doc/_static/view-docs.png
  doc/contributing.rst
  doc/whats-new.rst
Labels: topic-documentation, CI, plan to merge, dependencies

#7616 add a test for scatter colorbar extend
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge

#5873 Allow indexing unindexed dimensions using dask arrays
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/indexing.py
  xarray/core/nputils.py
  xarray/core/pycompat.py
  xarray/core/variable.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_indexing.py
Labels: topic-indexing, topic-dask, topic-arrays, plan to merge

#7603 [skip-ci] Fix groupby binary ops benchmarks
  asv_bench/benchmarks/groupby.py
Labels: topic-performance, run-benchmark

#7612 Fix `pcolormesh` with str coords
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge

#7598 Fix missing 'dim' argument in _get_nan_block_lengths
  doc/whats-new.rst
  xarray/core/missing.py
  xarray/tests/test_missing.py
Labels: plan to merge

#7625 Use more descriptive link texts
  doc/contributing.rst
  doc/developers-meeting.rst
  doc/user-guide/computation.rst
  doc/user-guide/dask.rst
  doc/user-guide/groupby.rst
  doc/user-guide/indexing.rst
  doc/user-guide/io.rst
  doc/user-guide/pandas.rst
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
Labels: topic-documentation

#7650 Pin pandas < 2
  ci/requirements/all-but-dask.yml
  ci/requirements/doc.yml
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  requirements.txt
  setup.cfg
Labels: CI, dependencies

#7619 don't use `issubdtype` to check for integer dtypes in `polyval`
  doc/whats-new.rst
  xarray/core/computation.py
  xarray/tests/test_computation.py
Labels: plan to merge

#7638 Faq pull request (According to pull request #7604 & issue #1285
  doc/getting-started-guide/faq.rst
  doc/whats-new.rst
Labels: topic-documentation, plan to merge, Outreachy-2023

#7629 Raise PermissionError when insufficient permissions
  doc/whats-new.rst
  xarray/backends/plugins.py
Labels: topic-backends, plan to merge, io

#7553 boundarynorm fix
  doc/whats-new.rst
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: topic-plotting

#7677 Added a pronunciation guide to the word Xarray in the README.MD fil…
  README.md
Labels: topic-documentation

#7690 [skip-ci] Add compute to groupby benchmarks
  asv_bench/benchmarks/groupby.py
Labels: topic-performance, run-benchmark

#7206 Save groupby codes after factorizing, pass to flox
  xarray/core/_aggregations.py
  xarray/core/groupby.py
  xarray/core/nputils.py
  xarray/core/resample.py
  xarray/core/resample_cftime.py
  xarray/tests/test_groupby.py
  xarray/util/generate_aggregations.py
Labels: topic-groupby, plan to merge, run-benchmark

#7671 Delete built-in rasterio backend
  ci/install-upstream-wheels.sh
  doc/api.rst
  doc/conf.py
  doc/gallery/plot_rasterio.py
  doc/gallery/plot_rasterio_rgb.py
  doc/getting-started-guide/installing.rst
  doc/user-guide/io.rst
  doc/whats-new.rst
  pyproject.toml
  setup.cfg
  xarray/__init__.py
  xarray/backends/rasterio_.py
  xarray/tests/test_backends.py
  xarray/tests/test_distributed.py
  xarray/tutorial.py
  xarray/util/print_versions.py
Labels: topic-backends, CI, plan to merge, io

#7664 use the `files` interface instead of the deprecated `read_binary`
  xarray/core/formatting_html.py
Labels: topic-html-repr

#6874 Avoid calling np.asarray on lazy indexing classes
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/backends/pydap_.py
  xarray/coding/variables.py
  xarray/core/formatting.py
  xarray/core/indexing.py
  xarray/core/variable.py
  xarray/tests/__init__.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
Labels: topic-backends, topic-indexing, topic-zarr, plan to merge, io

#7623 Added an introduction to the reshaping documentation
  doc/user-guide/reshaping.rst
Labels: topic-documentation, CI, dependencies, Automation
