Repository pydata/xarray, pull requests merged in 2023-06, with the labels that each got.

#7878 move to `setup-micromamba`
  .github/workflows/benchmarks-last-release.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/parse_logs.py
  .github/workflows/upstream-dev-ci.yaml
Labels: plan to merge, Automation, run-upstream

#7824 Improve concat performance
  asv_bench/benchmarks/combine.py
  doc/whats-new.rst
  xarray/core/combine.py
  xarray/core/common.py
  xarray/core/concat.py
  xarray/core/dataset.py
  xarray/core/dtypes.py
  xarray/core/duck_array_ops.py
  xarray/core/indexes.py
  xarray/core/merge.py
  xarray/core/pycompat.py
  xarray/core/variable.py
Labels: topic-indexing, topic-performance, topic-arrays, plan to merge, topic-combine, run-benchmark

#7889 retire the TestPyPI workflow
  .github/workflows/testpypi-release.yaml
  doc/whats-new.rst
Labels: Automation

#7830 Fix .groupby(multi index level)
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: topic-groupby, plan to merge

#7900 fix polyfit changing the original object
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#7917 Ensure dtype of reindex result matches dtype of the original DataArray
  doc/whats-new.rst
  xarray/core/dtypes.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#7891 Add errors option to curvefit
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
Labels: enhancement, topic-error reporting, plan to merge

#7862 CF encoding should preserve vlen dtype for empty arrays
  doc/whats-new.rst
  xarray/backends/netCDF4_.py
  xarray/backends/zarr.py
  xarray/coding/strings.py
  xarray/conventions.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_strings.py
  xarray/tests/test_conventions.py
Labels: topic-backends, topic-CF conventions, topic-zarr, plan to merge, io

#7899 use trusted publishers instead of a API token
  .github/workflows/pypi-release.yaml
Labels: Automation

#7920 Fix regression with grouper object on an IndexVariable
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: topic-groupby, run-benchmark

#7934 Release summary for v2023.06.0
  doc/whats-new.rst
Labels: Release

#7923 Fix check for chunk_store in zarr backend
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, plan to merge, io

#7941 Allow cubed arrays to be passed to flox groupby
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/core/utils.py
  xarray/util/generate_aggregations.py
Labels: topic-chunked-arrays

#7911 Duck array documentation improvements
  doc/howdoi.rst
  doc/internals/duck-arrays-integration.rst
  doc/internals/extending-xarray.rst
  doc/internals/index.rst
  doc/user-guide/data-structures.rst
  doc/user-guide/duckarrays.rst
  doc/whats-new.rst
Labels: topic-documentation, topic-faq
