Repository pydata/xarray, pull requests merged in 2023-08, with the labels that each got.

#8034 sort when encoding coordinates for deterministic outputs
  doc/whats-new.rst
  xarray/conventions.py
  xarray/tests/test_conventions.py
Labels: topic-CF conventions, plan to merge

#8016 Zarr : Allow setting `write_empty_chunks`
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, io

#8073 add design document for "named-array"
  design_notes/named_array_design_doc.md
Labels: grant-nasa

#7732 Extending the glossary
  doc/user-guide/terminology.rst
  doc/whats-new.rst
Labels: topic-documentation, plan to merge

#8094 Refactor update coordinates to better handle multi-coordinate indexes
  doc/whats-new.rst
  xarray/core/coordinates.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#8104 Fix merge with compat=minimal (coord names)
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/merge.py
  xarray/tests/test_dataset.py
  xarray/tests/test_merge.py
Labels: plan to merge

#7142 Fix Codecov
  .codecov.yml
  .github/workflows/ci-additional.yaml
  README.md
Labels: plan to merge, Automation
