Repository pydata/xarray, pull requests merged in 2023-11, with the labels that each got.

#8393 Port fix from pandas-dev/pandas#55283 to cftime resample
  doc/whats-new.rst
  xarray/core/resample_cftime.py
  xarray/tests/test_cftimeindex_resample.py
Labels: topic-pandas-like, plan to merge, run-upstream

#8326 Fix for Dataset.to_zarr with both `consolidated` and `write_empty_chunks`
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, plan to merge, io

#8396 Test masked array
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Labels: plan to merge, topic-NamedArray

#8400 Better attr diff for `testing.assert_identical`
  xarray/core/formatting.py
  xarray/tests/test_formatting.py
Labels: plan to merge

#8311 Add cross-links to API docstring from tutorial and user-guide
  doc/conf.py
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/rolling.py
Labels: topic-documentation, topic-rolling

#8438 Rename `to_array` to `to_dataarray`
  doc/api.rst
  doc/howdoi.rst
  doc/user-guide/reshaping.rst
  doc/whats-new.rst
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/tests/test_concat.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_rolling.py
  xarray/tests/test_sparse.py
Labels: topic-groupby, topic-faq

#8445 Pin pint to >=0.22
  .binder/environment.yml
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  doc/whats-new.rst
  xarray/tests/test_units.py
Labels: CI, dependencies

#8446 Remove PseudoNetCDF
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  doc/api-hidden.rst
  doc/api.rst
  doc/getting-started-guide/installing.rst
  doc/user-guide/io.rst
  doc/whats-new.rst
  pyproject.toml
  xarray/backends/__init__.py
  xarray/backends/api.py
  xarray/backends/pseudonetcdf_.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_plugins.py
  xarray/util/print_versions.py
Labels: topic-backends, CI, dependencies, io

#8441 remove `cdms2`
  .binder/environment.yml
  .github/workflows/ci.yaml
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-py311.yml
  ci/requirements/environment-windows-py311.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  doc/api.rst
  doc/getting-started-guide/faq.rst
  doc/whats-new.rst
  pyproject.toml
  xarray/convert.py
  xarray/core/dataarray.py
  xarray/tests/test_dataarray.py
Labels: CI, plan to merge, dependencies, Automation, run-upstream

#8434 Automatic region detection and transpose for `to_zarr()`
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, io

#8433 Raise exception in to_dataset if resulting variable is also the name of a coordinate
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#8360 Added driver parameter for h5netcdf
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Labels: topic-backends, io

#8415 Deprecate certain cftime frequency strings following pandas
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/frequencies.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/parallel.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_calendar_ops.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_missing.py
  xarray/tests/test_units.py
  xarray/tests/test_weighted.py
Labels: topic-dask, topic-cftime

#8452 [skip-ci] Small updates to IO docs.
  doc/user-guide/io.rst
  doc/whats-new.rst
Labels: plan to merge

#8458 Pin mypy < 1.7
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
Labels: Automation

#7869 preserve vlen string dtypes, allow vlen string fill_values
  ci/requirements/min-all-deps.yml
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-CF conventions, CI, dependencies, io

#8416 migrate the other CI to python 3.11
  .github/workflows/ci-additional.yaml
  .github/workflows/upstream-dev-ci.yaml
  xarray/tests/__init__.py
Labels: plan to merge, Automation, run-upstream

#8465 Consolidate `_get_alpha` func
  xarray/core/rolling_exp.py
Labels: topic-rolling, plan to merge

#8464 Fix `map_blocks` docs' formatting
  xarray/core/parallel.py
Labels: topic-dask, plan to merge

#8449 Use concise date format when plotting
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge

#8389 Use numbagg for `ffill` by default
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/core/dask_array_ops.py
  xarray/core/duck_array_ops.py
  xarray/core/missing.py
  xarray/core/nputils.py
  xarray/core/pycompat.py
  xarray/core/rolling_exp.py
  xarray/tests/__init__.py
  xarray/tests/test_missing.py
  xarray/tests/test_plugins.py
Labels: topic-backends, topic-dask, topic-zarr, topic-arrays, topic-rolling, plan to merge, run-benchmark, io

#8485 Refine rolling_exp error messages
  xarray/core/rolling_exp.py
Labels: topic-rolling

#8484 Fix Zarr region transpose
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, io

#4700 Raise an informative error message when object array has mixed types
  xarray/conventions.py
  xarray/tests/test_conventions.py
Labels: topic-CF conventions, plan to merge
