Repository pydata/xarray, pull requests merged in 2023-10, with the labels that each got.

#8261 Update type annotation for center argument of dataaray_plot methods
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
Labels: topic-plotting

#8241 Use strict type hinting for namedarray
  pyproject.toml
  xarray/core/parallel.py
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
  xarray/tests/test_namedarray.py
Labels: topic-dask, needs review

#8270 Add xarray-regrid to ecosystem.rst
  doc/ecosystem.rst
  doc/whats-new.rst
Labels: topic-documentation, plan to merge

#8250 copy the `dtypes` module to the `namedarray` package.
  xarray/namedarray/core.py
  xarray/namedarray/dtypes.py
  xarray/namedarray/utils.py
Labels: needs review, topic-NamedArray

#8257 Mandate kwargs on `to_zarr`
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
Labels: topic-backends, io

#8267 Use duck array ops in more places
  doc/whats-new.rst
  xarray/core/accessor_dt.py
  xarray/core/computation.py
  xarray/core/duck_array_ops.py
  xarray/core/nanops.py
  xarray/core/variable.py
  xarray/tests/test_coarsen.py
  xarray/tests/test_variable.py
Labels: topic-arrays

#6403 make more args kw only (except 'dim')
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/weighted.py
  xarray/tests/test_dataset.py
  xarray/tests/test_deprecation_helpers.py
  xarray/util/deprecation_helpers.py
Labels: topic-groupby, plan to merge

#8272 Fix datetime encoding precision loss regression for units requiring floating point values
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Labels: topic-cftime

#8280 Remove if condition to trigger mypy
  .github/workflows/ci-additional.yaml
Labels: plan to merge, Automation

#8234 Improved typing of align & broadcast
  xarray/core/alignment.py
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/merge.py
  xarray/core/types.py
  xarray/tests/test_dataset.py
Labels: plan to merge, topic-typing

#8279 Add pyright type checker
  .github/workflows/ci-additional.yaml
  pyproject.toml
Labels: plan to merge, Automation, run-pyright

#8283 Ask bug reporters to confirm they're using a recent version of xarray
  .github/ISSUE_TEMPLATE/bugreport.yml
Labels: plan to merge, Automation

#8286 Fix `GroupBy` import
  xarray/tests/test_units.py
Labels: plan to merge

#8284 Enable `.rolling_exp` to work on dask arrays
  doc/whats-new.rst
  xarray/core/rolling_exp.py
  xarray/tests/test_rolling.py
Labels: topic-rolling

#8287 Rename `reset_encoding` to `drop_encoding`
  doc/api-hidden.rst
  doc/api.rst
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Labels: plan to merge

#8296 mypy 1.6.0 passing
  pyproject.toml
  xarray/core/_typed_ops.py
  xarray/core/alignment.py
  xarray/util/generate_ops.py
Labels: plan to merge

#8299 xfail flaky test
  xarray/tests/test_backends.py
Labels: plan to merge

#8297 Avoid redundant metadata reads in `ZarrArrayWrapper`
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, io

#8305 Update labeler.yml to add NamedArray
  .github/labeler.yml
Labels: needs review, Automation

#8285 Add `min_weight` param to `rolling_exp` functions
  doc/whats-new.rst
  xarray/core/rolling_exp.py
Labels: topic-rolling, plan to merge, run-benchmark

#8315 Handle numpy missing the array api function astype
  xarray/core/duck_array_ops.py
Labels: topic-arrays

#8313 Reverse type checks for better type inheritance
  xarray/core/variable.py
Labels: plan to merge

#8304 Move Variable aggregations to NamedArray
  doc/api-hidden.rst
  xarray/core/arithmetic.py
  xarray/core/dataset.py
  xarray/core/formatting_html.py
  xarray/core/ops.py
  xarray/core/variable.py
  xarray/namedarray/_aggregations.py
  xarray/namedarray/core.py
  xarray/util/generate_aggregations.py
Labels: topic-html-repr, plan to merge, topic-NamedArray

#8294 Use shape and dtype as typevars in NamedArray
  xarray/core/variable.py
  xarray/namedarray/_array_api.py
  xarray/namedarray/_typing.py
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
  xarray/tests/test_namedarray.py
  xarray/tests/test_variable.py
Labels: topic-NamedArray

#8316 Enable numbagg for reductions
  xarray/core/nputils.py
  xarray/core/options.py
Labels: plan to merge, run-benchmark

#8100 Remove np.asarray in formatting.py
  xarray/core/formatting.py
  xarray/core/pycompat.py
  xarray/core/variable.py
Labels: plan to merge

#8329 Request to adjust pyright config
  pyproject.toml
Labels: run-pyright

#8331 Docs: Add syntax for registering backends in `pyproject.toml`
  ci/requirements/doc.yml
  doc/conf.py
  doc/internals/how-to-add-new-backend.rst
Labels: CI, dependencies

#8325 internal: Improve version handling for numbagg
  xarray/core/rolling_exp.py
Labels: topic-rolling

#8346 Bump minimum numpy version
  pyproject.toml
Labels: needs triage

#8351 [skip-ci] Add benchmarks for Dataset binary ops, chunk
  asv_bench/benchmarks/dataset.py
Labels: topic-performance, run-benchmark

#8352 Add better ASV test cases for open_dataset
  asv_bench/benchmarks/dataset_io.py
Labels: topic-performance, run-benchmark

#8339 Reduce dask tokenization time
  xarray/core/dataset.py
Labels: run-benchmark

#8341 Deprecate tuples of chunks?
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/tests/test_backends.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_variable.py
Labels: plan to merge, topic-typing

#8355 Use namedarray repr in _array_api docstrings
  xarray/core/formatting.py
  xarray/namedarray/_array_api.py
Labels: topic-NamedArray

#8365 add `.imag` and `.real` properties to `NamedArray`
  xarray/core/variable.py
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Labels: topic-NamedArray

#8369 fix `NamedArray.imag` and `NamedArray.real` typing info
  xarray/core/variable.py
  xarray/namedarray/_typing.py
  xarray/namedarray/core.py
  xarray/tests/test_namedarray.py
Labels: topic-NamedArray

#8376 Add chunkedduckarray to _typing
  xarray/namedarray/_typing.py
Labels: topic-NamedArray

#7992 Docs page on interoperability
  doc/internals/how-to-create-custom-index.rst
  doc/internals/index.rst
  doc/internals/internal-design.rst
  doc/internals/interoperability.rst
  doc/whats-new.rst
Labels: topic-documentation, needs review

#8375 Fix typos found by codespell
  doc/examples/apply_ufunc_vectorize_1d.ipynb
  doc/user-guide/io.rst
  xarray/backends/common.py
  xarray/core/accessor_dt.py
  xarray/core/computation.py
  xarray/core/groupby.py
  xarray/core/missing.py
  xarray/core/types.py
  xarray/namedarray/core.py
  xarray/tests/test_concat.py
  xarray/tests/test_formatting.py
  xarray/tests/test_plot.py
  xarray/util/generate_ops.py
Labels: topic-backends, topic-groupby, topic-typing, io, topic-NamedArray

#8373 Use `opt_einsum` by default if installed.
  ci/install-upstream-wheels.sh
  ci/requirements/environment.yml
  doc/conf.py
  doc/whats-new.rst
  pyproject.toml
  xarray/core/computation.py
  xarray/core/duck_array_ops.py
  xarray/core/options.py
  xarray/tests/test_units.py
Labels: topic-arrays, CI, plan to merge, dependencies

#8391 Add duckarray test for np.array_api
  xarray/namedarray/_typing.py
  xarray/tests/test_namedarray.py
Labels: plan to merge, topic-NamedArray

#8395 Correct typing for _sparsearray
  xarray/namedarray/_typing.py
Labels: topic-NamedArray
