Repository pydata/xarray, pull requests merged in 2023-01, with the labels that each got.

#7416 remove `numbagg` and `numba` from the upstream-dev CI
  ci/install-upstream-wheels.sh
Labels: CI

#7387 Make `broadcast` and `concat` work with the Array API
  xarray/core/duck_array_ops.py
  xarray/tests/test_array_api.py
Labels: topic-arrays, plan to merge

#7382 Some alignment optimizations
  asv_bench/benchmarks/indexing.py
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/indexes.py
Labels: topic-indexing, topic-performance, plan to merge, run-benchmark

#7431 Pull Request Labeler - Workaround sync-labels bug
  .github/labeler.yml
  .github/workflows/benchmarks.yml
  .github/workflows/label-prs.yml
Labels: Automation

#7426 Add lazy backend ASV test
  asv_bench/benchmarks/dataset_io.py
Labels: topic-performance, plan to merge, run-benchmark

#7374 Improve performance for backend datetime handling
  xarray/coding/times.py
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/core/variable.py
Labels: topic-CF conventions, topic-performance, topic-cftime, plan to merge, run-benchmark

#7436 pin scipy version in doc environment
  ci/requirements/doc.yml
Labels: CI, dependencies

#7438 Refer to open_zarr in open_dataset docstring
  xarray/backends/api.py
Labels: topic-backends, io

#7400 Fill missing data_vars during concat by reindexing
  doc/whats-new.rst
  xarray/core/concat.py
  xarray/tests/test_concat.py
Labels: plan to merge, run-benchmark

#7415 install `numbagg` from `conda-forge`
  ci/requirements/all-but-dask.yml
  ci/requirements/doc.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Labels: CI, dependencies

#7474 Add benchmarks for to_dataframe and to_dask_dataframe
  asv_bench/benchmarks/pandas.py
Labels: topic-performance, run-benchmark

#7454 Mention flox in docs
  doc/user-guide/dask.rst
  doc/user-guide/groupby.rst
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/util/generate_aggregations.py
Labels: plan to merge

#7391 Follow keep_attrs in Dataset binary ops
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#7458 Lint with ruff
  .pre-commit-config.yaml
  ci/min_deps_check.py
  pyproject.toml
  setup.cfg
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_distributed.py
  xarray/tests/test_ufuncs.py
Labels: topic-backends, topic-indexing, topic-CF conventions, topic-testing, topic-arrays, CI, Automation, topic-typing, io
