Repository pydata/xarray, pull requests merged in 2024-02, with the labels that each got.

#8651 allow negative freq strings
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/tests/test_cftime_offsets.py
Labels: topic-cftime, plan to merge

#8717 Add lru_cache to named_array.utils.module_available and core.utils.module_available
  xarray/core/utils.py
  xarray/namedarray/utils.py
Labels: plan to merge

#8700 docs: use the link shortener
  doc/internals/extending-xarray.rst
Labels: topic-documentation

#8674 Fix negative slicing of Zarr arrays
  doc/whats-new.rst
  xarray/backends/zarr.py
Labels: plan to merge

#8319 Move parallelcompat and chunkmanagers to NamedArray
  doc/internals/chunked-arrays.rst
  doc/whats-new.rst
  pyproject.toml
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/pydap_.py
  xarray/backends/zarr.py
  xarray/coding/strings.py
  xarray/coding/times.py
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/convert.py
  xarray/core/accessor_dt.py
  xarray/core/arithmetic.py
  xarray/core/common.py
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/formatting.py
  xarray/core/indexing.py
  xarray/core/missing.py
  xarray/core/nputils.py
  xarray/core/parallel.py
  xarray/core/rolling.py
  xarray/core/rolling_exp.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/core/weighted.py
  xarray/namedarray/_typing.py
  xarray/namedarray/core.py
  xarray/namedarray/daskmanager.py
  xarray/namedarray/parallelcompat.py
  xarray/namedarray/pycompat.py
  xarray/namedarray/utils.py
  xarray/plot/utils.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_missing.py
  xarray/tests/test_parallelcompat.py
  xarray/tests/test_plot.py
  xarray/tests/test_sparse.py
  xarray/tests/test_utils.py
  xarray/tests/test_variable.py
Labels: topic-backends, topic-indexing, topic-CF conventions, topic-groupby, topic-dask, topic-plotting, topic-testing, needs review, topic-cftime, topic-zarr, topic-arrays, topic-rolling, io, topic-chunked-arrays, topic-NamedArray

#8774 Fixing issue #8770: Improved frequency parameter logic to set it to 'D' only if periods, start, or end are None.
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/tests/test_cftime_offsets.py
Labels: plan to merge

#8757 Migrate treenode module.
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/backends/zarr.py
  xarray/core/treenode.py
  xarray/datatree_/datatree/__init__.py
  xarray/datatree_/datatree/datatree.py
  xarray/datatree_/datatree/iterators.py
  xarray/datatree_/datatree/mapping.py
  xarray/datatree_/datatree/tests/test_formatting.py
  xarray/tests/conftest.py
  xarray/tests/datatree/conftest.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_treenode.py
Labels: topic-DataTree

#8782 Fix non-nanosecond casting behavior for `expand_dims`
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_dataset.py
  xarray/tests/test_variable.py
Labels: plan to merge
