Repository pydata/xarray, pull requests merged in 2024-05, with the labels that each got.

#8939 avoid a couple of warnings in `polyfit`
  pyproject.toml
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/tests/test_assertions.py
  xarray/tests/test_formatting.py
Labels: run-upstream

#8976 Migration of datatree/ops.py -> datatree_ops.py
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/datatree_mapping.py
  xarray/core/datatree_ops.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#8996 Mark `test_use_cftime_false_standard_calendar_in_range` as an expected failure
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Labels: run-upstream

#8993 call `np.cross` with 3D vectors only
  xarray/tests/test_computation.py
Labels: run-upstream

#8991 Add argument check_dims to assert_allclose to allow transposed inputs (#5733)
  doc/whats-new.rst
  xarray/testing/assertions.py
  xarray/tests/test_assertions.py
Labels: topic-testing

#9001 Faster fastpath
  xarray/core/variable.py
Labels: plan to merge

#8536 Speed up localize
  xarray/core/missing.py
Labels: topic-performance, run-benchmark

#8999 Port negative frequency fix for `pandas.date_range` to `cftime_range`
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/tests/__init__.py
  xarray/tests/test_cftime_offsets.py
Labels: run-upstream

#8997 Zarr: Optimize `region="auto"` detection
  doc/user-guide/io.rst
  xarray/backends/api.py
  xarray/backends/zarr.py
Labels: plan to merge

#8893 Avoid extra read from disk when creating Pandas Index.
  xarray/core/indexes.py
Labels: run-slow-hypothesis

#9013 Fix benchmark CI
  .github/workflows/benchmarks.yml
  asv_bench/asv.conf.json
  asv_bench/benchmarks/groupby.py
  asv_bench/benchmarks/indexing.py
Labels: run-benchmark

#8872 Avoid auto creation of indexes in concat
  doc/whats-new.rst
  xarray/core/concat.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/__init__.py
  xarray/tests/arrays.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
Labels: topic-combine

#8998 Zarr: Optimize appending
  .gitignore
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: topic-zarr

#9021 Release summary for v2024.05.0
  doc/whats-new.rst
Labels: Release

#9035 Use ME in test_plot instead of M
  xarray/tests/test_plot.py
Labels: plan to merge

#8854 array api-related upstream-dev failures
  xarray/core/dtypes.py
  xarray/core/duck_array_ops.py
  xarray/core/npcompat.py
  xarray/namedarray/_array_api.py
  xarray/namedarray/core.py
  xarray/tests/__init__.py
  xarray/tests/test_array_api.py
  xarray/tests/test_dtypes.py
  xarray/tests/test_namedarray.py
  xarray/tests/test_strategies.py
Labels: topic-arrays, plan to merge, run-upstream, array API standard

#9020 User-guide - pandas : Add alternative to xarray.Dataset.from_dataframe
  doc/ecosystem.rst
  doc/user-guide/pandas.rst
Labels: plan to merge

#9050 pin nightly `zarr` to v2
  ci/install-upstream-wheels.sh
Labels: run-upstream
