Repository pydata/xarray, pull requests merged in 2024-09, with the labels that each got.

#9407 Byte attr support
  xarray/backends/api.py
  xarray/tests/conftest.py
  xarray/tests/test_backends.py
Labels: topic-metadata, plan to merge

#9419 copy the data of the `DatetimeIndex` in the `Dataset.chunk`-by-frequency tests
  xarray/tests/test_dataset.py
Labels: run-upstream

#9415 Don't return IndexVariable with .dt accessor
  xarray/core/accessor_dt.py
  xarray/core/variable.py
  xarray/testing/assertions.py
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#9414 GroupBy(multiple strings)
  doc/user-guide/groupby.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/types.py
  xarray/tests/test_groupby.py
Labels: plan to merge

#9429 Avoid deep-copy when constructing groupby codes
  asv_bench/benchmarks/groupby.py
  doc/whats-new.rst
  xarray/groupers.py
Labels: topic-groupby, topic-performance, plan to merge, run-benchmark

#9297 Shallow copy parent and children in DataTree constructor
  xarray/core/datatree.py
  xarray/core/datatree_render.py
  xarray/core/iterators.py
  xarray/core/treenode.py
  xarray/tests/conftest.py
  xarray/tests/test_datatree.py
  xarray/tests/test_datatree_mapping.py
  xarray/tests/test_formatting.py
  xarray/tests/test_treenode.py
Labels: topic-DataTree

#9413 Support additional dtypes in `resample`
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/resample_cftime.py
  xarray/core/types.py
  xarray/groupers.py
  xarray/tests/test_groupby.py
Labels: plan to merge

#9444 Disallow passing a DataArray as data into the DataTree constructor
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9445 DataTree should not be "Generic"
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9446 Make the first argument in DataTree.from_dict positional only
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
  xarray/tests/test_datatree_mapping.py
Labels: topic-DataTree

#9459 Add ASV for datatree.from_dict
  asv_bench/benchmarks/datatree.py
Labels: run-benchmark

#9453 Implement `DataTree.__delitem__`
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9457 Fix inheritance in DataTree.copy()
  asv_bench/benchmarks/datatree.py
  xarray/core/datatree.py
  xarray/core/formatting.py
  xarray/core/formatting_html.py
  xarray/tests/test_datatree.py
Labels: plan to merge, topic-DataTree

#9465 Remove parent argument from DataTree.__init__
  xarray/core/datatree.py
Labels: topic-DataTree

#9105 Add days_in_year and decimal_year to dt accessor
  doc/api.rst
  doc/whats-new.rst
  xarray/coding/calendar_ops.py
  xarray/coding/cftimeindex.py
  xarray/core/accessor_dt.py
  xarray/tests/test_accessor_dt.py
Labels: plan to merge

#9470 Update DataTree repr to indicate inheritance
  asv_bench/benchmarks/datatree.py
  xarray/core/formatting.py
  xarray/tests/test_datatree.py
  xarray/tests/test_formatting.py
Labels: topic-DataTree

#9476 Rename DataTree's "ds" and "data" to "dataset"
  xarray/backends/zarr.py
  xarray/core/datatree.py
  xarray/core/datatree_mapping.py
  xarray/core/formatting.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_datatree.py
  xarray/tests/test_formatting.py
  xarray/tests/test_formatting_html.py
Labels: topic-DataTree

#9451 Fix `DataTree.coords.__setitem__` by adding `DataTreeCoordinates` class
  xarray/core/coordinates.py
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9484 Update pyproject.toml
  pyproject.toml
Labels: topic-zarr, dependencies

#9482 Ensure TreeNode doesn't copy in-place
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/tests/test_treenode.py
Labels: topic-internals, topic-DataTree

#9378 Make illegal path-like variable names when constructing a DataTree from a Dataset
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: plan to merge, topic-DataTree

#9494 Forbid modifying names of DataTree objects with parents
  xarray/core/treenode.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9508 Stateful test: silence DeprecationWarning from drop_dims
  properties/test_index_manipulation.py
Labels: run-slow-hypothesis

#9433 flox: don't set fill_value where possible
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/tests/__init__.py
  xarray/tests/test_groupby.py
Labels: topic-groupby, plan to merge

#9516 Datatree setitem dataset
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9517 Make _replace more lenient.
  xarray/core/dataarray.py
  xarray/tests/test_groupby.py
Labels: run-slow-hypothesis

#9520 (fix): `ExtensionArray` + `DataArray` roundtrip
  properties/test_pandas_roundtrip.py
  xarray/core/dataarray.py
  xarray/core/variable.py
  xarray/tests/test_variable.py
Labels: plan to merge

#9527 Improve safe chunk validation
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Labels: plan to merge

#9532 Fix DataTree repr to not repeat inherited coordinates
  xarray/core/formatting.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9526 Support vectorized interpolation with more scipy interpolators
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/core/types.py
  xarray/tests/__init__.py
  xarray/tests/test_interp.py
  xarray/tests/test_missing.py
Labels: plan to merge, topic-interpolation

#9531 Remove duplicate coordinates with indexes on sub-trees
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
  xarray/tests/test_datatree_mapping.py
Labels: topic-DataTree

#9530 allow using `__array_function__` as a fallback for missing Array API functions
  xarray/core/indexing.py
  xarray/core/nanops.py
  xarray/tests/test_indexing.py
Labels: topic-arrays, plan to merge, array API standard
