Repository pydata/xarray, pull requests merged in 2024-04, with the labels that each got.

#8903 Update docstring for compute and persist
  xarray/core/dataarray.py
  xarray/core/dataset.py
Labels: plan to merge

#8907 Trigger hypothesis stateful tests nightly
  .github/workflows/hypothesis.yaml
Labels: run-slow-hypothesis

#8889 Add typing to test_plot.py
  pyproject.toml
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge, topic-typing

#8913 Update hypothesis action to always save the cache
  .github/workflows/hypothesis.yaml
Labels: run-slow-hypothesis

#8920 Enhance the ugly error in constructor when no data passed
  xarray/core/variable.py
Labels: plan to merge

#8879 Migrate iterators.py for datatree.
  doc/whats-new.rst
  licenses/ANYTREE_LICENSE
  xarray/core/iterators.py
  xarray/core/treenode.py
  xarray/datatree_/datatree/iterators.py
  xarray/datatree_/datatree/mapping.py
  xarray/tests/test_datatree.py
  xarray/tests/test_treenode.py
Labels: topic-DataTree

#8938 use `pd.to_timedelta` instead of `TimedeltaIndex`
  xarray/tests/test_missing.py
Labels: run-upstream

#8940 adapt more tests to the copy-on-write behavior of pandas
  xarray/tests/test_dataarray.py
  xarray/tests/test_missing.py
Labels: run-upstream

#8948 Migrate datatree mapping.py
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/core/datatree_mapping.py
  xarray/core/iterators.py
  xarray/datatree_/datatree/__init__.py
  xarray/datatree_/datatree/formatting.py
  xarray/datatree_/datatree/ops.py
  xarray/tests/test_datatree_mapping.py
Labels: topic-DataTree

#8723 (feat): Support for `pandas` `ExtensionArray`
  doc/whats-new.rst
  properties/test_pandas_roundtrip.py
  pyproject.toml
  xarray/core/dataset.py
  xarray/core/duck_array_ops.py
  xarray/core/extension_array.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/testing/strategies.py
  xarray/tests/__init__.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_groupby.py
  xarray/tests/test_merge.py
  xarray/tests/test_variable.py
Labels: topic-arrays, plan to merge

#8961 use `nan` instead of `NaN`
  xarray/tests/test_calendar_ops.py
Labels: plan to merge, run-upstream

#8953 stop pruning datatree_ directory from distribution
  MANIFEST.in
  pyproject.toml
  xarray/datatree_/datatree/io.py
  xarray/datatree_/datatree/tests/test_extensions.py
  xarray/datatree_/docs/source/conf.py
Labels: plan to merge

#8971 Delete pynio backend.
  .binder/environment.yml
  doc/getting-started-guide/installing.rst
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/__init__.py
  xarray/backends/api.py
  xarray/backends/pynio_.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_plugins.py
Labels: plan to merge

#8967 Migrate datatreee assertions/extensions/formatting
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/core/datatree_mapping.py
  xarray/core/datatree_render.py
  xarray/core/extensions.py
  xarray/core/formatting.py
  xarray/datatree_/datatree/extensions.py
  xarray/datatree_/datatree/formatting.py
  xarray/datatree_/datatree/ops.py
  xarray/datatree_/datatree/render.py
  xarray/datatree_/datatree/testing.py
  xarray/datatree_/datatree/tests/__init__.py
  xarray/datatree_/datatree/tests/conftest.py
  xarray/datatree_/datatree/tests/test_dataset_api.py
  xarray/datatree_/datatree/tests/test_extensions.py
  xarray/datatree_/datatree/tests/test_formatting.py
  xarray/testing/__init__.py
  xarray/testing/assertions.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_datatree.py
  xarray/tests/test_datatree_mapping.py
  xarray/tests/test_extensions.py
  xarray/tests/test_formatting.py
Labels: topic-DataTree

#8968 Bump dependencies incl `pandas>=2`
  ci/requirements/bare-minimum.yml
  ci/requirements/min-all-deps.yml
  doc/whats-new.rst
  pyproject.toml
  xarray/tests/__init__.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_variable.py
Labels: plan to merge

#8960 Option to not auto-create index during expand_dims
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Labels: topic-indexing, plan to merge

#8978 more engine environment tricks in preparation for `numpy>=2`
  ci/install-upstream-wheels.sh
  xarray/tests/__init__.py
  xarray/tests/test_formatting.py
Labels: plan to merge, run-upstream

#8969 CI: python 3.12 by default.
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/pypi-release.yaml
  ci/requirements/environment-3.13.yml
  ci/requirements/environment-windows-3.13.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  pyproject.toml
  xarray/tests/test_backends.py
  xarray/tests/test_plugins.py
  xarray/util/print_versions.py
Labels: Automation, run-upstream, run-slow-hypothesis

#8973 Docstring and documentation improvement for the Dataset class
  doc/user-guide/data-structures.rst
  xarray/core/dataset.py
Labels: plan to merge

#8986 clean up the upstream-dev setup script
  ci/install-upstream-wheels.sh
Labels: run-upstream
