Repository pydata/xarray, pull requests merged in 2024-11, with the labels that each got.

#9687 update mypy to 1.13
  .github/workflows/ci-additional.yaml
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/netCDF4_.py
  xarray/core/combine.py
  xarray/core/datatree_io.py
  xarray/core/types.py
  xarray/plot/facetgrid.py
  xarray/tests/test_backends.py
Labels: upstream issue, plan to merge, topic-typing

#9700 DOC: mention attribute peculiarities in docs/docstrings
  doc/getting-started-guide/faq.rst
  doc/user-guide/data-structures.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
Labels: plan to merge

#9677 Fix writing of DataTree subgroups to zarr or netCDF
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/tests/test_backends_datatree.py
Labels: topic-backends, topic-DataTree

#9599 support for additional scipy nd interpolants
  doc/user-guide/interpolation.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/core/types.py
  xarray/tests/test_interp.py
Labels: enhancement, plan to merge

#9725 chmod -x
  xarray/util/print_versions.py
Labels: plan to merge

#9741 MNT: use new conda-forge package pydap-server
  ci/requirements/environment.yml
Labels: plan to merge

#9737 Use micromamba 1.5.10 where conda is needed
  .github/workflows/benchmarks-last-release.yml
  .github/workflows/benchmarks.yml
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
  ci/min_deps_check.py
Labels: run-benchmark, run-upstream, run-slow-hypothesis

#9752 Discard useless `!s` conversion in f-string
  xarray/core/utils.py
Labels: plan to merge

#9495 Updates to Dask page in Xarray docs
  doc/_static/dask-array.svg
  doc/_static/dask_array.png
  doc/user-guide/dask.rst
Labels: topic-documentation, topic-dask

#9719 Dispatch to Dask if nanquantile is available
  xarray/core/variable.py
  xarray/tests/__init__.py
  xarray/tests/test_variable.py
Labels: run-upstream

#9747 Compress PNG files
  doc/_static/ci.png
  doc/_static/dataset-diagram.png
  doc/_static/logos/Xarray_Icon_Final.png
  doc/_static/logos/Xarray_Logo_FullColor_InverseRGB_Final.png
  doc/_static/logos/Xarray_Logo_RGB_Final.png
  doc/_static/opendap-prism-tmax.png
  doc/_static/thumbnails/ERA5-GRIB-example.png
  doc/_static/thumbnails/ROMS_ocean_model.png
  doc/_static/thumbnails/area_weighted_temperature.png
  doc/_static/thumbnails/monthly-means.png
  doc/_static/thumbnails/multidimensional-coords.png
  doc/_static/thumbnails/toy-weather-data.png
  doc/_static/thumbnails/visualization_gallery.png
  doc/_static/view-docs.png
  doc/examples/monthly_means_output.png
Labels: plan to merge

#9770 Use `map_overlap` for rolling reductions with Dask
  xarray/core/dask_array_ops.py
  xarray/core/rolling.py
  xarray/tests/test_rolling.py
Labels: topic-dask, plan to merge

#9766 Optimize polyfit
  doc/whats-new.rst
  xarray/core/dask_array_compat.py
  xarray/core/dask_array_ops.py
  xarray/core/dataset.py
  xarray/core/nputils.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: topic-dask, plan to merge

#9765 fix cf decoding of grid_mapping
  doc/whats-new.rst
  xarray/conventions.py
  xarray/tests/test_conventions.py
Labels: plan to merge

#9771 Optimize `ffill`, `bfill` with dask when `limit` is specified
  doc/whats-new.rst
  xarray/core/dask_array_ops.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_duck_array_ops.py
Labels: topic-dask, plan to merge

#9782 add 'User-Agent'-header to pooch.retrieve
  doc/whats-new.rst
  xarray/tutorial.py
Labels: plan to merge

#9787 Buffer types
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/plugins.py
  xarray/backends/pydap_.py
  xarray/backends/scipy_.py
  xarray/backends/store.py
  xarray/backends/zarr.py
  xarray/core/types.py
  xarray/tests/test_backends_api.py
Labels: plan to merge, topic-typing

#9644 Add prettier and pygrep hooks to pre-commit hooks
  .binder/environment.yml
  .codecov.yml
  .github/dependabot.yml
  .github/workflows/benchmarks-last-release.yml
  .github/workflows/benchmarks.yml
  .github/workflows/hypothesis.yaml
  .github/workflows/pypi-release.yaml
  .github/workflows/upstream-dev-ci.yaml
  .gitignore
  .pre-commit-config.yaml
  CITATION.cff
  CODE_OF_CONDUCT.md
  CORE_TEAM_GUIDE.md
  DATATREE_MIGRATION_GUIDE.md
  HOW_TO_RELEASE.md
  asv_bench/asv.conf.json
  asv_bench/benchmarks/README_CI.md
  ci/requirements/all-but-dask.yml
  ci/requirements/doc.yml
  ci/requirements/min-all-deps.yml
  design_notes/flexible_indexes_notes.md
  design_notes/grouper_objects.md
  design_notes/named_array_design_doc.md
  doc/_static/style.css
  doc/combined.json
  doc/contributing.rst
  doc/getting-started-guide/faq.rst
  doc/getting-started-guide/quick-overview.rst
  doc/internals/how-to-add-new-backend.rst
  doc/internals/how-to-create-custom-index.rst
  doc/internals/internal-design.rst
  doc/user-guide/computation.rst
  doc/user-guide/dask.rst
  doc/user-guide/data-structures.rst
  doc/user-guide/groupby.rst
  doc/user-guide/hierarchical-data.rst
  doc/user-guide/indexing.rst
  doc/user-guide/interpolation.rst
  doc/user-guide/io.rst
  doc/user-guide/plotting.rst
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  properties/README.md
  xarray/backends/common.py
  xarray/core/dataarray.py
  xarray/core/indexes.py
  xarray/static/css/style.css
  xarray/tests/test_backends.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tutorial.py
Labels: CI

#9561 Soft import
  xarray/backends/common.py
  xarray/backends/zarr.py
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/core/utils.py
  xarray/plot/dataarray_plot.py
  xarray/plot/utils.py
  xarray/testing/strategies.py
  xarray/tests/test_utils.py
Labels: topic-error reporting

#9320 Add `GroupBy.shuffle_to_chunks()`
  doc/api.rst
  doc/user-guide/groupby.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/groupers.py
  xarray/namedarray/_typing.py
  xarray/namedarray/daskmanager.py
  xarray/namedarray/parallelcompat.py
  xarray/tests/__init__.py
  xarray/tests/test_groupby.py
Labels: API design, topic-groupby, topic-dask, plan to merge, topic-chunked-arrays

#9795 Compatibility with Zarr v3b2
  xarray/backends/zarr.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Labels: topic-zarr, plan to merge, run-upstream

#9808 Faster chunk checking for backend datasets
  doc/whats-new.rst
  xarray/core/dataset.py
Labels: plan to merge, topic-chunked-arrays

#9804 Add note on DataTree.map_over_datasets to migration guide
  DATATREE_MIGRATION_GUIDE.md
Labels: topic-documentation, topic-DataTree

#9811 ListedColormap: don't pass N colors
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: run-upstream

#9794 release notes for v2024.11.0
  doc/whats-new.rst
Labels: Release

#9818 Use compute instead of load in plot
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/tests/test_plot.py
Labels: topic-plotting
