Repository pydata/xarray, pull requests merged in 2024-06, with the labels that each got.

#9067 Speed up netCDF4, h5netcdf backends
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
Labels: topic-performance, run-benchmark

#8983 fixes for the `pint` tests
  ci/install-upstream-wheels.sh
  xarray/tests/test_units.py
Labels: plan to merge, run-upstream

#9081 Address latest pandas-related upstream test failures
  xarray/coding/cftime_offsets.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_combine.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_groupby.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Labels: run-upstream

#9087 Fix Typo in Bfill benchmark
  asv_bench/benchmarks/dataarray_missing.py
Labels: run-benchmark

#9045 add link to CF conventions on packed data in doc/user-guide/io.rst
  doc/user-guide/io.rst
  doc/whats-new.rst
Labels: plan to merge

#9079 add order for polynomial interpolation, fixes #8762
  doc/whats-new.rst
  xarray/core/resample.py
  xarray/tests/test_groupby.py
Labels: plan to merge

#8946 Fix upcasting with python builtin numbers and numpy 2
  xarray/core/array_api_compat.py
  xarray/core/dtypes.py
  xarray/core/duck_array_ops.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_dtypes.py
  xarray/tests/test_duck_array_ops.py
Labels: plan to merge, run-upstream

#9042 (fix): don't handle time-dtypes as extension arrays in `from_dataframe`
  doc/whats-new.rst
  properties/test_pandas_roundtrip.py
  xarray/core/dataset.py
Labels: plan to merge

#9002 Micro optimizations to improve indexing
  doc/whats-new.rst
  xarray/core/indexes.py
  xarray/core/indexing.py
Labels: plan to merge, run-benchmark

#9011 DAS-2067 - Migrate datatree io.py and common.py
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/core/types.py
  xarray/datatree_/datatree/common.py
Labels: topic-DataTree

#9014 open_datatree performance improvement on NetCDF, H5, and Zarr files
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/zarr.py
Labels: topic-backends, topic-performance, plan to merge, run-benchmark, topic-DataTree, io

#9104 skip the `pandas` datetime roundtrip test with `pandas=3.0`
  properties/test_pandas_roundtrip.py
Labels: run-upstream

#9112 [skip-ci] Try fixing hypothesis CI trigger
  .github/workflows/hypothesis.yaml
Labels: run-slow-hypothesis

#9117 Add test for rechunking to a size string
  xarray/core/types.py
  xarray/tests/test_dask.py
Labels: topic-testing, topic-chunked-arrays

#9121 Update docstring in api.py for open_mfdataset(), clarifying "chunks" argument
  xarray/backends/api.py
Labels: plan to merge

#9128 adjust repr tests to account for different platforms (#9127)
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
Labels: plan to merge

#9099 Support duplicate dimensions in `.chunk`
  doc/whats-new.rst
  xarray/namedarray/core.py
  xarray/tests/test_dask.py
Labels: plan to merge

#9132 Split out distributed writes in zarr docs
  doc/user-guide/io.rst
Labels: plan to merge

#9139 Improve `to_zarr` docs
  xarray/core/dataset.py
Labels: topic-documentation

#9123 groupby: remove some internal use of IndexVariable
  xarray/core/groupby.py
  xarray/core/groupers.py
Labels: plan to merge

#9140 Improve zarr chunks docs
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/zarr.py
Labels: topic-documentation

#9170 switch to datetime unit `"D"`
  xarray/tests/test_missing.py
Labels: run-upstream

#9064 Slightly improve DataTree repr
  xarray/core/datatree.py
  xarray/core/datatree_render.py
  xarray/core/formatting.py
  xarray/core/iterators.py
  xarray/tests/test_datatree.py
  xarray/tests/test_formatting.py
Labels: topic-DataTree

#9166 Change np.core.defchararray to np.char (#9165)
  doc/whats-new.rst
  xarray/testing/assertions.py
  xarray/tests/test_assertions.py
Labels: plan to merge

#9181 temporarily pin `numpy<2`
  ci/requirements/doc.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
Labels: plan to merge, run-upstream

#8923 `"source"` encoding for datasets opened from `fsspec` objects
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends.py
Labels: plan to merge

#9194 Allow str in static typing of reindex, ffill etc.
  doc/whats-new.rst
  xarray/core/alignment.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/resample.py
  xarray/tests/test_groupby.py
Labels: topic-typing
