Repository pydata/xarray, pull requests merged in 2024-01, with the labels that each got.

#8412 Minimize duplication in `map_blocks` task graph
  doc/whats-new.rst
  pyproject.toml
  xarray/core/parallel.py
  xarray/tests/test_dask.py
Labels: topic-dask, plan to merge

#8571 ENH: vendor SerializableLock from dask and use as default backend lock, adapt tests
  doc/whats-new.rst
  xarray/backends/locks.py
  xarray/tests/test_backends.py
  xarray/tests/test_distributed.py
Labels: plan to merge

#8587 Silence another warning in test_backends.py
  xarray/coding/variables.py
  xarray/tests/test_conventions.py
Labels: plan to merge

#8586 Bump min deps.
  .github/workflows/ci-additional.yaml
  ci/requirements/bare-minimum.yml
  ci/requirements/min-all-deps.yml
  doc/whats-new.rst
  pyproject.toml
Labels: plan to merge

#8507 Deprecate `squeeze` in GroupBy.
  doc/user-guide/groupby.rst
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/tests/test_computation.py
  xarray/tests/test_concat.py
  xarray/tests/test_groupby.py
  xarray/tests/test_units.py
  xarray/util/generate_aggregations.py
Labels: topic-groupby, plan to merge

#8559 Support non-str Hashables in DataArray
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/__init__.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_hashable.py
Labels: plan to merge

#8147 Add support for netCDF4.EnumType
  doc/whats-new.rst
  xarray/backends/netCDF4_.py
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/core/dataarray.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-CF conventions, plan to merge, io

#8617 Release summary for release v2024.01.0
  doc/whats-new.rst
Labels: Release

#8483 import from the new location of `normalize_axis_index` if possible
  ci/install-upstream-wheels.sh
  xarray/core/duck_array_ops.py
  xarray/core/nputils.py
  xarray/core/utils.py
Labels: topic-arrays, CI, run-upstream

#8629 rename "Y" freq string to "YE" (pandas parity)
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/tests/test_cftime_offsets.py
Labels: topic-pandas-like, topic-cftime, run-upstream

#8638 Pandas 2.2.0 test fixes
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/core/_aggregations.py
  xarray/core/accessor_dt.py
  xarray/core/dataarray.py
  xarray/util/generate_aggregations.py
Labels: plan to merge

#8643 xfail zarr test on Windows
  xarray/tests/test_backends.py
Labels: plan to merge

#8624 Use ddof in `numbagg>=0.7.0` for aggregations
  xarray/core/nputils.py
  xarray/tests/conftest.py
  xarray/tests/test_rolling.py
  xarray/tests/test_variable.py
Labels: plan to merge

#8645 Fixed typo in custom backend registration documentation
  doc/internals/how-to-add-new-backend.rst
Labels: topic-backends, topic-documentation

#7395 implement `isnull` using `full_like` instead of `zeros_like`
  xarray/core/duck_array_ops.py
  xarray/tests/test_duck_array_ops.py
Labels: topic-arrays, plan to merge

#8655 Small improvement to HOW_TO_RELEASE.md
  HOW_TO_RELEASE.md
Labels: Release

#8668 Fix unstack method when wrapping array api class
  doc/whats-new.rst
  xarray/core/missing.py
  xarray/core/variable.py
  xarray/tests/test_array_api.py
Labels: array API standard

#8669 Fix automatic broadcasting when wrapping array api class
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_array_api.py
Labels: plan to merge, array API standard

#8380 [namedarray] split `.set_dims()` into `.expand_dims()` and `broadcast_to()`
  doc/api-hidden.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/namedarray/_array_api.py
  xarray/namedarray/_typing.py
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
  xarray/tests/test_namedarray.py
  xarray/tests/test_utils.py
Labels: needs review, topic-NamedArray

#8547 Add overloads to get_axis_num
  xarray/core/common.py
  xarray/namedarray/core.py
Labels: plan to merge
