Repository pydata/xarray, pull requests merged in 2024-10, with the labels that each got.

#9509 towards new h5netcdf/netcdf4 features
  doc/howdoi.rst
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/coding/variables.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Labels: plan to merge, run-upstream

#9570 Disable pyright config?
  pyproject.toml
Labels: run-pyright

#9555 Stop inheriting non-indexed coordinates for DataTree
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/utils.py
  xarray/tests/test_datatree.py
  xarray/tests/test_utils.py
Labels: topic-DataTree

#9428 passing missing arguments when opening zarr, hdf5 and netcdft4 datatrees
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/zarr.py
Labels: topic-DataTree

#9585 Remove unvetted DataTree methods
  doc/api.rst
  doc/getting-started-guide/quick-overview.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9592 Remove out of date comment on DataTree inheritance
  xarray/core/datatree.py
Labels: topic-DataTree

#9369 Add support for coordinate inputs in polyfit.
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#9588 Implement DataTree.isel and DataTree.sel
  doc/api.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9602 Datatree deduplicate setitem
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9589 Reimplement DataTree aggregations
  doc/api.rst
  xarray/core/_aggregations.py
  xarray/core/computation.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/utils.py
  xarray/namedarray/_aggregations.py
  xarray/tests/test_dataset.py
  xarray/tests/test_datatree.py
  xarray/tests/test_utils.py
  xarray/util/generate_aggregations.py
Labels: plan to merge, topic-DataTree

#9614 updating group type annotation for netcdf, hdf5, and zarr open_datatree function
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/zarr.py
Labels: plan to merge, topic-DataTree, topic-typing

#9615 Rename inherited -> inherit in DataTree.to_dataset
  doc/getting-started-guide/quick-overview.rst
  doc/user-guide/data-structures.rst
  xarray/core/coordinates.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/core/formatting.py
  xarray/core/formatting_html.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_datatree.py
  xarray/tests/test_datatree_mapping.py
Labels: topic-DataTree

#9501 Datatree alignment docs
  doc/user-guide/data-structures.rst
  doc/user-guide/hierarchical-data.rst
Labels: topic-documentation, plan to merge, topic-DataTree

#9622 map_over_subtree -> map_over_datasets
  doc/api.rst
  doc/user-guide/hierarchical-data.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/core/datatree.py
  xarray/core/datatree_mapping.py
  xarray/core/datatree_ops.py
  xarray/tests/test_datatree.py
  xarray/tests/test_datatree_mapping.py
Labels: topic-DataTree

#9619 Reimplement Datatree typed ops
  doc/api.rst
  xarray/core/_typed_ops.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/tests/test_datatree.py
  xarray/util/generate_ops.py
Labels: topic-DataTree

#9628 Add inherit=False option to DataTree.copy()
  DATATREE_MIGRATION_GUIDE.md
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9632 Type check datatree tests
  xarray/tests/test_datatree.py
Labels: topic-DataTree, topic-typing

#9623 Add zip_subtrees for paired iteration over DataTrees
  xarray/core/datatree_mapping.py
  xarray/core/formatting.py
  xarray/core/iterators.py
  xarray/core/treenode.py
  xarray/tests/test_treenode.py
Labels: topic-DataTree

#9638 Support alternative names for the root node in DataTree.from_dict
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9641 Fix error and missing code cell in io.rst
  doc/user-guide/io.rst
Labels: plan to merge

#9506 Replace black and blackdoc with ruff-format
  .pre-commit-config.yaml
  CORE_TEAM_GUIDE.md
  ci/min_deps_check.py
  ci/requirements/all-but-dask.yml
  doc/contributing.rst
  pyproject.toml
  xarray/backends/common.py
  xarray/backends/file_manager.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/plugins.py
  xarray/backends/zarr.py
  xarray/convert.py
  xarray/core/dataarray.py
  xarray/core/datatree.py
  xarray/core/formatting.py
  xarray/core/groupby.py
  xarray/core/indexes.py
  xarray/core/parallel.py
  xarray/core/resample.py
  xarray/core/variable.py
  xarray/namedarray/_array_api.py
  xarray/plot/utils.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_coordinates.py
  xarray/tests/test_dataset.py
  xarray/tests/test_datatree.py
  xarray/tests/test_distributed.py
  xarray/tests/test_formatting.py
  xarray/tests/test_indexing.py
  xarray/tests/test_interp.py
  xarray/tests/test_namedarray.py
  xarray/tests/test_treenode.py
Labels: plan to merge, Automation

#9636 Re-implement map_over_datasets using group_subtrees
  DATATREE_MIGRATION_GUIDE.md
  doc/api.rst
  doc/user-guide/hierarchical-data.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/core/computation.py
  xarray/core/dataarray.py
  xarray/core/datatree.py
  xarray/core/datatree_mapping.py
  xarray/core/datatree_ops.py
  xarray/core/formatting.py
  xarray/core/treenode.py
  xarray/core/utils.py
  xarray/testing/__init__.py
  xarray/testing/assertions.py
  xarray/tests/test_datatree.py
  xarray/tests/test_datatree_mapping.py
  xarray/tests/test_formatting.py
  xarray/tests/test_treenode.py
Labels: topic-DataTree

#9633 Update Datatree html repr to indicate inheritance
  xarray/core/formatting.py
  xarray/core/formatting_html.py
  xarray/tests/test_formatting_html.py
Labels: topic-html-repr, topic-DataTree

#9649 flox: Properly propagate multiindex
  doc/whats-new.rst
  xarray/core/coordinates.py
  xarray/core/groupby.py
  xarray/groupers.py
  xarray/tests/__init__.py
  xarray/tests/test_groupby.py
Labels: plan to merge

#9650 Fix multiple grouping with missing groups
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: topic-groupby

#9651 Add close() method to DataTree and use it to clean-up open files in tests
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/zarr.py
  xarray/core/datatree.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_datatree.py
Labels: topic-backends, topic-DataTree

#9658 Reduce graph size through writing indexes directly into graph for ``map_blocks``
  xarray/core/parallel.py
  xarray/tests/test_dask.py
Labels: topic-dask

#9552 Compatibility for zarr-python 3.x
  ci/install-upstream-wheels.sh
  doc/user-guide/io.rst
  doc/whats-new.rst
  pyproject.toml
  xarray/backends/api.py
  xarray/backends/zarr.py
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree_io.py
  xarray/core/dtypes.py
  xarray/core/npcompat.py
  xarray/core/types.py
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Labels: topic-zarr, plan to merge, run-upstream

#9660 support `chunks` in `open_groups` and `open_datatree`
  xarray/backends/api.py
  xarray/tests/test_backends_datatree.py
Labels: topic-backends, plan to merge, topic-DataTree, topic-chunked-arrays

#9670 implement `dask` methods on `DataTree`
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/namedarray/core.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree, topic-chunked-arrays

#9673 fix(zarr): use inplace array.resize for zarr 2 and 3
  xarray/backends/zarr.py
Labels: topic-zarr, run-upstream

#9669 Use zarr v3 dimension_names
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: topic-zarr, run-upstream

#9678 v2024.10.0 release summary
  doc/whats-new.rst
Labels: topic-documentation, Release

#9679 New blank whatsnew after v2024.10.0
  doc/whats-new.rst
Labels: Release

#9689 Raise `ValueError` for unmatching chunks length in `DataArray.chunk()`
  xarray/core/dataarray.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#9695 Refactor out utility functions from to_zarr
  xarray/backends/api.py
  xarray/backends/zarr.py
Labels: plan to merge
