Repository pydata/xarray, pull requests merged in 2024-03, with the labels that each got.

#8797 tokenize() should ignore difference between None and {} attrs
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/variable.py
  xarray/namedarray/core.py
  xarray/namedarray/utils.py
  xarray/tests/test_dask.py
  xarray/tests/test_sparse.py
Labels: plan to merge

#8510 Grouper object design doc
  design_notes/grouper_objects.md
Labels: API design, needs review

#8776 Refactor Grouper objects
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
Labels: plan to merge

#8823 try to get the `upstream-dev` CI to complete again
  ci/install-upstream-wheels.sh
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-3.12.yml
  ci/requirements/environment-windows-3.12.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  pyproject.toml
  xarray/tests/test_array_api.py
Labels: run-upstream

#8784 Do not attempt to broadcast when global option ``arithmetic_broadcast=False``
  doc/whats-new.rst
  xarray/core/options.py
  xarray/core/variable.py
  xarray/tests/__init__.py
  xarray/tests/test_dataarray.py
Labels: plan to merge

#8736 Make list_chunkmanagers more resilient to broken entrypoints
  xarray/core/utils.py
  xarray/namedarray/parallelcompat.py
  xarray/tests/test_parallelcompat.py
Labels: plan to merge, topic-chunked-arrays

#8839 [skip-ci] Fix upstream-dev env
  .github/workflows/upstream-dev-ci.yaml
  ci/install-upstream-wheels.sh
Labels: run-upstream

#8777 Return a dataclass from Grouper.factorize
  xarray/core/groupby.py
Labels: plan to merge

#8851 FIX: adapt handling of copy keyword argument in scipy backend for numpy >= 2.0dev
  doc/whats-new.rst
  xarray/backends/scipy_.py
Labels: plan to merge, run-upstream

#8847 pandas 3 MultiIndex fixes
  xarray/core/dataset.py
  xarray/tests/test_indexes.py
Labels: needs review, run-upstream

#8857 increase typing annotations coverage in `xarray/core/indexing.py`
  xarray/core/indexing.py
  xarray/namedarray/core.py
  xarray/tests/test_indexing.py
Labels: topic-typing

#8861 upstream-dev CI: Fix interp and cumtrapz
  xarray/tests/test_dataset.py
  xarray/tests/test_interp.py
Labels: run-upstream

#8720 groupby: Dispatch quantile to flox.
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
  xarray/util/generate_aggregations.py
Labels: plan to merge

#8874 warn and return bytes undecoded in case of UnicodeDecodeError in h5netcdf-backend
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/tests/test_backends.py
Labels: plan to merge

#8789 Migrate datatree.py module into xarray.core.
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/zarr.py
  xarray/core/datatree.py
  xarray/core/treenode.py
  xarray/datatree_/datatree/__init__.py
  xarray/datatree_/datatree/extensions.py
  xarray/datatree_/datatree/formatting.py
  xarray/datatree_/datatree/io.py
  xarray/datatree_/datatree/mapping.py
  xarray/datatree_/datatree/render.py
  xarray/datatree_/datatree/testing.py
  xarray/datatree_/datatree/tests/conftest.py
  xarray/datatree_/datatree/tests/test_dataset_api.py
  xarray/datatree_/datatree/tests/test_extensions.py
  xarray/datatree_/datatree/tests/test_formatting.py
  xarray/datatree_/datatree/tests/test_formatting_html.py
  xarray/datatree_/datatree/tests/test_mapping.py
  xarray/tests/conftest.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#8877 Don't allow overwriting indexes with region writes
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends.py
Labels: plan to merge

#8886 Allow multidimensional variable with same name as dim when constructing dataset via coords
  doc/whats-new.rst
  xarray/core/merge.py
  xarray/tests/test_coordinates.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#8873 Add dt.date to plottable types
  doc/whats-new.rst
  xarray/plot/utils.py
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge

#8459 Check for aligned chunks when writing to existing variables
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-zarr, plan to merge, io

#8867 Avoid in-place multiplication of a large value to an array with small integer dtype
  xarray/plot/dataarray_plot.py
  xarray/tests/test_plot.py
Labels: topic-plotting, run-upstream

#8890 Add typing to test_groupby.py
  pyproject.toml
  xarray/tests/test_groupby.py
Labels: topic-groupby, topic-typing
