Repository pydata/xarray, pull requests merged in 2024-08, with the labels that each got.

#9298 DOC: Add note to docs on DataTree root-group naming conventions
  xarray/core/datatree.py
  xarray/datatree_/docs/source/io.rst
Labels: topic-documentation, topic-DataTree

#9304 Add grib2io to ecosystem.rst
  doc/ecosystem.rst
Labels: topic-documentation

#9313 Use assert_duckarray_allclose instead of rounding the array
  xarray/tests/test_coding_times.py
Labels: plan to merge

#9314 Verbose error handling for non-valid duckarrays
  xarray/tests/test_namedarray.py
Labels: topic-error reporting, topic-arrays, plan to merge, array API standard

#9329 Remove ignores due to pandas-stubs
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
  xarray/tests/test_formatting.py
Labels: topic-typing

#9358 try to fix scheduled hypothesis test
  .github/workflows/hypothesis.yaml
Labels: run-slow-hypothesis

#9364 Fix rechunking to a frequency with empty bins.
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_dataset.py
Labels: plan to merge, topic-chunked-arrays

#9243 Adding open_groups to BackendEntryPointEngine, NetCDF4BackendEntrypoint, and H5netcdfBackendEntrypoint
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/plugins.py
  xarray/core/datatree.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_datatree.py
Labels: API design, topic-backends, topic-DataTree, io

#9362 Make chunk manager an option in `set_options`
  doc/internals/chunked-arrays.rst
  doc/whats-new.rst
  xarray/core/options.py
  xarray/namedarray/parallelcompat.py
  xarray/tests/test_parallelcompat.py
Labels: topic-chunked-arrays

#9370 Improve error message for missing coordinate index
  xarray/core/combine.py
  xarray/tests/test_combine.py
Labels: topic-combine

#9377 passing missing parameters to ZarrStore.open_store when opening a datatree
  doc/whats-new.rst
  xarray/backends/zarr.py
Labels: topic-backends, topic-performance, topic-zarr, topic-DataTree

#9353 Extend padding functionalities
  doc/conf.py
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/types.py
  xarray/core/variable.py
  xarray/tests/test_dataset.py
Labels: plan to merge

#9391 `numpy 2` compatibility in the `pydap` backend
  ci/install-upstream-wheels.sh
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  doc/whats-new.rst
Labels: topic-backends, CI, plan to merge, run-upstream

#9401 Encode/decode property tests use variables()
  properties/test_encode_decode.py
Labels: run-slow-hypothesis

#9372 GroupBy(multiple groupers)
  doc/user-guide/groupby.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: plan to merge, run-benchmark

#9406 Use `python-build` instead of `build` in benchmark workflow
  .github/workflows/benchmarks.yml
Labels: run-benchmark

#9395 [skip-ci] Speed up docs build by limiting toctrees
  .readthedocs.yaml
  ci/requirements/doc.yml
  doc/conf.py
Labels: topic-documentation, Automation

#9412 Accessibility: Add keyboard handling for XArray HTML view
  xarray/static/css/style.css
Labels: topic-html-repr, plan to merge
