Repository pydata/xarray, pull requests merged in 2024-12, with the labels that each got.

#9828 move ensure_dtype_not_object from conventions to backends
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/backends/zarr.py
  xarray/conventions.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_common.py
  xarray/tests/test_conventions.py
Labels: plan to merge, run-upstream

#9844 Fix seed for random test data.
  asv_bench/benchmarks/__init__.py
  asv_bench/benchmarks/reindexing.py
  asv_bench/benchmarks/unstacking.py
  doc/user-guide/computation.rst
  doc/user-guide/dask.rst
  doc/user-guide/pandas.rst
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
  xarray/tests/test_computation.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_formatting_html.py
  xarray/tests/test_groupby.py
  xarray/tests/test_missing.py
Labels: plan to merge

#9848 Set `zarr_format` for `zarr.consolidate_metadata`
  xarray/backends/zarr.py
Labels: topic-zarr, plan to merge

#9864 Remove deprecated behavior for non-dim positional args
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/weighted.py
Labels: plan to merge

#9879 Fix/silence upstream tests
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_formatting.py
Labels: run-upstream

#9884 Fix upstream Zarr compatibility
  xarray/backends/zarr.py
Labels: run-upstream

#9887 Fix interpolation when non-numeric coords are present.
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_interp.py
Labels: topic-interpolation

#9889 Use integers instead of randint
  asv_bench/benchmarks/__init__.py
Labels: run-benchmark

#9885 Add "unit"-parameter to date_range, enhance iso time parser to us
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/core/types.py
  xarray/tests/test_cftimeindex.py
Labels: plan to merge

#9900 move scalar-handling logic into `possibly_convert_objects`
  doc/whats-new.rst
  xarray/core/variable.py
Labels: plan to merge

#9904 remove unused "type: ignore" comments in test_plot.py
  xarray/tests/test_plot.py
Labels: plan to merge

#9800 Optimize idxmin, idxmax with dask
  xarray/core/computation.py
  xarray/core/indexing.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_indexing.py
Labels: plan to merge, topic-chunked-arrays

#9861 Cache pre-existing Zarr arrays in Zarr backend
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: plan to merge

#9909 Skip dask rolling
  asv_bench/benchmarks/rolling.py
Labels: run-benchmark

#9881 Rewrite interp to use `apply_ufunc`
  xarray/core/dataset.py
  xarray/core/missing.py
  xarray/tests/test_interp.py
Labels: plan to merge, run-benchmark, topic-interpolation

#9676 friendlier error messages for missing chunk managers
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/namedarray/parallelcompat.py
  xarray/tests/test_parallelcompat.py
Labels: topic-error reporting, plan to merge, topic-chunked-arrays

#9916 Edit serialization error message
  xarray/backends/api.py
Labels: topic-error reporting, plan to merge

#9899 Enhance and move ISO-8601 parser to coding.times
  doc/whats-new.rst
  properties/test_encode_decode.py
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/testing/strategies.py
  xarray/tests/test_cftimeindex.py
Labels: run-slow-hypothesis
