Repository pydata/xarray, pull requests merged in 2024-07, with the labels that each got.

#9158 Add open_datatree benchmark
  asv_bench/benchmarks/dataset_io.py
  xarray/backends/zarr.py
Labels: run-benchmark, topic-DataTree

#9063 Hierarchical coordinates in DataTree
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/core/formatting.py
  xarray/core/formatting_html.py
  xarray/core/treenode.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_datatree.py
  xarray/tests/test_utils.py
Labels: topic-DataTree

#9157 avoid converting custom indexes to pandas indexes when formatting coordinate diffs
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/tests/test_formatting.py
Labels: plan to merge

#9214 Fix two bugs in DataTree.update()
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: topic-DataTree

#9206 Only use necessary dims when creating temporary dataarray
  doc/whats-new.rst
  xarray/plot/dataset_plot.py
  xarray/tests/test_plot.py
Labels: topic-plotting, plan to merge

#9136 `numpy` 2 compatibility in the `netcdf4` and `h5netcdf` backends
  ci/install-upstream-wheels.sh
  ci/requirements/all-but-dask.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  doc/whats-new.rst
  xarray/coding/variables.py
  xarray/tests/test_backends.py
Labels: plan to merge, run-upstream

#9156 `numpy` 2 compatibility in the iris code paths
  ci/install-upstream-wheels.sh
Labels: run-upstream

#8258 Add a `.drop_attrs` method
  doc/api.rst
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: needs review, plan to merge

#9234 Fix typing for test_plot.py
  xarray/tests/test_plot.py
Labels: plan to merge, topic-typing

#9247 Added a space to the documentation
  doc/user-guide/terminology.rst
Labels: topic-documentation, plan to merge

#9218 Per-variable specification of boolean parameters in open_dataset
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/conventions.py
Labels: topic-backends, plan to merge

#9213 Enable pandas type checking
  doc/whats-new.rst
  pyproject.toml
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/core/_typed_ops.py
  xarray/core/concat.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/extension_array.py
  xarray/core/groupers.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/missing.py
  xarray/core/resample_cftime.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/namedarray/daskmanager.py
  xarray/tests/test_backends.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_concat.py
  xarray/tests/test_conventions.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_formatting.py
  xarray/tests/test_groupby.py
  xarray/tests/test_indexes.py
  xarray/tests/test_plot.py
  xarray/tests/test_rolling.py
  xarray/tests/test_variable.py
  xarray/util/generate_ops.py
Labels: plan to merge, topic-typing

#9250 fix typing of fallback isdtype method
  xarray/core/npcompat.py
Labels: plan to merge, topic-typing

#8840 Grouper, Resampler as public api
  doc/api-hidden.rst
  doc/api.rst
  doc/conf.py
  doc/user-guide/groupby.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/groupers.py
  xarray/core/types.py
  xarray/tests/test_groupby.py
Labels: topic-groupby, plan to merge

#9257 Update dropna docstring
  xarray/core/dataset.py
Labels: topic-documentation

#9233 Delete ``base`` and ``loffset`` parameters to resample
  doc/whats-new.rst
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupers.py
  xarray/core/pdcompat.py
  xarray/core/resample_cftime.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_groupby.py
Labels: topic-groupby, plan to merge

#9236 groupby, resample: Deprecate some positional args
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_groupby.py
Labels: topic-groupby

#9262 Add `encode_cf_datetime` benchmark
  asv_bench/benchmarks/coding.py
Labels: run-benchmark

#9237 Update signature for _arrayfunction.__array__
  xarray/namedarray/_typing.py
  xarray/tests/test_namedarray.py
Labels: plan to merge, topic-typing

#9199 Adding `open_datatree` backend-specific keyword arguments
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
Labels: topic-backends, topic-DataTree

#7427 Change .groupby fastpath to work for monotonic increasing and decreasing
  doc/whats-new.rst
  xarray/core/groupers.py
  xarray/tests/test_groupby.py
Labels: topic-groupby, plan to merge

#9280 Fully deprecate squeeze kwarg to groupby
  doc/whats-new.rst
  xarray/core/_aggregations.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/groupers.py
  xarray/core/resample.py
  xarray/tests/test_computation.py
  xarray/tests/test_groupby.py
  xarray/util/generate_aggregations.py
Labels: plan to merge

#9289 Allow importing from xarray.groupers
  doc/api-hidden.rst
  doc/api.rst
  doc/conf.py
  xarray/__init__.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/resample.py
  xarray/core/types.py
  xarray/groupers.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
Labels: topic-groupby

#9292 Fix `DataTree.from_dict` to be insensitive to insertion order
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: bug, topic-DataTree

#9294 Increased verbosity for Value Error raised if backend not installed
  xarray/backends/plugins.py
Labels: topic-backends, topic-error reporting, plan to merge
