Repository pydata/xarray, pull requests merged in 2025-09, with the labels that each got.

#10656 Improve consistency of default engine and return memoryview instead of bytes from to_netcdf()
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/plugins.py
  xarray/backends/scipy_.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree_io.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_api.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_plugins.py
Labels: topic-backends, topic-DataTree, io

#10687 Allow tests to pass locally on Mac
  .github/workflows/ci.yaml
  .github/workflows/upstream-dev-ci.yaml
  conftest.py
  xarray/tests/test_backends.py
Labels: topic-testing, Automation

#10694 Upgrade mypy to 1.17.1 and fix all type errors
  ci/requirements/environment.yml
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/conventions.py
  xarray/core/coordinates.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/variable.py
  xarray/indexes/nd_point_index.py
  xarray/structure/alignment.py
  xarray/structure/concat.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_datatree.py
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Labels: topic-indexing, topic-CF conventions, topic-groupby, topic-cftime, CI, dependencies

#10723 Fix bug when encoding an empty `numpy.datetime64` array
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Labels: topic-cftime

#10707 Add pep-723 style script to bug report issue template
  .github/ISSUE_TEMPLATE/bugreport.yml
Labels: Automation

#10746 fix bugreport.yml
  .github/ISSUE_TEMPLATE/bugreport.yml
Labels: Automation

#10752 cleanup bug report template
  .github/ISSUE_TEMPLATE/bugreport.yml
Labels: Automation

#10754 Upgrade mypy to 1.18.1
  .github/workflows/ci-additional.yaml
  ci/requirements/environment.yml
  pyproject.toml
  xarray/core/variable.py
  xarray/tests/test_dataarray_typing.yml
  xarray/tests/test_dataset.py
  xarray/tests/test_dataset_typing.yml
  xarray/tests/test_datatree_typing.yml
Labels: CI, plan to merge, dependencies, Automation

#10756 Fix Blosc import in test for zarr 3.1.13
  xarray/tests/test_backends_datatree.py
Labels: run-upstream

#10763 Enable mypy type checking for 5 test files
  pyproject.toml
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_indexing.py
  xarray/tests/test_sparse.py
  xarray/tests/test_units.py
  xarray/tests/test_variable.py
Labels: topic-backends, plan to merge, io

#10768 Remove mypy exclusions for test_coding_times and test_dask
  pyproject.toml
  xarray/tests/test_dask.py
Labels: topic-backends, io

#10771 Refactor backends to separate writers from readers
  doc/whats-new.rst
  xarray/__init__.py
  xarray/backends/api.py
  xarray/backends/writers.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/tests/test_backends_api.py
  xarray/tests/test_backends_datatree.py
Labels: topic-backends, topic-internals, topic-DataTree, io

#10782 Fix bug in bug-fix template
  .github/ISSUE_TEMPLATE/bugreport.yml
Labels: Automation

#10792 Fix mypy errors with numpy 2.3 type stubs
  pyproject.toml
  xarray/core/indexing.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_namedarray.py
  xarray/tests/test_parallelcompat.py
Labels: topic-indexing
