Repository pydata/xarray, pull requests merged in 2025-04, with the labels that each got.

#10197 DOC: Remove mention of netcdf pypi package
  doc/getting-started-guide/faq.rst
Labels: plan to merge

#10201 CI: Automatic PR labelling is back
  .github/labeler.yml
  .github/workflows/benchmarks.yml
  .github/workflows/label-prs.yml
Labels: CI, plan to merge

#10214 Add datatree repr asv
  asv_bench/benchmarks/repr.py
Labels: run-benchmark

#10219 `DatasetView.map` fix `keep_attrs`
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: topic-documentation, plan to merge, topic-DataTree

#10232 Fix mypy failures on main
  xarray/computation/fit.py
  xarray/core/utils.py
  xarray/plot/dataarray_plot.py
  xarray/plot/utils.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_datatree.py
  xarray/tests/test_pandas_to_xarray.py
Labels: topic-documentation, topic-plotting

#10076 Add RangeIndex
  doc/api-hidden.rst
  doc/api.rst
  doc/whats-new.rst
  xarray/core/formatting.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/indexes/__init__.py
  xarray/indexes/range_index.py
  xarray/testing/assertions.py
  xarray/tests/test_assertions.py
  xarray/tests/test_coordinate_transform.py
  xarray/tests/test_range_index.py
Labels: topic-indexing, topic-documentation, enhancement, topic-testing, plan to merge

#10182 opendap / dap4 support for pydap backend
  ci/requirements/min-all-deps.yml
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/pydap_.py
  xarray/core/datatree_io.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Labels: topic-backends, topic-indexing, topic-documentation, topic-plotting, topic-performance, topic-zarr, CI, topic-rolling, dependencies, Automation, topic-DataTree, io

#10238 Fix: Docs generation create temporary files that are not cleaned up.
  doc/internals/time-coding.rst
  doc/user-guide/io.rst
Labels: topic-documentation

#10242 Remove `test_dask_layers_and_dependencies`
  xarray/tests/test_dask.py
Labels: topic-documentation

#10255 Fix mypy, min-versions CI, xfail Zarr tests
  ci/minimum_versions.py
  ci/requirements/min-all-deps.yml
  pyproject.toml
  xarray/tests/test_backends.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_variable.py
Labels: topic-documentation, CI, dependencies

#8708 Switch documentation to pydata-sphinx-theme
  ci/requirements/doc.yml
  doc/_static/style.css
  doc/api.rst
  doc/conf.py
  doc/contribute/contributing.rst
  doc/contribute/developers-meeting.rst
  doc/contribute/index.rst
  doc/examples/ERA5-GRIB-example.ipynb
  doc/examples/monthly_means_output.png
  doc/examples/weather-data.ipynb
  doc/gallery.rst
  doc/get-help/faq.rst
  doc/get-help/help-diagram.rst
  doc/get-help/howdoi.rst
  doc/get-help/socials.rst
  doc/getting-started-guide/index.rst
  doc/getting-started-guide/quick-overview.rst
  doc/getting-started-guide/tutorials-and-videos.rst
  doc/index.rst
  doc/user-guide/ecosystem.rst
  doc/user-guide/index.rst
  doc/whats-new.rst
  xarray/plot/dataarray_plot.py
  xarray/plot/dataset_plot.py
Labels: topic-documentation, topic-plotting, CI, dependencies

#9671 Support extension array indexes
  doc/whats-new.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/extension_array.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/core/variable.py
  xarray/namedarray/core.py
  xarray/plot/dataarray_plot.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_pandas_to_xarray.py
  xarray/tests/test_variable.py
Labels: topic-indexing, topic-documentation, topic-plotting, topic-NamedArray

#10240 Update how-to-add-new-backend.rst
  doc/internals/how-to-add-new-backend.rst
Labels: topic-documentation

#10254 Avoid stacking when grouping by chunked array
  doc/whats-new.rst
  xarray/core/groupby.py
Labels: topic-documentation, topic-groupby, plan to merge

#10259 BinGrouper: Support setting labels when provided with IntervalIndex
  xarray/groupers.py
  xarray/tests/test_groupby.py
Labels: topic-documentation, plan to merge

#10248 Fix infinite recursion when calling `np.fix`
  xarray/computation/apply_ufunc.py
  xarray/tests/test_computation.py
Labels: topic-documentation

#10265 Fix benchmarks runners
  .github/workflows/benchmarks-last-release.yml
  .github/workflows/benchmarks.yml
Labels: topic-documentation, run-benchmark, Automation

#10139 Shorten text repr for ``DataTree``
  doc/whats-new.rst
  xarray/core/datatree_render.py
  xarray/core/formatting.py
  xarray/core/formatting_html.py
  xarray/core/options.py
  xarray/tests/test_datatree.py
  xarray/tests/test_formatting_html.py
Labels: topic-documentation, topic-html-repr, plan to merge, run-benchmark, Automation, topic-DataTree

#10258 Fix reduction by subset of grouper dimensions
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: topic-documentation, topic-groupby, plan to merge

#10268 Fix convert calendar on non-temporal data in datasets
  doc/whats-new.rst
  xarray/coding/calendar_ops.py
  xarray/tests/test_calendar_ops.py
Labels: topic-documentation, plan to merge

#10264 add return_scalar=False as __array_wrap__ kwarg
  xarray/core/dataarray.py
  xarray/core/variable.py
Labels: topic-documentation

#10253 GroupBy: Finish eagerly_compute_group deprecation
  doc/whats-new.rst
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/tests/test_groupby.py
Labels: topic-documentation, topic-groupby, plan to merge

#10250 (fix): remove `_getattr__` method for `PandasExtensionArray`
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/extension_array.py
  xarray/core/formatting.py
  xarray/core/indexing.py
  xarray/core/variable.py
  xarray/tests/__init__.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_groupby.py
Labels: topic-indexing, topic-documentation

#10272 Release notes for 2025.04.0
  doc/whats-new.rst
Labels: topic-documentation
