Repository pydata/xarray, pull requests merged in 2025-06, with the labels that each got.

#10336 Automatic Dask-Zarr chunk alignment
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/chunks.py
  xarray/backends/zarr.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_chunks.py
Labels: topic-backends, topic-documentation, topic-zarr, plan to merge, io

#10403 added movement to Xarray related projects
  doc/user-guide/ecosystem.rst
Labels: topic-documentation

#10371 Update concat for multi-variable indexes.
  xarray/structure/concat.py
  xarray/tests/indexes.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataset.py
Labels: topic-documentation, plan to merge

#10406 Release v2025.06.0
  doc/user-guide/time-series.rst
  doc/whats-new.rst
Labels: topic-documentation

#10407 dev whats-new
  doc/whats-new.rst
Labels: topic-documentation

#10334 (fix): disallow `NumpyExtensionArray`
  properties/test_pandas_roundtrip.py
  xarray/core/dataset.py
  xarray/core/extension_array.py
  xarray/core/indexing.py
  xarray/core/variable.py
Labels: topic-indexing, topic-documentation, topic-hypothesis

#10414 (fix): `ndim` accessible as `np.ndim` on `PandasExtensionArray`
  xarray/coding/variables.py
  xarray/core/duck_array_ops.py
  xarray/core/extension_array.py
  xarray/core/indexing.py
  xarray/indexes/range_index.py
  xarray/tests/test_variable.py
Labels: topic-indexing, topic-documentation, topic-arrays

#10410 Up-to-date instructions for reading & writing to Zarr with Xarray
  doc/user-guide/io.rst
Labels: topic-documentation

#10416 Release 2025.06.1
  doc/whats-new.rst
Labels: topic-documentation, Release

#10421 Fix Pydap tests for numpy 2.3.0 changes (scalar string to unicode)
  doc/whats-new.rst
  xarray/tests/test_backends.py
Labels: topic-documentation

#10411 Fixed color.shape != grid.shape in streamplot when nx != ny
  xarray/plot/dataset_plot.py
  xarray/tests/test_plot.py
Labels: topic-documentation, topic-plotting, plan to merge

#10395 Check and fix chararray string dimension names
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/netcdf3.py
  xarray/backends/scipy_.py
  xarray/backends/zarr.py
  xarray/coding/strings.py
  xarray/tests/test_coding_strings.py
  xarray/tests/test_conventions.py
Labels: topic-backends, topic-documentation, topic-zarr, plan to merge, io

#10381 Fix reindex on Dataset from MultiIndex DataFrame with RuntimeError
  xarray/structure/alignment.py
  xarray/tests/test_dataset.py
Labels: topic-documentation

#10222 BUG: Fix display with nested NumPy arrays
  xarray/core/formatting.py
  xarray/tests/test_formatting.py
  xarray/tests/test_plot.py
Labels: topic-documentation

#10443 DOC: Add cf_xarray to ecosystem page
  doc/user-guide/ecosystem.rst
Labels: topic-documentation

#10435 Expose top-level xarray.indexes in __init__
  doc/api.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/indexes/__init__.py
Labels: topic-documentation

#10454 Redundant list comprehension can be replaced using generator
  xarray/core/indexing.py
Labels: topic-indexing, topic-documentation

#10452 Unassigned string statement
  xarray/tests/arrays.py
Labels: topic-documentation

#10451 Iterate the dictionary directly instead of calling `.keys()`
  xarray/core/coordinates.py
  xarray/structure/merge.py
Labels: topic-documentation

#10450 Unnecessary tuple/list literal
  xarray/tests/test_computation.py
  xarray/tests/test_datatree.py
Labels: topic-documentation

#10448 Appending to dictionary immediately following its definition
  xarray/util/generate_ops.py
Labels: topic-documentation

#10446 Exceptions are overlapping
  xarray/core/utils.py
Labels: topic-documentation

#10461 Update pre-commit hook pre-commit
  .pre-commit-config.yaml
  xarray/core/duck_array_ops.py
Labels: topic-documentation, topic-arrays

#10459 Enforce ruff/Pylint Refactor rules (PLR)
  pyproject.toml
  xarray/coding/strings.py
  xarray/core/duck_array_ops.py
Labels: topic-documentation, topic-arrays

#10432 Switch to using the NumFOCUS Code of Conduct
  CODE_OF_CONDUCT.md
Labels: topic-documentation

#10463 More Pylint issues
  properties/test_index_manipulation.py
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/computation/apply_ufunc.py
  xarray/computation/computation.py
  xarray/computation/fit.py
  xarray/computation/nanops.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/duck_array_ops.py
  xarray/core/groupby.py
  xarray/core/treenode.py
  xarray/groupers.py
  xarray/plot/utils.py
  xarray/structure/concat.py
  xarray/tests/test_datatree.py
  xarray/tests/test_groupby.py
  xarray/tests/test_units.py
Labels: topic-documentation, topic-groupby, topic-plotting, topic-cftime, topic-arrays, topic-DataTree, topic-hypothesis

#10474 More f-strings, less format()
  xarray/computation/rolling.py
Labels: topic-documentation, topic-rolling

#10467 Enforce ruff/flake8-2020 rules (YTT)
  pyproject.toml
  xarray/tests/test_backends.py
Labels: topic-documentation

#10442 assert_equal: ensure check_dim_order=False works for DataTree
  doc/whats-new.rst
  xarray/testing/assertions.py
  xarray/tests/test_assertions.py
Labels: topic-documentation, topic-testing

#10473 Keyword argument passed twice
  xarray/plot/facetgrid.py
Labels: topic-documentation, topic-plotting

#10475 Branches of the `if` statement have similar implementation
  asv_bench/benchmarks/dataset_io.py
  xarray/namedarray/_typing.py
Labels: topic-documentation, topic-performance, topic-NamedArray

#10465 Apply assorted ruff preview rules
  xarray/backends/chunks.py
  xarray/backends/pydap_.py
  xarray/backends/zarr.py
  xarray/coding/times.py
  xarray/computation/nanops.py
  xarray/core/accessor_str.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/datatree_mapping.py
  xarray/core/extension_array.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/namedarray/_typing.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
  xarray/structure/chunks.py
  xarray/structure/combine.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_datatree.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
  xarray/tests/test_rolling.py
  xarray/tests/test_utils.py
  xarray/tutorial.py
Labels: topic-backends, topic-documentation, topic-plotting, topic-cftime, topic-zarr, topic-DataTree, topic-typing, io, topic-NamedArray

#10476 Revert "Enforce ruff/flake8-simplify rules (SIM)"
  pyproject.toml
  xarray/backends/netCDF4_.py
  xarray/backends/pydap_.py
  xarray/coding/times.py
  xarray/computation/rolling.py
  xarray/core/common.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/formatting.py
  xarray/core/indexes.py
  xarray/core/parallel.py
  xarray/core/resample_cftime.py
  xarray/groupers.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
  xarray/structure/merge.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_coding.py
  xarray/tests/test_combine.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_strategies.py
  xarray/tests/test_units.py
  xarray/util/print_versions.py
Labels: topic-backends, topic-indexing, topic-documentation, topic-dask, topic-plotting, topic-cftime, topic-rolling, io
