Repository pydata/xarray, pull requests merged in 2025-03, with the labels that each got.

#10097 Prune data tree for Isomorphic operations
  doc/api.rst
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: enhancement, topic-DataTree

#10100 Pass node path to tokenize in `open_datatree`
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends_datatree.py
Labels: plan to merge

#10072 Fix false timedelta decoding `SerializationWarning` and improve warning message
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Labels: plan to merge

#10025 Ensure KeyError raised for zarr datasets missing dim names
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: topic-zarr

#10050 Improve handling of dtype and NaT when encoding/decoding masked and packaged datetimes and timedeltas
  doc/whats-new.rst
  xarray/coding/common.py
  xarray/coding/times.py
  xarray/coding/variables.py
  xarray/conventions.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
Labels: plan to merge

#10087 explicitly cast the dtype of `where`'s condition parameter to `bool`
  xarray/core/duck_array_ops.py
  xarray/core/groupby.py
  xarray/tests/test_array_api.py
Labels: plan to merge

#10138 Fix test_distributed::test_async
  xarray/tests/test_distributed.py
Labels: run-upstream

#9498 Refactor datetime and timedelta encoding for increased robustness
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Labels: topic-cftime

#10142 [docs] `DataTree` cannot be constructed from `DataArray`
  doc/user-guide/data-structures.rst
Labels: topic-documentation, topic-DataTree

#10141 Fix `open_datatree` when `decode_cf=False`
  xarray/backends/api.py
  xarray/tests/conftest.py
  xarray/tests/test_backends_datatree.py
Labels: topic-CF conventions, topic-DataTree

#10145 Fix version in requires_zarr_v3 fixture
  xarray/tests/__init__.py
Labels: topic-zarr

#10082 Adds open_datatree and load_datatree to the tutorial module
  doc/api.rst
  doc/whats-new.rst
  xarray/tests/test_tutorial.py
  xarray/tutorial.py
Labels: topic-documentation, topic-DataTree

#10020 Refactoring/fixing zarr-pyhton v3 incompatibilities in xarray datatrees
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/core/datatree.py
  xarray/tests/__init__.py
  xarray/tests/test_backends_datatree.py
Labels: topic-zarr, topic-DataTree

#10156 Forbid datatree to zarr append dim
  doc/whats-new.rst
  xarray/core/datatree_io.py
Labels: topic-zarr, plan to merge, topic-DataTree

#10151 Preserve label ordering for multi-variable GroupBy
  xarray/core/groupby.py
  xarray/groupers.py
  xarray/tests/test_groupby.py
Labels: plan to merge

#10174 Move fit computation code to dedicated new file
  xarray/computation/fit.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/tests/test_dataarray.py
Labels: topic-internals

#10173 Fix GroupBy first, last with flox
  .github/workflows/upstream-dev-ci.yaml
  doc/whats-new.rst
  xarray/core/groupby.py
  xarray/tests/conftest.py
  xarray/tests/test_groupby.py
Labels: plan to merge, run-upstream

#10161 Allow setting `fill_value` on Zarr format 3 arrays
  doc/user-guide/io.rst
  doc/whats-new.rst
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: plan to merge

#10154 DataTree: sel & isel add error context
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/tests/test_datatree.py
Labels: topic-error reporting, plan to merge, topic-DataTree

#10181 Use explicit repo name in upstream wheels
  ci/install-upstream-wheels.sh
Labels: run-upstream

#10185 Fix: Correct axis labelling with units for FacetGrid plots
  doc/whats-new.rst
  xarray/plot/facetgrid.py
  xarray/tests/test_plot.py
Labels: plan to merge
