Repository pydata/xarray, pull requests merged in 2025-05, with the labels that each got.

#10262 Add `xarray-lmfit` extension for curve fitting to ecosystem documentation
  doc/conf.py
  doc/user-guide/ecosystem.rst
  xarray/core/dataarray.py
  xarray/core/dataset.py
Labels: topic-documentation

#10283 Rename Twitter to X
  CORE_TEAM_GUIDE.md
  HOW_TO_RELEASE.md
  README.md
  design_notes/named_array_design_doc.md
Labels: topic-documentation

#10215 Add public typing.py module
  doc/whats-new.rst
  xarray/typing.py
Labels: topic-documentation

#10289 Adding xarray-eopf to ecosystem.rst
  doc/user-guide/ecosystem.rst
Labels: topic-documentation

#10282 Add redirect for contributing guide
  doc/conf.py
Labels: topic-documentation

#10137 Add Index.validate_dataarray_coord
  doc/api-hidden.rst
  doc/api.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/core/coordinates.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/indexes.py
  xarray/groupers.py
  xarray/testing/assertions.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: topic-indexing, topic-documentation, topic-groupby, topic-testing, plan to merge

#8821 Fix for scalar detection
  xarray/core/indexing.py
  xarray/tests/test_backends.py
Labels: topic-indexing, topic-documentation

#10290 DOC: Remove reference to `absolufy-imports` from contributing guide
  doc/contribute/contributing.rst
Labels: topic-documentation

#10277 Do not rely on np.broadcast_to to perform trivial dimension insertion
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/tests/test_variable.py
Labels: topic-documentation

#10291 (fix): remove `PandasExtensionArray` from repr
  xarray/core/variable.py
  xarray/tests/test_dataset.py
Labels: topic-documentation

#9524 Add SeasonGrouper, SeasonResampler
  doc/api.rst
  doc/conf.py
  doc/user-guide/groupby.rst
  doc/user-guide/time-series.rst
  properties/test_properties.py
  pyproject.toml
  xarray/compat/toolzcompat.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/groupers.py
  xarray/tests/__init__.py
  xarray/tests/test_groupby.py
Labels: topic-documentation, topic-groupby, topic-hypothesis

#10294 dev whats-new
  doc/whats-new.rst
Labels: topic-documentation

#10292 (fix): allow upcasting of nans in `as_shared_dtype` for extension arrays
  xarray/core/duck_array_ops.py
  xarray/tests/test_dataset.py
Labels: topic-documentation, topic-arrays, plan to merge

#10295 Fix BinGrouper when labels is not specified
  doc/whats-new.rst
  xarray/groupers.py
  xarray/tests/test_groupby.py
Labels: topic-documentation, plan to merge

#10319 Fix rolling mean on bool arrays
  xarray/computation/rolling.py
  xarray/tests/test_rolling.py
Labels: topic-documentation, topic-rolling

#10293 Alignment of n-dimensional indexes with partially excluded dims
  doc/whats-new.rst
  xarray/core/coordinate_transform.py
  xarray/core/indexes.py
  xarray/indexes/range_index.py
  xarray/structure/alignment.py
  xarray/tests/test_coordinate_transform.py
  xarray/tests/test_dataset.py
Labels: topic-indexing, topic-documentation, plan to merge

#10341 FIX: prevent unnecessary type casts in rolling mean
  doc/whats-new.rst
  xarray/computation/rolling.py
Labels: topic-documentation, topic-rolling, plan to merge

#10306 Remove `"Y"` and `"M"` from `DatetimeUnitOptions`
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/types.py
Labels: topic-documentation, topic-typing

#10313 fix roundtripping zero-size timedelta arrays
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_coding_times.py
Labels: topic-documentation, topic-cftime, plan to merge

#10101 Implement literal `np.timedelta64` coding
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/conventions.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
Labels: topic-documentation, topic-CF conventions, topic-cftime, topic-typing

#10303 Set `.conjugate` as alias of `.conj`, #10302
  xarray/computation/ops.py
  xarray/tests/test_dask.py
Labels: topic-documentation, plan to merge

#10351 The URL in CONTRIBUTING.md was broken and didn't automatically redirect.
  CONTRIBUTING.md
Labels: topic-documentation

#10235 Docs: User Guide for Complex Numbers
  doc/user-guide/complex-numbers.rst
  doc/user-guide/index.rst
  doc/whats-new.rst
Labels: topic-documentation, plan to merge

#10316 Avoid copying vectorized indexes
  asv_bench/benchmarks/indexing.py
  doc/whats-new.rst
  xarray/core/indexing.py
Labels: topic-indexing, topic-documentation, topic-performance, run-benchmark

#10330 apply_ufunc: don't modify attrs on input variables
  xarray/structure/merge.py
  xarray/tests/test_computation.py
  xarray/tests/test_merge.py
  xarray/tests/test_ufuncs.py
Labels: topic-documentation

#10365 Fix "a array" misspelling
  doc/get-help/howdoi.rst
  xarray/core/common.py
  xarray/core/duck_array_ops.py
Labels: topic-documentation, topic-arrays

#10363 Apply assorted ruff/flake8-pytest-style rules (PT)
  xarray/tests/test_accessor_dt.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_dask.py
  xarray/tests/test_datatree.py
  xarray/tests/test_distributed.py
  xarray/tests/test_formatting_html.py
  xarray/tests/test_plot.py
Labels: topic-documentation

#10364 Apply assorted ruff/flake8-simplify rules (SIM)
  xarray/backends/h5netcdf_.py
  xarray/backends/locks.py
  xarray/backends/netcdf3.py
  xarray/backends/zarr.py
  xarray/coding/frequencies.py
  xarray/coding/times.py
  xarray/computation/computation.py
  xarray/conventions.py
  xarray/core/dataset.py
  xarray/core/formatting.py
  xarray/core/groupby.py
  xarray/core/missing.py
  xarray/core/parallel.py
  xarray/core/utils.py
  xarray/core/variable.py
  xarray/groupers.py
  xarray/indexes/range_index.py
  xarray/plot/facetgrid.py
  xarray/plot/utils.py
  xarray/structure/alignment.py
  xarray/structure/concat.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_computation.py
  xarray/tests/test_dataset.py
  xarray/tests/test_distributed.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
  xarray/tests/test_units.py
  xarray/util/print_versions.py
Labels: topic-backends, topic-documentation, topic-CF conventions, topic-groupby, topic-dask, topic-plotting, topic-cftime, topic-zarr, io

#10369 Ignore ruff/Pyflakes rule F401 more precisely
  xarray/core/duck_array_ops.py
Labels: topic-documentation, topic-arrays

#10368 Enforce ruff/flake8-implicit-str-concat rules (ISC)
  pyproject.toml
Labels: topic-documentation

#10317 (fix): pandas extension array repr for int64[pyarrow]
  xarray/core/extension_array.py
  xarray/core/formatting.py
  xarray/tests/__init__.py
  xarray/tests/test_concat.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
Labels: topic-documentation

#10359 Enforce ruff/flake8-pyi rules (PYI)
  pyproject.toml
  xarray/backends/api.py
  xarray/computation/apply_ufunc.py
  xarray/core/accessor_dt.py
  xarray/core/datatree_render.py
  xarray/core/indexes.py
  xarray/core/types.py
  xarray/core/utils.py
  xarray/groupers.py
  xarray/namedarray/_typing.py
  xarray/namedarray/dtypes.py
  xarray/structure/chunks.py
  xarray/structure/merge.py
  xarray/tests/test_backends.py
  xarray/util/generate_aggregations.py
Labels: topic-backends, topic-indexing, topic-documentation, topic-plotting, topic-DataTree, topic-typing, io, topic-NamedArray

#10348 use numpy dtype exposed by zarr array instead of metadata.data_type
  xarray/backends/zarr.py
Labels: topic-backends, topic-documentation, topic-zarr, plan to merge, io

#10353 Improve html repr in dark mode (Jupyterlab + Xarray docs)
  doc/_static/style.css
  xarray/static/css/style.css
Labels: topic-documentation

#10343 Add missing AbstractWritableDataStore base methods and arguments
  xarray/backends/common.py
Labels: topic-backends, topic-documentation, io

#10324 Docs: Add links to getting help mermaid diagram
  doc/conf.py
  doc/get-help/help-diagram.rst
Labels: topic-documentation

#10354 html repr: improve style for dropdown sections
  doc/whats-new.rst
  xarray/static/css/style.css
Labels: topic-documentation, topic-html-repr, plan to merge
