Repository pydata/xarray, pull requests merged in 2025-01, with the labels that each got.

#9911 fix warning from scipy backend guess_can_open on directory
  xarray/core/utils.py
Labels: topic-backends, plan to merge

#9906 time coding refactor
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/core/pdcompat.py
  xarray/tests/test_coding_times.py
Labels: plan to merge

#9920 Silence upstream Zarr warnings
  pyproject.toml
  xarray/tests/test_backends.py
  xarray/tests/test_variable.py
Labels: run-upstream

#9927 Fix zarr upstream tests
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: run-upstream

#9945 Remove outdated quantile test.
  xarray/tests/test_groupby.py
Labels: plan to merge

#9618 Relax nanosecond datetime restriction in CF time decoding
  doc/internals/index.rst
  doc/internals/time-coding.rst
  doc/user-guide/io.rst
  doc/user-guide/time-series.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/coding/times.py
  xarray/coding/variables.py
  xarray/core/indexing.py
  xarray/core/pdcompat.py
  xarray/core/variable.py
  xarray/tests/__init__.py
  xarray/tests/conftest.py
  xarray/tests/test_backends.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_computation.py
  xarray/tests/test_concat.py
  xarray/tests/test_conventions.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_groupby.py
  xarray/tests/test_interp.py
  xarray/tests/test_plot.py
  xarray/tests/test_variable.py
Labels: topic-CF conventions, topic-cftime, plan to merge, run-upstream

#9953 fix upstream dev issues
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_variable.py
Labels: plan to merge, run-upstream

#9943 Suggest the correct name when no key matches in the dataset
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/utils.py
Labels: topic-error reporting, plan to merge

#9963 cast type to PDDatetimeUnitOptions
  xarray/coding/times.py
Labels: topic-typing

#9961 Update time coding tests to assert exact equality
  doc/whats-new.rst
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
Labels: plan to merge

#9967 Use zarr-fixture to prevent thread leakage errors
  doc/whats-new.rst
  xarray/tests/test_distributed.py
Labels: run-upstream

#9980 Remove unnecessary a article
  doc/user-guide/terminology.rst
Labels: topic-documentation

#9948 Add `shards` to `valid_encodings` to enable sharded Zarr writing
  xarray/backends/zarr.py
  xarray/tests/test_backends.py
Labels: bug, topic-zarr, plan to merge

#9958 Enable `DataTree.to_zarr(compute=False)`
  doc/whats-new.rst
  xarray/core/datatree_io.py
  xarray/tests/test_backends_datatree.py
Labels: topic-zarr, topic-DataTree

#9977 fix mean for datetime-like using the respective time resolution unit
  doc/whats-new.rst
  xarray/core/duck_array_ops.py
  xarray/tests/test_duck_array_ops.py
Labels: plan to merge

#9990 Migrate Zarr region="auto" tests to a class
  xarray/tests/test_backends.py
Labels: plan to merge

#10004 Use `freq="D"` instead of `freq="d"` in `pd.timedelta_range`
  xarray/tests/test_coding_times.py
Labels: run-upstream

#10006 remove outdated type-ignores
  xarray/core/dataset.py
  xarray/core/dtypes.py
Labels: run-upstream

#9070 Preserve order of variables in combine_by_coords
  doc/whats-new.rst
  xarray/core/combine.py
  xarray/tests/test_combine.py
Labels: run-benchmark

#9855 Add FAQ answer about API stability & backwards compatibility
  doc/api.rst
  doc/getting-started-guide/faq.rst
  doc/whats-new.rst
Labels: topic-documentation
