Repository pydata/xarray, pull requests merged in 2025-02, with the labels that each got.

#9883 Duck array ops for `all` and `any`
  xarray/coding/times.py
  xarray/core/duck_array_ops.py
  xarray/core/formatting.py
  xarray/core/nanops.py
  xarray/core/weighted.py
  xarray/groupers.py
  xarray/testing/assertions.py
Labels: plan to merge, array API standard

#10016 `map_over_datasets`: fix error message for wrong result type
  xarray/core/datatree_mapping.py
  xarray/tests/test_datatree_mapping.py
Labels: plan to merge, topic-DataTree

#10041 Upgrade mypy to 1.15
  .github/workflows/ci-additional.yaml
  xarray/core/groupby.py
  xarray/core/indexing.py
  xarray/core/resample.py
Labels: topic-typing

#10012 implement map_over_datasets kwargs
  doc/whats-new.rst
  xarray/core/datatree.py
  xarray/core/datatree_mapping.py
  xarray/tests/test_datatree_mapping.py
Labels: topic-DataTree

#10000 Add `Coordinates.from_xindex` method (+ refactor API doc)
  doc/api-hidden.rst
  doc/api.rst
  doc/whats-new.rst
  xarray/core/coordinates.py
  xarray/tests/test_coordinates.py
Labels: plan to merge

#9543 Flexible coordinate transform
  doc/whats-new.rst
  xarray/core/coordinate_transform.py
  xarray/core/coordinates.py
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/indexes/__init__.py
  xarray/tests/test_coordinate_transform.py
Labels: API design, topic-indexing, plan to merge

#10038 More precisely type `pipe` methods
  .github/workflows/ci.yaml
  ci/minimum_versions.py
  ci/requirements/all-but-dask.yml
  ci/requirements/all-but-numba.yml
  ci/requirements/bare-minimum.yml
  ci/requirements/environment-3.14.yml
  ci/requirements/environment-windows-3.14.yml
  ci/requirements/environment-windows.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  conftest.py
  pyproject.toml
  xarray/core/common.py
  xarray/core/datatree.py
  xarray/tests/test_dataarray_typing.yml
  xarray/tests/test_dataset_typing.yml
  xarray/tests/test_datatree.py
  xarray/tests/test_datatree_typing.yml
Labels: topic-typing

#10058 Default to phony_dims="access" in h5netcdf-backend
  doc/whats-new.rst
  xarray/backends/h5netcdf_.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_datatree.py
Labels: plan to merge

#10066 Restrict fastpath isel indexes to the case of all PandasIndex
  doc/whats-new.rst
  xarray/core/indexes.py
  xarray/tests/test_dataset.py
Labels: plan to merge, run-benchmark

#10024 deprecate cftime_range() in favor of date_range(use_cftime=True)
  doc/contributing.rst
  doc/user-guide/weather-climate.rst
  doc/whats-new.rst
  xarray/coding/cftime_offsets.py
  xarray/coding/cftimeindex.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/parallel.py
  xarray/core/resample_cftime.py
  xarray/tests/test_backends.py
  xarray/tests/test_cftime_offsets.py
  xarray/tests/test_cftimeindex.py
  xarray/tests/test_cftimeindex_resample.py
  xarray/tests/test_coarsen.py
  xarray/tests/test_coding_times.py
  xarray/tests/test_conventions.py
  xarray/tests/test_dataset.py
  xarray/tests/test_distributed.py
  xarray/tests/test_duck_array_ops.py
  xarray/tests/test_interp.py
  xarray/tests/test_missing.py
  xarray/tests/test_plot.py
  xarray/tests/test_weighted.py
Labels: plan to merge

#10078 Generalize lazy backend indexing a little more
  doc/whats-new.rst
  xarray/core/indexes.py
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Labels: plan to merge
