Repository pydata/xarray, pull requests merged in 2025-07, with the labels that each got.

#10471 Fix RangeIndex slicing
  xarray/indexes/range_index.py
  xarray/tests/test_range_index.py
Labels: topic-documentation

#10438 update dependencies; drop python 3.10
  .binder/environment.yml
  .github/workflows/ci-additional.yaml
  .github/workflows/ci.yaml
  ci/requirements/all-but-numba.yml
  ci/requirements/bare-min-and-scipy.yml
  ci/requirements/bare-minimum.yml
  ci/requirements/doc.yml
  ci/requirements/environment.yml
  ci/requirements/min-all-deps.yml
  doc/contribute/contributing.rst
  doc/getting-started-guide/installing.rst
  doc/whats-new.rst
  pyproject.toml
  xarray/core/accessor_dt.py
  xarray/core/datatree_mapping.py
  xarray/core/types.py
  xarray/namedarray/core.py
  xarray/util/generate_ops.py
Labels: topic-documentation, CI, dependencies, Automation, topic-DataTree, topic-typing, topic-NamedArray

#10469 Fix critical `np.timedelta64` encoding bugs
  doc/whats-new.rst
  xarray/coding/times.py
  xarray/tests/test_backends.py
  xarray/tests/test_coding_times.py
Labels: topic-backends, topic-documentation, topic-cftime, io

#10482 Prevent pydap (dap4) to change string arrays to unicode type (testing). Fixed upstream
  ci/requirements/min-all-deps.yml
  doc/whats-new.rst
  xarray/tests/test_backends.py
Labels: topic-documentation, CI, dependencies

#10464 Use add_note() to annotate exceptions when encoding fails
  doc/whats-new.rst
  xarray/backends/common.py
  xarray/conventions.py
  xarray/tests/test_backends_common.py
Labels: topic-backends, topic-documentation, topic-CF conventions, plan to merge, io

#10492 Fix Zarr 'number of requests' test
  xarray/tests/conftest.py
  xarray/tests/test_backends.py
Labels: topic-documentation

#10472 Rename toplevel header from Contribute to Development
  doc/contribute/index.rst
  doc/index.rst
Labels: topic-documentation

#10494 Fix bug with `ci/release_contributors.py` script
  ci/release_contributors.py
Labels: topic-documentation, CI

#10495 Release notes for v2025.07.0
  doc/whats-new.rst
Labels: topic-documentation, Release

#10496 New whatsnew section
  doc/whats-new.rst
Labels: topic-documentation

#10506 Unnecessary generator
  xarray/core/indexes.py
  xarray/core/treenode.py
  xarray/groupers.py
Labels: topic-indexing, topic-documentation

#10504 Use `is` when comparing type of two objects
  xarray/plot/utils.py
  xarray/tests/test_units.py
Labels: topic-documentation, topic-plotting

#10505 More f-strings, less format()
  xarray/backends/common.py
  xarray/computation/apply_ufunc.py
  xarray/computation/rolling.py
  xarray/core/formatting.py
Labels: topic-backends, topic-documentation, topic-rolling, io

#10509 Use a set comprehension
  xarray/indexes/nd_point_index.py
Labels: topic-documentation

#10511 Update pre-commit ruff legacy alias
  .pre-commit-config.yaml
Labels: topic-documentation

#10515 DOC: add Pandas(Multi)Index to API reference
  doc/api.rst
Labels: topic-documentation

#10517 Update Custom Indexes section in api.rst
  doc/api-hidden.rst
  doc/api.rst
  xarray/core/coordinate_transform.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/indexes.py
Labels: topic-indexing, topic-documentation

#10456 Updates for Zarr 3 Dtypes
  xarray/tests/__init__.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-documentation, topic-zarr, CI, Automation, io, run-upstream

#10520 Add release notes for v2025.07.1
  doc/api.rst
  doc/whats-new.rst
  xarray/indexes/__init__.py
Labels: topic-documentation, Release

#10522 Add dev whats-new
  doc/whats-new.rst
Labels: topic-documentation

#10525 Pydap flaky tests
  doc/whats-new.rst
  xarray/tests/test_backends_datatree.py
Labels: topic-documentation

#10528 drop_vars: use emit_user_level_warning
  xarray/core/dataset.py
Labels: topic-documentation

#10524 Fix labeler for `topic-documentation`
  .github/labeler.yml
Labels: topic-documentation, Automation

#10529 CI: update actions location
  .github/workflows/hypothesis.yaml
  .github/workflows/upstream-dev-ci.yaml
Labels: topic-documentation, Automation

#10543 Call `super().__init__()` in `st.SearchStrategy` subclasses
  xarray/testing/strategies.py
Labels: topic-testing, topic-hypothesis, run-slow-hypothesis

#10540 Restructure API documentation into organized sections
  .gitignore
  doc/api.rst
  doc/api/accessors.rst
  doc/api/advanced.rst
  doc/api/backends.rst
  doc/api/coarsen.rst
  doc/api/coordinates.rst
  doc/api/dataarray.rst
  doc/api/dataset.rst
  doc/api/datatree.rst
  doc/api/deprecated.rst
  doc/api/encoding.rst
  doc/api/exceptions.rst
  doc/api/groupby.rst
  doc/api/indexes.rst
  doc/api/io.rst
  doc/api/plotting.rst
  doc/api/resample.rst
  doc/api/rolling-exp.rst
  doc/api/rolling.rst
  doc/api/testing.rst
  doc/api/top-level.rst
  doc/api/tutorial.rst
  doc/api/ufuncs.rst
  doc/api/weighted.rst
Labels: topic-documentation

#10546 Fix transpose of BoolTypeArray, NativeEndiannessArray
  doc/whats-new.rst
  xarray/coding/variables.py
  xarray/tests/test_backends.py
  xarray/tests/test_conventions.py
Labels: plan to merge

#10554 interp - Prefer broadcast over reindex when possible
  asv_bench/benchmarks/interp.py
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/tests/test_interp.py
Labels: topic-performance, plan to merge

#10577 install `pyarrow` from its official repo
  ci/install-upstream-wheels.sh
Labels: CI, run-upstream

#10564 fix: pd.Series in pandas>=3 does not preserve object dtype metadata
  xarray/core/variable.py
  xarray/tests/test_dataset.py
Labels: topic-indexing, topic-arrays, run-upstream
