Repository pydata/xarray, pull requests merged in 2025-08, with the labels that each got.

#10062 New defaults for `concat`, `merge`, `combine_*`
  doc/user-guide/combining.rst
  doc/user-guide/terminology.rst
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/core/dataset.py
  xarray/core/groupby.py
  xarray/core/options.py
  xarray/core/parallel.py
  xarray/plot/dataarray_plot.py
  xarray/structure/alignment.py
  xarray/structure/combine.py
  xarray/structure/concat.py
  xarray/structure/merge.py
  xarray/tests/arrays.py
  xarray/tests/test_backends.py
  xarray/tests/test_combine.py
  xarray/tests/test_concat.py
  xarray/tests/test_dask.py
  xarray/tests/test_dataarray.py
  xarray/tests/test_dataset.py
  xarray/tests/test_duck_array_wrapping.py
  xarray/tests/test_groupby.py
  xarray/tests/test_merge.py
  xarray/tests/test_units.py
  xarray/util/deprecation_helpers.py
Labels: topic-backends, topic-groupby, topic-dask, topic-plotting, io

#10603 change the type of `ogp_custom_meta_tags` to `tuple`
  doc/conf.py
Labels: topic-documentation

#10571 Support for DataTree.to_netcdf to write to a file-like object or bytes
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/common.py
  xarray/backends/file_manager.py
  xarray/backends/h5netcdf_.py
  xarray/backends/netCDF4_.py
  xarray/backends/plugins.py
  xarray/backends/pydap_.py
  xarray/backends/scipy_.py
  xarray/backends/store.py
  xarray/backends/zarr.py
  xarray/core/dataarray.py
  xarray/core/dataset.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/core/utils.py
  xarray/tests/test_backends.py
  xarray/tests/test_backends_common.py
  xarray/tests/test_backends_datatree.py
Labels: topic-backends, topic-zarr, topic-DataTree, io

#9955 add kwarg to handle invalid files in open_mfdataset
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-error reporting, plan to merge, io

#10580 slicing a slice with an array without expanding the slice
  xarray/core/indexing.py
  xarray/tests/test_indexing.py
Labels: topic-indexing

#10627 clarify lazy behaviour and eager loading chunks=None in open_*-functions
  doc/whats-new.rst
  xarray/backends/api.py
  xarray/backends/zarr.py
Labels: topic-backends, topic-zarr, io

#10596 Fix `ds.merge` to prevent altering original object depending on join value
  doc/whats-new.rst
  xarray/core/variable.py
  xarray/structure/merge.py
  xarray/tests/test_merge.py
Labels: run-benchmark

#10644 Improve DataTree typing
  xarray/backends/api.py
  xarray/core/datatree.py
  xarray/core/datatree_io.py
  xarray/core/datatree_mapping.py
  xarray/core/treenode.py
  xarray/tests/test_backends_datatree.py
  xarray/tests/test_datatree.py
  xarray/tests/test_treenode.py
Labels: topic-backends, topic-DataTree, io

#10649 Add load_datatree function
  doc/api/io.rst
  doc/whats-new.rst
  xarray/__init__.py
  xarray/backends/api.py
  xarray/tests/test_backends.py
Labels: topic-backends, topic-DataTree, io

#10519 Support rechunking to seasonal frequency with SeasonalResampler
  doc/api/groupby.rst
  doc/whats-new.rst
  xarray/core/dataset.py
  xarray/core/types.py
  xarray/groupers.py
  xarray/tests/test_dataset.py
Labels: topic-documentation, plan to merge, topic-typing

#10677 migrate to xarray-contrib/minimum-dependency-versions
  .github/workflows/ci-additional.yaml
  ci/minimum_versions.py
  ci/policy.yaml
Labels: CI, Automation
